*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.mainInBody{
    width: 1200px;
    margin:auto;
    min-height: 100vh;
    /* background-color: beige; */
    display: flex;
}
  /* 사이드메뉴 */
.sideMenu{
    display: flex;
    margin: 20px 0;
    width: 300px;
    min-height: 100vh;
    align-self: flex-start;
}
.aside{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aside a:hover{
    color: #538126;
}

.myProject_User_side{
    text-decoration: none;
    cursor: pointer;
    padding: 8px 20px;
    font-weight: bold;
    color: black;
    font-size: 20px;
}
  /* 사이드메뉴 */

/* 메인내용 */
.mainContent{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.container{
    position: relative;
}

.container_header{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    padding-bottom: 10px;
}

.container_header_left{
    display: flex;
    align-items: flex-end;
    
}

  /* 내프로젝트 */
.container_title > span{
    font-size: 25px;
    font-weight: bold;
}

.container_title{
    padding-right: 20px;
}

.srchOption{
    width:150px;
    height:30px;
    border-radius: 3%;
    border: 1px solid #c6c6c9;
}
  /* 내프로젝트 */
    
    
  /* 데이터 출력 테이블 */
caption {
    display: none;
}
table {
    border-style: none; 
    text-indent: initial;
    width:100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 30px;
}

.tbl_lst_type {
    width: 930px;
    font-size: 16px;
    line-height: 16px;
    table-layout: fixed;
}

thead th{
    line-height: 30px;
    border-bottom: 1px solid black;
}

tbody{
    padding-top: 10px;
    border: 0px;
    vertical-align: middle;
    width:930px;
}

tbody a{
    color: black;
}

tbody tr{
    display: table;
    width:930px;
}
tbody td:nth-of-type(1){
    width: 80px;
}
tbody td:nth-of-type(2){
    width: 300px;
}
tbody td:nth-of-type(3){
    width: 100px;
}
tbody td:nth-of-type(4){
    width: 100px;
}
tbody td:nth-of-type(5){
    width: 100px;
}
tbody td:nth-of-type(6){
    width: 200px;
}

    
.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.td_link > a{
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.tbl_lst_type th strong{
    font-size: 20px;
}

#srchOption{
    width: 130px;
    margin-right: 20px;
}

.inputBox input{
    margin: 0 20px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid gray;
}

.buttonBox button{
    width: 130px;
    height: 30px;
    background-color: #538126;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #538126;
}

.complete , .cancle{
    background-color: #538126;
    border:1px solid #538126;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 23px;
    cursor: pointer;
}
.report{
    background-color: red;
    border:1px solid red;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 23px;
    cursor: pointer;
}

.review{
    background-color: #538126;
    border:1px solid #538126;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 23px;
    cursor: pointer;
}
