.main{
    width: 1200px;
    margin:auto;
}
.serviceSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.servicePhoto{

    width: 218px;
    height: 210px;
   
    
    margin-left:20px;
    margin-bottom: 20px;

    border:1px solid black;
    position:relative;
}