.myprojectReview{
  position: relative;
  width: 500px;
  height: 500px;
}

.myprojectReview_list{
  display: flex;
  flex-direction: row;
}

.title{
  padding-bottom:5px;
}

.title > span{
  font-size: 25px;
  font-weight: bold;
}

.list_title{
  margin-right: 20px;
  width: 80px;
}

.list_title > span{
  font-weight: bold;
  font-size: 20px;
}

.myprojectReview_list{
  margin: 20px 0px;
}

.reviewBox{
  width: 350px;
  height: 30px;
  border: 1px solid #c6c6c9;
}

.myprojectReviewTotalContent{
  min-height: 200px !important;
  overflow-y: auto;
  overflow-x:hidden;
  resize: none;
}

.btnDiv{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  display:inline-block;
	text-align:center;
  width: 150px;
  height:40px;
  padding:3px 0;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #538126;
  border:1px solid #538126; 
  color:white;
}

