.mainInBody{
  width: 1200px;
  margin:auto;

  display: flex;
}
/* 사이드메뉴 */
.sideMenu{
  display: flex; 
  margin: 20px 0;
  width: 300px;
  align-self: flex-start;
  /* background-color:cornflowerblue; */
}
.aside{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside a:hover{
  color: #538126;
}

.myProject_User_side{
  text-decoration: none;
  cursor: pointer;
  padding: 8px 20px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
/* 사이드메뉴 */

/* 메인내용 */
.mainContent{
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.container{
  position: relative;
  min-height: 500px;
}

.container_header{
  display: flex;
  margin: 0px 5px;
  padding-bottom: 10px;
}

/* 내프로젝트 */
.container_title > span{
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}
.container_title  input{
  height: 30px;
  width: 150px;
  vertical-align: middle;
}
.container_title select{
  width: 120px;
  height: 34px;
  vertical-align: middle;
  margin-right: 190px;
}

.container_title{
  padding-right: 20px;
}

/* 검색 버튼 */
.dateSearchBtn{
	font-size: 15px;
	background-color: #538126;
	border: none;
	color: white;
	cursor: pointer;
  width: 90px;
  height: 35px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 5px;
}















/* 내프로젝트 */
table{
  border-collapse: collapse;
}

.tableHeader{
  border-bottom: 1px solid black;

}

table th{
  height: 50px;
}

table td{
  text-align: center;
  height: 40px;
  margin-bottom: 10px;
}



/* pagination */
.pagination {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-bottom: 50px;
}

.pagination li {
	width: 20px;
	margin: 0 5px;
	text-align: center;
}

.pagination a {
	display: block;
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
}

.current {
	font-weight: bold;
	background-color: black;
	border-radius: 50%;
	color: white !important;
	letter-spacing: 0 !important;
}




