
/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: auto;
    display: flex;
    margin:auto;
}

/* 사이드 메뉴 영역*/
.sideMenu{
    width: 200px;
    height: auto;
}


/* 메인 영역 */
.mainContent{
    width: 900px;
    margin-left: 20px;
}

/* ---------문의하기폼--------- */
.inquirySubmit{
    margin: 50px;
    
}

/* 문의하기 페이지 제목 */
#title{
    font-size: 30px;
}
#tltleInfo{
    font-size: 15px;
    color: #538126;
    font-weight: 400;
    text-decoration: green;
}

/* 각 문의하기 작성소제목 */
.inquirySubmit div{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* hover 했을 경우*/
.inquirySubmit input:hover{
    border: 2px solid #538126;
}
.inquirySubmit select:hover{
    border: 2px solid #538126;
}
.inquirySubmit textarea:hover{
    border: 2px solid #538126;
}
.boardImg label:hover{
    border: 2px solid #538126;
}

/* 문의 유형 */
#division{
    width: 608px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
#titleInput{
    padding-left: 10px;
    width: 595px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}
.inquirySubmit textarea{
    width: 600px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}


/* ---------등록 버튼--------- */
.inquiryInsert{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: #538126;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.inquiryInsert a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#goToMain{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: #fff;
    border:1px solid #538126;
    cursor: pointer;
    border-radius: 5px;
}
#goToMain a{
    text-decoration: none;
    color: #538126;
    font-size: 18px;
}
/* --------------------------- */

/*  --------------사이드 메뉴  --------------*/
#inquiry{
    margin: 50px 50px 0px 50px;
}
#inquiryList{
    margin: 20px 50px;
}
#inquiry a, #inquiryList a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* ----------------------------------- */
/* 첨부파일 이미지 영역 */
.img-box{
    display: flex;
    justify-content: space-between;
    width: 600px;
}


/* 이미지를 감싸는 div */
.boardImg{
    width: 180px;
    height: 180px;
    display: inline-block;
    text-align: center;
    position: relative;
}


/* 이미지 */
.boardImg>label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.inputImage{
    display: none;
    width: 180px;
}

.boardImg img{
    max-width: 100%;
    max-height: 100%; 
}

/* 삭제 버튼 */
.delete-image {
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer;

}
/* ----------------------------------- */



