

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: 800px;
    display: flex;
    margin:auto;
}

/* 사이드 메뉴 영역*/
.sideMenu{
    width: 200px;
    height: 800px;
}

/* 메인 영역 */
.mainContent{
    width: 900px;
    margin-left: 20px;
}

/*  --------------사이드 메뉴  --------------*/
#inquiry{
    margin: 50px 50px 0px 50px;
}
#inquiryList{
    margin: 20px 50px;
}
#inquiry a, #inquiryList a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ///////////////// ////////////////////////////*/

/* ---------문의하기폼--------- */
#inquirySubmit{
    margin: 50px;

}

/* 문의하기 페이지 제목 */
#title{
    font-size: 30px;
}
#tltleInfo{
    font-size: 15px;
    color:  #538126;
}

/* hover 했을 경우*/
#inquirySubmit select:hover{
    border: 2px solid #538126;
}

/* 문의 유형 */
#division{
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* ----------------------테이블 폼---------------------- */
table{
    border-collapse: collapse;
    margin: 0 auto;
}
table th{
    border-bottom: 1px solid black;
    height: 50px;
}
table td{
    height: 50px;
    text-align: center;
}
table button{
    width: 80px;
    height: 30px;
    background-color: #538126;
    border: 1px solid #538126;
    border-radius: 10%;
    color: #fff;
    font-weight: 200;
    margin-left: 10px;
}
/* ------------------------------------------------------ */


/* 페이지 리스트 */
#pageList{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}


hr{
    color: #538126;
}