/* mainArea /sideMenu영역  */
.mainArea{
    width: 1100px;
    height: auto;
    display: flex;
    margin: auto;
}

/* 메인 영역 */
.mainContent{
    width: 800px;
}

/*  --------------사이드 메뉴  --------------*/
/* 사이드 메뉴 영역*/
.sideMenu{
    width: 300px;
    height: auto;
}

#inquiry{
    text-align: left;
    margin: 50px 0 0 70px;
}
#inquiryList{
    text-align: left;
    margin: 40px 0 0 70px;
}
#inquiry a, #inquiryList a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
#inquiry a:hover{
    color: #538126;
}
#inquiryList a:hover{
    color: #538126;
}
/*  --------------사이드 메뉴  --------------*/

/* ///////////////// ////////////////////////////*/

/* ---------문의하기폼--------- */
#inquirySubmit{
    width: 800px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* 문의하기 페이지 제목 */
#title{
    font-size: 30px;
}

/* 문의 유형 */
#division{
    width: 130px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align-last: center;
}
#division:hover{
    border: 1px solid #538126;
}

/* ----------------------테이블 폼---------------------- */
table{
    border-collapse: collapse;
    margin: 0 auto;
}
table th{
    border-bottom:  1px solid #c6c6c9;
    height: 50px;
}
table td{
    height: 50px;
    text-align: center;
}
/* ------------------------------------------------------ */

/* ========================== */
/* 페이지 처리 */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
.current {
    font-weight: bold;
    background-color: #538126;
    border-radius: 50%;
    color: white !important;
    letter-spacing: 0 !important;
}

/* ========================== */
table a{
    text-decoration: none;
    color: black;
}

/* 하단 검색 창  */
#inquirySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

/* 하단 검색창 selectBox */
#inquirySearch select{
    width: 100px;
    height: 45px;
}
#inquirySearch select:hover{
    border: 1px solid #538126;
}
/* 하단 검색창 input */
#inquirySearch input{
    width: 250px;
    height: 39px;
    margin-left: 10px;
    padding-left: 15px;
}
#inquirySearch input:hover{
    border: 1px solid #538126;
}

/* 하단 검색창 button */
#inquirySearch button{
    width: 100px;
    height: 45px;
    margin-left: 10px;
    background-color: #538126;
    border-radius: 5px;
    border: 1px solid #538126;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
#inquirySearch button:hover{
    background-color: #4a7222;
    font-size: 16px;
}
#search-key{
    font-size: 15px;
    text-align-last: center;
}



/* ================================ */
/* 상태 표시 - 답변 완료 */
.question-answer{
    display: inline-block;
    width: 100px;
    height: 24px;
    text-align: center;
    color: white;
    border-radius: 5px;
    line-height: 25px;
    font-size: 15px;
    background-color: #538126
}

/* 상태 표시 - 대기중  */
.question-wating{
    display: inline-block;
    width: 100px;
    height: 24px;
    text-align: center;
    line-height: 25px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(165, 173, 165);

}
/* ================================ */