

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: auto;
    display: flex;
    margin:auto;
}

/* 사이드 메뉴 영역*/
.sideMenu{
    width: 200px;
    height: 800px;
}

/* 메인 영역 */
.mainContent{
    width: 900px;
    margin-left: 20px;
}

/*  --------------사이드 메뉴  --------------*/
#inquiry{
    margin: 50px 50px 0px 50px;
}
#inquiryList{
    margin: 20px 50px;
}
#inquiry a, #inquiryList a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ///////////////// ////////////////////////////*/

/* ---------문의하기폼--------- */
#inquirySubmit{
    margin: 50px;

}

/* 문의하기 페이지 제목 */
#title{
    font-size: 30px;
}
#tltleInfo{
    font-size: 15px;
    color:  #538126;
}

/* hover 했을 경우*/
#inquirySubmit select:hover{
    border: 2px solid #538126;
}

/* 문의 유형 */
#division{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* ----------------------테이블 폼---------------------- */
table{
    border-collapse: collapse;
    margin: 0 auto;
}
table th{
    border-bottom: 1px solid #538126;
    height: 50px;
}
table td{
    height: 50px;
    text-align: center;
}
/* ------------------------------------------------------ */


.formBox{
    display: flex;
    justify-content: space-between;
}
.formBox input{
    width: 150px;
    height: 20px;
    border-radius: 5px;
}
.formBox input:hover{
    border: 1px solid #538126;
}


.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination li {
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}


table a{
    text-decoration: none;
    color: black;
}

/* 하단 검색 창  */
#inquirySearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
#inquirySearch div{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inquirySearch input{
    width: 200px;
    height: 25px;
}
#inquirySearch button{
    width: 100px;
    height: 32px;
    margin-left: 10px;
}

