<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freelancerMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름 (반드시 지정!) -->
  <!-- <cache-ref namespace=""/> 무조건 삭제-->
  
  
  <!-- resultMap 태그
    - 마이바티스에서 select를 진행하는 경우
    	기본적으로 java 객체 필드명 == ResultSet 컬럼명이 같을 때 
    	자동으로 객체에 세팅이 되는데 
    	
    	다를 경우
    	컬럼 값을 어떤 필드에 세팅할 지를 지정하는 태그 
    	
    	- 속성
    	type : 연결힐 VO 객체의 타입(패키지 + 클래스명 or 별칭) 
 		myBatis-confing.xml 에서 지정
    																					
    	id : resultMap을 식별할 이름
    	
    	-->
    	<!-- mybatis-config 수정 -->
    	
    	<resultMap type="Freelancer" id="freelancer_rm"> 
   
   	      <id property="freelancerNo" column="FREELANCER_NO"/>

   		  <result property="freelancerPeriod" column="FREELANCER_PERIOD" />
   		  <result property="contactTime1" column="FREE_CONTACT_TIME1" />
	      <result property="contactTime2" column="FREE_CONTACT_TIME2" />
	      
	      <result property="freelancerIntroduction" column="FREELACER_INTRODUCTION" />
	      <result property="regionNo" column="REGION_NO" />
	      <result property="gradeNo" column="GRADE_NO" />
    	</resultMap>
 	   	
 		<!-- 전문가 정보 조회 -->
 		<!-- <resultMap type="com.manager.freelancer.freelancer.model.vo.FreelancerInfo" id="freelancerInfo">
			<id property="freelancerNo" column="FREELANCER_NO"/>
			
			<result property="freelancerIntro" column="FREELANCER_INTRODUCTION"/>  자기소개 
			<result property="regionNo" column = "REGION_NO"/>						 지역
			<result property="freelancerCont" column="FREELANCER_PERIOD"/>		경력기간	
			<result property="contactTime1" column="FREE_CONTACT_TIME1"/>		연락가능시간1			 
			<result property="contactTime2" column="FREE_CONTACT_TIME2"/>			 
 			
 			<result property="freelancerField" column="MAIN_CATEGORY_NO"/>  전문분야
 			
 			<result property="careerCompanyName" column="CAREER_COMPANY"/>   회사명 
 			<result property="careerCompanyDepartment" column="CAREER_DEPARTMENT"/> 회사부서 
 			<result property="careerCompanyPosition" column="CAREER_POSITION"/>		회사직위 
 			<result property="careerCompanyRegion" column="CAREER_REGION"/>			회사위치 
 			<result property="careerPeriod" column="CAREER_PERIOD"/>				경력기간 
 			
 			<result property="licenseName" column="LICENSE_NAME"/>					자격증명 
 			<result property="licenseDate" column="LICENSE_DATE"/>					자격증 취득일자 
 			<result property="licenseAgency" column="LICENSE_AGENCY"/>				자격증 발급처
 			
 			<result property="bankCode" column="BANK_CODE"/>						은행코드 
 			<result property="bankAccountNumber" column="ACCOUNT_NO"/>				계좌번호
 		</resultMap>
    	 -->
	
    	<insert id="enrollFreelancer" parameterType = "Freelancer">
    		INSERT INTO "FREELANCER"
    		VALUES(#{freelancerNo}, #{freelancerCont}, #{contactTime1}, #{contactTime2}, #{freelancerIntro},#{regionNo} ,DEFAULT)
   
    	</insert>
    	
    	<!--  학력/전공  -->
    	<insert id="enrollFreelancerMajor" parameterType = "com.manager.freelancer.freelancer.model.vo.Major">
    		INSERT INTO "MAJOR"
    		VALUES(SEQ_MAJOR_NO.NEXTVAL, #{majorAcademyName}, #{majorName}, #{majorGraduateStatus}, #{freelancerNo})
    	</insert>
    	<!-- 프리랜서등록시 member테이블의 프리랜서_FL N값 => Y값으로 변경 -->
    	<update id="updateFreelancerFlag">
    		UPDATE "MEMBER" SET FREELANCER_FL = 'Y'
    		WHERE MEMBER_NO = #{freelancerNo}
    	</update>
   
   		<!-- 경력 사항  -->
  		<insert  id="enrollFreelancerCareer" parameterType = "com.manager.freelancer.freelancer.model.vo.Career">
  
    		INSERT INTO "CAREER" VALUES
			(SEQ_CAREER_NO.NEXTVAL, 'Y', #{careerCompanyName},#{careerCompanyDepartment},#{careerCompanyPosition},#{careerCompanyRegion},#{careerCompanyPeriod1},#{freelancerNo})	
    	</insert>
    	
    	<!--  자격증  -->
    	<insert id="enrollFreelancerLicense" parameterType = "com.manager.freelancer.freelancer.model.vo.License">
    		INSERT INTO "LICENSE"
    		VALUES(SEQ_LICENSE_NO.NEXTVAL, #{licenseName}, #{licenseDate}, #{licenseAgency}, #{freelancerNo})
    	</insert>
    	
    	
    	<!-- 계좌등록 -->
    	<insert id="insertFreelancerAccount" parameterType = "Freelancer">
    		INSERT INTO "FREELANCER_ACCOUNT"
    		VALUES(#{freelancerNo}, #{bankAccountNumber}, #{bankCode})
    	</insert>
    	
    	
    	<insert id="insertFreelancerField" parameterType = "map">
    		INSERT INTO "FIELD"
    		VALUES(#{freelancerField}, #{freelancerNo})
    	</insert>
    	
    	
    	<select id="freelancerInfo" parameterType="int"  resultType="Freelancer">
			SELECT FREELANCER_INTRODUCTION as freelancerIntro,REGION_NO as regionNo, FREELANCER_PERIOD as freelancerCont
			FROM FREELANCER 
			WHERE FREELANCER_NO = #{freelancerNo} 
    	</select>
    	 
    	<select id="getRegionList" resultType="com.manager.freelancer.freelancer.model.vo.Region">
    		SELECT REGION_NO as regionNumber,REGION_NAME as regionName from REGION
    	</select>	
    	
</mapper>
