<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freelancerMapper">
	<!-- namespace 속성 : 현재 공간(영역)에 대한 이름 (반드시 지정!) -->
  <!-- <cache-ref namespace=""/> 무조건 삭제-->
  
  
  <!-- resultMap 태그
    - 마이바티스에서 select를 진행하는 경우
    	기본적으로 java 객체 필드명 == ResultSet 컬럼명이 같을 때 
    	자동으로 객체에 세팅이 되는데 
    	
    	다를 경우
    	컬럼 값을 어떤 필드에 세팅할 지를 지정하는 태그 
    	
    	- 속성
    	type : 연결힐 VO 객체의 타입(패키지 + 클래스명 or 별칭) 
 		myBatis-confing.xml 에서 지정
    																					
    	id : resultMap을 식별할 이름
    	
    	-->
    	<!-- mybatis-config 수정 -->
    	
    	<resultMap type="Freelancer" id="freelancer_rm">
   
   	      <id property="freelancerNo" column="FREELANCER_NO"/>

   		  <result property="freelancerPeriod" column="FREELANCER_PERIOD" />
   		  <result property="contactTime1" column="FREE_CONTACT_TIME1" />
	      <result property="contactTime2" column="FREE_CONTACT_TIME2" />
	      
	      <result property="freelancerIntroduction" column="FREELACER_INTRODUCTION" />
	      <result property="regionNo" column="REGION_NO" />
	      <result property="gradeNo" column="GRADE_NO" />
    	</resultMap>
    	
    	<!-- <resultMap type="com.manager.freelancer.freelancer.model.vo.Major" id="major_rm">
    		
    	</resultMap> -->
    	
	
    	<insert id="enrollFreelancer" parameterType = "Freelancer" >
  
    		INSERT INTO "FREELANCER"
    		VALUES(#{freelancerNo}, #{freelancerCont}, #{contactTime1}, #{contactTime2}, #{freelancerIntro},#{regionNo} ,1 )
   
    	</insert>
    	
    	<!--  학력/전공  -->
    	<insert id="enrollFreelancerMajor" parameterType = "com.manager.freelancer.freelancer.model.vo.Major">
    		INSERT INTO "MAJOR"
    		VALUES(SEQ_MAJOR_NO.NEXTVAL, #{majorAcademyName}, #{majorName}, #{majorGraduateStatus}, #{freelancerNo})
    	</insert>
    	
    	<update id="updateFreelancerFlag">
    		UPDATE "MEMBER" SET FREELANCER_FL = 'Y'
    		WHERE MEMBER_NO = #{freelancerNo}
    	</update>
   
  
</mapper>
