<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<resultMap type="Member2" id="manager_member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberJob" column="MEMBER_JOB" />
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="memberDeleteFlag" column="MEMBER_DELETE_FL" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="freelancerFlag" column="FREELANCER_FL" />
		<result property="freelancerGrade" column="GRADE_NAME" />
		<result property="memberAuthority" column="AUTHORITY" />
		<result property="memberInterest" column="MEMBER_INTEREST" />
		<result property="regionName" column="REGION_NAME" />
		<result property="freelancerIntroduction" column="FREELANCER_INTRODUCTION" />
		<result property="freelancerPeriod" column="FREELANCER_PERIOD" />
		<result property="freeContactTime1" column="FREE_CONTACT_TIME1" />
		<result property="freeContactTime2" column="FREE_CONTACT_TIME2" />
		<result property="freelancerBankName" column="BANK_NAME" />
		<result property="freelancerAccountNo" column="ACCOUNT_NO" />
	</resultMap>
	
	<resultMap type="ManagerService" id="manager_service_rm">
		<id property="serviceNo" column="SERVICE_NO"/>
		<result property="serviceTitle" column="SERVICE_TITLE" />
		<result property="serviceStatus" column="SERVICE_STATUS" />
	</resultMap>
	


	<!-- 프리랜서 등급 조회 -->
	<select id="selectFreelancerGrade" resultType="string">
		SELECT GRADE_NAME
		FROM FREELANCER
		JOIN GRADE USING(GRADE_NO)
		WHERE FREELANCER_NO=#{memberNo}
	</select>

	<!-- 전체 회원 수 조회 -->
	<select id="getMemberListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DELETE_FL = 'N' 
		
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
	</select>


	<!-- 회원 목록 조회 + 페이징 -->
	<select id="selectMemberList" resultMap="manager_member_rm" parameterType="string">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_DELETE_FL,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') MEMBER_ENROLL_DATE, FREELANCER_FL
		FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		AND AUTHORITY=1
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		ORDER BY 1 DESC
	</select>


	<!-- 회원 관심 분야 조회 -->
	<!-- <select id="selectMemberInterest"  resultMap="manager_member_rm" resultType="string">
		SELECT (SELECT LISTAGG(MAIN_CATEGORY_NO, ',')
						WITHIN GROUP (ORDER BY MAIN_CATEGORY_NO)
						FROM (SELECT DISTINCT MAIN_CATEGORY_NO
									FROM INTEREST I
									WHERE I.MEMBER_NO = M.MEMBER_NO)) MEMBER_INTEREST
		FROM "MEMBER" M
		WHERE MEMBER_NO=#{memberNo}
	</select> -->


  <!-- 회원 상세 조회 -->
	<select id="selectMemberDetail" resultMap="manager_member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PROFILE, MEMBER_TEL, MEMBER_JOB, MEMBER_NICKNAME,
					(SELECT LISTAGG(MAIN_CATEGORY_NO, ',')
						WITHIN GROUP (ORDER BY MAIN_CATEGORY_NO)
						FROM (SELECT DISTINCT MAIN_CATEGORY_NO
									FROM INTEREST I
									WHERE I.MEMBER_NO = M.MEMBER_NO)) MEMBER_INTEREST, FREELANCER_FL
		FROM MEMBER M
		WHERE MEMBER_NO=#{memberNo}
	</select>
	
	<!-- 프리랜서 상세 조회 -->
	<select id="selectFreelancerDetail" resultMap="manager_member_rm">
		SELECT FREELANCER_INTRODUCTION, REGION_NAME, FREELANCER_PERIOD, FREE_CONTACT_TIME1, FREE_CONTACT_TIME2,
					ACCOUNT_NO, BANK_NAME
		FROM FREELANCER
		JOIN REGION USING(REGION_NO)
		JOIN FREELANCER_ACCOUNT USING (FREELANCER_NO)
		JOIN BANK USING (BANK_CODE)
		WHERE FREELANCER_NO=#{memberNo}
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="managerMemberDelete">
		UPDATE MEMBER SET MEMBER_DELETE_FL = 'Y'
		WHERE MEMBER_NO=#{memberNo}
	</update>
	
	
	<!-- 검색 조건 일치 회원 수 조회 -->
	<select id="getMemberListCount_search" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='query!=null and query!=""'>
			<choose>
				<when test='key=="no"'>
					AND MEMBER_NO = ${query}
				</when>
				<when test='key=="na"'>
					AND MEMBER_NAME LIKE '%${query}%'
				</when>
			</choose>
		</if>
	</select>
	
	
	<!-- 검색 조건 일치 회원 목록 조회 -->
	<select id="selectMemberList_search" resultMap="manager_member_rm">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_DELETE_FL,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') MEMBER_ENROLL_DATE, FREELANCER_FL
		FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		AND AUTHORITY=1
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='query!=null and query!=""'>
			<choose>
				<when test='key=="no"'>
					AND MEMBER_NO = ${query}
				</when>
				<when test='		key=="na"'>
					AND MEMBER_NAME LIKE '%${query}%'
				</when>
			</choose>
		</if>
		ORDER BY 1 DESC
	</select>
	
	
	
	<!-- 서비스 수 조회 -->
	<select id="getServiceListCount" resultType="_int">
		SELECT COUNT(*) FROM SERVICE
		WHERE SERVICE_STATUS != 5
	</select>
	
	
	
	<!-- 서비스 목록 조회 -->
	<select id="selectServiceList" resultMap="manager_service_rm">
		SELECT SERVICE_NO, SERVICE_TITLE, SERVICE_STATUS
		FROM SERVICE
		WHERE SERVICE_STATUS != 5
	</select>
	
	
	<!-- 서비스 상태별 수 조회 -->
	<select id="getServiceListCount2" resultType="_int">
		SELECT COUNT(*) FROM SERVICE
		WHERE SERVICE_STATUS != 5
		AND SERVICE_STATUS = #{status}
	</select>
	
	
	<!-- 서비스 상태별 목록 조회 -->
	<select id="selectServiceList2">
		SELECT SERVICE_NO, SERVICE_TITLE, SERVICE_STATUS
		FROM SERVICE
		WHERE SERVICE_STATUS != 5
		AND SERVICE_STATUS = #{status}
	</select>
	
	
	<!-- 서비스 삭제 -->
	<update id="managerServiceDelete">
		UPDATE SERVICE SET SERVICE_DELETE_FL = 'Y'
		WHERE SERVICE_NO=#{serviceNo}
	</update>
	

</mapper>


























