<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerInquiryMapper">
  
  
	<resultMap type="managerInquiry" id="ManagerInquiry_rm">
	  	<id property="userInquiryNo" column="USER_INQUIRY_NO"/>
	  	<result property="userInquiryTitle" column="USER_INQUIRY_TITLE" />
	  	<result property="userInquiryContent" column="USER_INQUIRY_CONTENT" />
	  	<result property="inquiryRequest" column="USER_INQUIRY_REQUEST" />
	  	<result property="userInquiryCreateDate" column="USER_INQUIRY_CREATE_DATE" />
	  	<result property="memberNo" column="MEMBER_NO" />
	  	<result property="inquiryFileNo" column="INQUIRY_FILE_NO" />
	  	<result property="inquiryFilePath" column="INQUIRY_FILE_PATH" />
	  	<result property="inquiryFileOrder" column="INQUIRY_FILE_ORDER" />
	  	<result property="inquiryTypeNo" column="INQUIRY_TYPE_NO" />
	  	<result property="memberName" column="MEMBER_NAME"/>
	  	<result property="memberProfile" column="MEMBER_PROFILE"/>
	  	
	  	<collection property="imageList" javaType="java.util.ArrayList" 
	  	select="selectImageList" ofType="ManagerInquiryImage" column="USER_INQUIRY_NO"/>
  	</resultMap>
  	
  	<!-- 이용 문의 첨부 파일 -->
	<resultMap type="ManagerInquiryImage" id="managerInquiryImage_rm">
      <id property="inquiryFileNo" column="INQUIRY_FILE_NO"/>
      <result property="inquiryFileTitle" column="INQUIRY_FILE_TITLE"/>
      <result property="inquiryFilePath" column="INQUIRY_FILE_PATH"/>
      <result property="inquiryFileOrder" column="INQUIRY_FILE_ORDER"/>
      <result property="userInquiryNo" column="USER_INQUIRY_NO"/>
   </resultMap>
   
  	
  	<!-- 1. 특정 게시판의 전체 게시글 수 조회 -->
  	<select id="getListCount" parameterType="_int" resultType="_int">
  		SELECT COUNT(*) FROM USER_INQUIRY
  	</select>
  	
  	<!-- 특정 게시판 목록 조회 -->
  	<select id="selectManagerInquiryList" parameterType="_int" resultMap="managerInquiry_rm">
  		SELECT USER_INQUIRY_NO, INQUIRY_TYPE_NO, USER_INQUIRY_TITLE, USER_INQUIRY_REQUEST,
  			   TO_CHAR(USER_INQUIRY_CREATE_DATE, 'YYYY-MM-DD') USER_INQUIRY_CREATE_DATE
		FROM USER_INQUIRY 
  	</select>
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	<!-- 이용문의 상세 내역 조회 -->
  	<select id="viewInquiryDetail" resultType="userInquiry" resultMap="userInquiry_rm"> 
  		SELECT USER_INQUIRY_NO, INQUIRY_TYPE_NO, USER_INQUIRY_TITLE, USER_INQUIRY_CONTENT, USER_INQUIRY_REQUEST, MEMBER_PROFILE,
			   TO_CHAR(USER_INQUIRY_CREATE_DATE, 'YYYY-MM-DD') USER_INQUIRY_CREATE_DATE,
			   MEMBER_NAME
		FROM USER_INQUIRY 
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE USER_INQUIRY_NO = #{userInquiryNo}
  	</select>
  	
  	<!-- 이용문의 이미지 조회 -->
  	<select id= "selectImageList" resultMap="userInquiryImage_rm"> 
  		SELECT * FROM USER_INQUIRY_FILE
		WHERE USER_INQUIRY_NO = #{userInquiryNo}
		ORDER BY INQUIRY_FILE_ORDER
  	</select>
  	
  	<!-- 1. 검색 조건이 일치하는 게시글 수 조회 -->
  	<select id="getListCount_search" resultType="_int">
  		SELECT COUNT(*) 
  		FROM USER_INQUIRY
		WHERE MEMBER_NO = #{memberNo}
		<if test='query != null and query != ""'>
			<choose>
				<when test='key == "t"'>
					AND USER_INQUIRY_TITLE LIKE '%${query}%'
				</when>
				<when test='key == "c"'>
					AND USER_INQUIRY_CONTENT LIKE '%${query}%'
				</when>
				<when test='key == "tc"'>
					AND (USER_INQUIRY_TITLE LIKE '%${query}%' OR
					USER_INQUIRY_CONTENT LIKE '%${query}%')
				</when>
			</choose>
		</if>
  	</select>
  	
  	<!-- 검색 조건 일치 게시글 목록 조회 -->
  	<select id="selectInquiryList_search" parameterType="_int" resultMap="userInquiry_rm">
  		SELECT USER_INQUIRY_NO, INQUIRY_TYPE_NO, USER_INQUIRY_TITLE, USER_INQUIRY_REQUEST,
  			   TO_CHAR(USER_INQUIRY_CREATE_DATE, 'YYYY-MM-DD') USER_INQUIRY_CREATE_DATE
		FROM USER_INQUIRY WHERE MEMBER_NO = #{memberNo}
		<if test='query != null and query != ""'>
			<choose>
				<when test='key == "t"'>
					AND USER_INQUIRY_TITLE LIKE '%${query}%'
				</when>
				<when test='key == "c"'>
					AND USER_INQUIRY_CONTENT LIKE '%${query}%'
				</when>
				<when test='key == "tc"'>
					AND (USER_INQUIRY_TITLE LIKE '%${query}%' OR
					USER_INQUIRY_CONTENT LIKE '%${query}%')
				</when>
			</choose>
		</if>
  	</select>
   
  
  	
  	
  	
  
</mapper>
