<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<resultMap type="Member2" id="manager_member_rm">
		<id property="memberNo" column="MEMBER_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="memberPw" column="MEMBER_PW" />
		<result property="memberTel" column="MEMBER_TEL" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberJob" column="MEMBER_JOB" />
		<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE" />
		<result property="memberDeleteFlag" column="MEMBER_DELETE_FL" />
		<result property="memberProfile" column="MEMBER_PROFILE" />
		<result property="freelancerFlag" column="FREELANCER_FL" />
		<result property="freelancerGrade" column="GRADE_NAME" />
		<result property="memberAuthority" column="AUTHORITY" />
		<result property="memberInterest" column="MEMBER_INTEREST" />
		<result property="regionName" column="REGION_NAME" />
		<result property="freelancerIntroduction" column="FREELANCER_INTRODUCTION" />
		<result property="freelancerPeriod" column="FREELANCER_PERIOD" />
		<result property="freeContactTime1" column="FREE_CONTACT_TIME1" />
		<result property="freeContactTime2" column="FREE_CONTACT_TIME2" />
		<result property="freelancerBankName" column="BANK_NAME" />
		<result property="freelancerAccountNo" column="ACCOUNT_NO" />
	</resultMap>
	
	<resultMap type="ManagerService" id="manager_service_rm">
		<id property="serviceNo" column="SERVICE_NO"/>
		<result property="serviceTitle" column="SERVICE_TITLE" />
		<result property="serviceStatus" column="SERVICE_STATUS" />
		<result property="requestFilePath" column="REQUEST_FILE_PATH" />
		<result property="serviceSummary" column="SERVICE_SUMMARY" />
		<result property="servicePrice" column="SERVICE_PRICE" />
		<result property="serviceEditNum" column="SERVICE_EDIT_NUM" />
		<result property="serviceWorkPeriod" column="SERVICE_WORK_PERIOD" />
		<result property="freelancerName" column="MEMBER_NAME" />
		<result property="freelancerImage" column="MEMBER_PROFILE" />
	</resultMap>
	
	<resultMap type="Settlement" id="manager_settlement_rm">
		<id property="settlementNo" column="SETTLEMENT_NO"/>
		<result property="tradeNo" column="TRADE_NO" />
		<result property="workStatus" column="WORK_STATUS" />
		<result property="paymentType" column="PAYMENT_TYPE" />
		<result property="paymentDate" column="PAYMENT_DATE" />
		<result property="paymentPrice" column="PAYMENT_PRICE" />
		<result property="serviceTitle" column="SERVICE_TITLE" />
		<result property="userName" column="USER_NAME" />
	</resultMap>
	
	<resultMap type="com.manager.freelancer.manager.model.vo.TradeInfo" id="manager_tradeInfo_rm">
		<id property="tradeNo" column="TRADE_NO" />
		<result property="tradeDate" column="TRADE_DATE" />
		<result property="workPeriod" column="SERVICE_WORK_PERIOD" />
		<result property="serviceEditNum" column="SERVICE_EDIT_NUM" />
		<result property="workEditNum" column="WORK_EDIT_NUM" />
		<result property="cancelInquiryDate" column="CANCEL_INQUIRY_DATE" />
	</resultMap>
	
	
	<resultMap type="com.manager.freelancer.manager.model.vo.ProjectRequest" id="manager_projectRequest_rm">
		<id property="projectRequestNo" column="PROJECT_REQUEST_NO" />
		<result property="projectRequestTitle" column="PROJECT_REQUEST_TITLE" />
		<result property="projectRequestSummary" column="PROJECT_REQUEST_SUMMARY" />
		<result property="projectRequestContent" column="PROJECT_REQUEST_CONTENT" />
		<result property="projectRequestStatus" column="PROJECT_REQUEST_STATUS" />
		<result property="projectRequestBudget" column="PROJECT_REQUEST_BUDGET" />
		<result property="requestRecruitDate" column="REQUEST_RECRUIT_DATE" />
		<result property="requestWorkDate" column="REQUEST_WORK_DATE" />
		<result property="projectWorkPeriod" column="PROJECT_WORK_PERIOD" />
		<result property="MemberNo" column="MEMBER_NO" />
		<result property="MemberName" column="MEMBER_NAME" />
	</resultMap>


	<!-- 프리랜서 등급 조회 -->
	<select id="selectFreelancerGrade" resultType="string">
		SELECT GRADE_NAME
		FROM FREELANCER
		JOIN GRADE USING(GRADE_NO)
		WHERE FREELANCER_NO=#{memberNo}
	</select>

	<!-- 전체 회원 수 조회 -->
	<select id="getMemberListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DELETE_FL = 'N' 
		
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
	</select>


	<!-- 회원 목록 조회 + 페이징 -->
	<select id="selectMemberList" resultMap="manager_member_rm" parameterType="string">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_DELETE_FL,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') MEMBER_ENROLL_DATE, FREELANCER_FL
		FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		AND AUTHORITY=1
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		ORDER BY 1 DESC
	</select>


	<!-- 회원 관심 분야 조회 -->
	<!-- <select id="selectMemberInterest"  resultMap="manager_member_rm" resultType="string">
		SELECT (SELECT LISTAGG(MAIN_CATEGORY_NO, ',')
						WITHIN GROUP (ORDER BY MAIN_CATEGORY_NO)
						FROM (SELECT DISTINCT MAIN_CATEGORY_NO
									FROM INTEREST I
									WHERE I.MEMBER_NO = M.MEMBER_NO)) MEMBER_INTEREST
		FROM "MEMBER" M
		WHERE MEMBER_NO=#{memberNo}
	</select> -->


  <!-- 회원 상세 조회 -->
	<select id="selectMemberDetail" resultMap="manager_member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PROFILE, MEMBER_TEL, MEMBER_JOB, MEMBER_NICKNAME,
					(SELECT LISTAGG(MAIN_CATEGORY_NO, ',')
						WITHIN GROUP (ORDER BY MAIN_CATEGORY_NO)
						FROM (SELECT DISTINCT MAIN_CATEGORY_NO
									FROM INTEREST I
									WHERE I.MEMBER_NO = M.MEMBER_NO)) MEMBER_INTEREST, FREELANCER_FL
		FROM MEMBER M
		WHERE MEMBER_NO=#{memberNo}
	</select>
	
	<!-- 프리랜서 상세 조회 -->
	<select id="selectFreelancerDetail" resultMap="manager_member_rm">
		SELECT FREELANCER_INTRODUCTION, REGION_NAME, FREELANCER_PERIOD, FREE_CONTACT_TIME1, FREE_CONTACT_TIME2,
					ACCOUNT_NO, BANK_NAME
		FROM FREELANCER
		JOIN REGION USING(REGION_NO)
		JOIN FREELANCER_ACCOUNT USING (FREELANCER_NO)
		JOIN BANK USING (BANK_CODE)
		WHERE FREELANCER_NO=#{memberNo}
	</select>
	
	<!-- 회원 탈퇴 -->
	<update id="managerMemberDelete">
		UPDATE MEMBER SET MEMBER_DELETE_FL = 'Y'
		WHERE MEMBER_NO=#{memberNo}
	</update>
	
	
	<!-- 검색 조건 일치 회원 수 조회 -->
	<select id="getMemberListCount_search" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='query!=null and query!=""'>
			<choose>
				<when test='key=="no"'>
					AND MEMBER_NO = ${query}
				</when>
				<when test='key=="na"'>
					AND MEMBER_NAME LIKE '%${query}%'
				</when>
			</choose>
		</if>
	</select>
	
	
	<!-- 검색 조건 일치 회원 목록 조회 -->
	<select id="selectMemberList_search" resultMap="manager_member_rm">
		SELECT MEMBER_NO, MEMBER_NAME, MEMBER_DELETE_FL,
		TO_CHAR(MEMBER_ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') MEMBER_ENROLL_DATE, FREELANCER_FL
		FROM MEMBER
		WHERE MEMBER_DELETE_FL='N'
		AND AUTHORITY=1
		<if test='value2 eq "Y"'>
			AND FREELANCER_FL='Y'
		</if>
		<if test='value2 eq "N"'>
			AND FREELANCER_FL='N'
		</if>
		<if test='query!=null and query!=""'>
			<choose>
				<when test='key=="no"'>
					AND MEMBER_NO = ${query}
				</when>
				<when test='		key=="na"'>
					AND MEMBER_NAME LIKE '%${query}%'
				</when>
			</choose>
		</if>
		ORDER BY 1 DESC
	</select>
	
	
	
	
	
	
	
	
	
	<!-- 서비스 수 조회 -->
	<select id="getServiceListCount" resultType="_int">
		SELECT COUNT(*) FROM SERVICE
		WHERE SERVICE_STATUS != 5
	</select>
	
	
	
	<!-- 서비스 목록 조회 -->
	<select id="selectServiceList" resultMap="manager_service_rm">
		SELECT SERVICE_NO, SERVICE_TITLE, SERVICE_STATUS
		FROM SERVICE
		WHERE SERVICE_STATUS != 5
		AND SERVICE_DEL_FL = 'N'
		ORDER BY 1 DESC
	</select>
	
	
	<!-- 서비스 상태별 수 조회 -->
	<select id="getServiceListCount2" resultType="_int">
		SELECT COUNT(*) FROM SERVICE
		WHERE SERVICE_STATUS != 5
		AND SERVICE_STATUS = #{status}
	</select>
	
	
	<!-- 서비스 상태별 목록 조회 -->
	<select id="selectServiceList2" resultMap="manager_service_rm">
		SELECT SERVICE_NO, SERVICE_TITLE, SERVICE_STATUS
		FROM SERVICE
		WHERE SERVICE_STATUS != 5
		AND SERVICE_STATUS = #{status}
		AND SERVICE_DEL_FL = 'N'
		ORDER BY 1 DESC
	</select>
	
	
	<!-- 서비스 삭제 -->
	<update id="managerServiceDelete">
		UPDATE SERVICE SET SERVICE_DELETE_FL = 'Y'
		WHERE SERVICE_NO=#{serviceNo}
	</update>
	
	
	<!-- 서비스 상세보기 -->
	<select id="managerServiceDetail" resultMap="manager_service_rm">
	SELECT *
	FROM (
	   SELECT FREELANCER_NO, (SELECT MEMBER_NAME FROM "MEMBER" WHERE MEMBER_NO=FREELANCER_NO) MEMBER_NAME,
	   (SELECT MEMBER_PROFILE FROM "MEMBER" WHERE MEMBER_NO=FREELANCER_NO) MEMBER_PROFILE,
	   SERVICE_NO, REQUEST_FILE_PATH,(ROW_NUMBER() OVER(PARTITION BY SERVICE_NO ORDER BY SERVICE_NO, REQUEST_FILE_PATH)) RNUM
	   ,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE,
		SERVICE_EDIT_NUM,SERVICE_WORK_PERIOD,SERVICE_CREATE_DATE, THIRD_CATEGORY_NAME, SUB_CATEGORY_NAME, MAIN_CATEGORY_NAME,SERVICE_DEL_FL,SERVICE_STATUS
		FROM SERVICE_FILE
		JOIN SERVICE USING(SERVICE_NO)
		JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		JOIN FREELANCER USING(FREELANCER_NO)
		WHERE SERVICE_NO=#{serviceNo}
	) 
	WHERE RNUM =1
	</select>
	
	<!-- 서비스 승인 -->
	<update id="managerServiceApproval">
		UPDATE SERVICE SET SERVICE_STATUS=2 WHERE SERVICE_NO=#{serviceNo}
	</update>
	
	<!-- 서비스 반려 -->
	<update id="managerServiceRestore">
		UPDATE SERVICE SET SERVICE_STATUS=3 WHERE SERVICE_NO=#{serviceNo}
	</update>
	
	
	
	
	
	
	<!-- 전체 계좌 내역 수 조회 -->
	<select id="getTradeListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM SETTLEMENT
		<if test='status != 0'>
			WHERE WORK_STATUS= #{status}
		</if>
	</select>
	
	<!-- 계좌 내역 목록 조회 -->
	<select id="selectTradeList" parameterType="_int" resultMap="manager_settlement_rm">
		SELECT TO_CHAR(PAYMENT_DATE, 'YYYY"-"MM"-"DD') PAYMENT_DATE, TRADE_NO, 
					SERVICE_TITLE, WORK_STATUS, MEMBER_NAME AS USER_NAME, PAYMENT_TYPE,
					TO_CHAR(PAYMENT_PRICE, '999,999,999') PAYMENT_PRICE
		FROM SETTLEMENT
		JOIN "MEMBER" ON (MEMBER.MEMBER_NO=SETTLEMENT.USER_NO)
		JOIN TRADE USING (TRADE_NO)
		JOIN SERVICE USING (SERVICE_NO)
		<if test='status != 0'>
			WHERE WORK_STATUS= #{status}
		</if>
		ORDER BY SETTLEMENT_NO DESC
	</select>
	
	<!-- 검색 일치 계좌 내역 수 조회 -->
	<select id="getTradeListCount_search" parameterType="map" resultType="_int">
		SELECT COUNT(*) FROM SETTLEMENT
		<if test='status != 0'>
			WHERE WORK_STATUS= #{status}
		</if>
		<if test='query!=null and query!=""'>
			<choose>
				<when test='status != 0'>
					AND TRADE_NO = ${query}
				</when>
				<when test='status == 0'>
					WHERE TRADE_NO = ${query}
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 검색 일치 계좌 내역 목록 조회 -->
	<select id="selectTradeList_search" parameterType="map" resultMap="manager_settlement_rm">
		SELECT TO_CHAR(PAYMENT_DATE, 'YYYY"년" MM"월" DD"일"') PAYMENT_DATE, TRADE_NO, 
					SERVICE_TITLE, WORK_STATUS, MEMBER_NAME AS USER_NAME, PAYMENT_TYPE,
					TO_CHAR(PAYMENT_PRICE, '999,999,999') PAYMENT_PRICE
		FROM SETTLEMENT
		JOIN "MEMBER" ON (MEMBER.MEMBER_NO=SETTLEMENT.USER_NO)
		JOIN TRADE USING (TRADE_NO)
		JOIN SERVICE USING (SERVICE_NO)
		<if test='status != 0'>
			WHERE WORK_STATUS= #{status}
		</if>
		<if test='query!=0'>
			<choose>
				<when test='status != 0'>
					AND TRADE_NO = ${query}
				</when>
				<when test='status == 0'>
					WHERE TRADE_NO = ${query}
				</when>
			</choose>
		</if>
		ORDER BY SETTLEMENT_NO DESC
	</select>
	
	<!-- 거래 정보 조회 -->
	<select id="selectTradeInfo" resultMap="manager_tradeInfo_rm">
		SELECT TRADE_NO, TO_CHAR(PAYMENT_DATE, 'YYYY"-"MM"-"DD') TRADE_DATE, 
				SERVICE_EDIT_NUM, SERVICE_WORK_PERIOD,
				(SELECT COUNT(*) 
				 FROM WORK 
				 WHERE TRADE_NO=#{trdeNo}) WORK_EDIT_NUM, 
				 (SELECT NVL(MAX(TO_CHAR(TRADE_REPORT_CREATE_DATE, 'YYYY"-"MM"-"DD')), '취소 문의 없음')
				  FROM TRADE_REPORT
				  WHERE TRADE_NO=#{trdeNo} AND TRADE_REPORT_TYPE_NO=2) CANCEL_INQUIRY_DATE
		FROM TRADE
		JOIN SETTLEMENT USING (TRADE_NO)
		JOIN SERVICE USING (SERVICE_NO)
		WHERE TRADE_NO=#{trdeNo}
		AND PAYMENT_TYPE=1
	</select>
	
	<!-- 거래번호로 프리랜서 번호 조회 -->
	<select id="getFreelancerNo" resultType="_int">
	SELECT S.FREELANCER_NO
	FROM TRADE T
	JOIN SERVICE S ON (S.SERVICE_NO=T.SERVICE_NO)
	WHERE T.TRADE_NO=#{tradeNo}
	</select>
	
	<!-- 거래번호로 회원 번호 조회 -->
	<select id="getMemberNo" resultType="_int">
	SELECT MEMBER_NO
	FROM TRADE 
	WHERE TRADE_NO=#{tradeNo}
	</select>
	
	<!-- 거래번호로 가격 조회 -->
	<select id="getPaymentPrice" resultType="_int">
	SELECT SERVICE_PRICE AS PAYMENT_PRICE
	FROM TRADE 
	JOIN SERVICE USING (SERVICE_NO)
	WHERE TRADE_NO=#{tradeNo}
	</select>
	
	
	<!-- 환불하기1 회원 -->
	<insert id="managerRefund1" parameterType="map" useGeneratedKeys="true">
		<selectKey keyProperty="settlementNo" resultType="_int" order="BEFORE">
			SELECT SEQ_SETTLEMENT_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO SETTLEMENT VALUES(
				#{settlementNo}, 3, #{memberNo}, 3, SYSDATE, #{paymentPrice}*(#{refundPercent}/100), #{tradeNo})
	</insert>
	
	<!-- 환불하기2 프리랜서 -->
	<insert id="managerRefund2" parameterType="map" useGeneratedKeys="true">
		<selectKey keyProperty="settlementNo" resultType="_int" order="BEFORE">
			SELECT SEQ_SETTLEMENT_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO SETTLEMENT VALUES(
				#{settlementNo}, 3, #{freelancerNo}, 3, SYSDATE, #{paymentPrice}*((100-#{refundPercent})/100), #{tradeNo})
	</insert>
		
	
	
	<!-- 작업 상태 변경 -->
	<update id="updateStatus">
		UPDATE SETTLEMENT SET WORK_STATUS=3
		WHERE TRADE_NO=#{tradeNo}
	</update>
	
	
	<!-- 정산을 위한 프리랜서 번호 얻기 -->
	<select id="getFreelancerNo2" resultType="_int">
	SELECT S.FREELANCER_NO
	FROM TRADE T
	JOIN SERVICE S ON (S.SERVICE_NO=T.SERVICE_NO)
	WHERE T.TRADE_NO=#{tradeNo}
	</select>
	
	<!-- 정산을 위한 가격 얻기 -->
	<select id="getPaymentPrice2" resultType="_int">
	SELECT SERVICE_PRICE AS PAYMENT_PRICE
	FROM TRADE 
	JOIN SERVICE USING (SERVICE_NO)
	WHERE TRADE_NO=#{tradeNo}
	</select>
	
	<!-- 정산하기 -->
	<insert id="managerCalculate">
		INSERT INTO SETTLEMENT VALUES (
		SEQ_SETTLEMENT_NO.NEXTVAL, 2, #{freelancerNo}, 2, SYSDATE, #{paymentPrice}, #{tradeNo}
		)
	</insert>
	
	
	<!-- 정산 후 작업 상태 변경 -->
	<update id="updateStatusCal">
		UPDATE SETTLEMENT SET WORK_STATUS=2
		WHERE TRADE_NO=#{tradeNo}
	</update>




	<!-- 프로젝트 의뢰 수 조회 -->
	<select id="getRequestCount" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_REQUEST
	</select>

	<!-- 프로젝트 의뢰 목록 조회 -->
	<select id="selectRequestList" resultMap="manager_projectRequest_rm">
		SELECT *
		FROM PROJECT_REQUEST
		WHERE PROJECT_REQUEST_DEL_FL = 'N'
		ORDER BY 1 DESC
	</select>
	
	<!-- 상태별 프로젝트 의뢰 수 조회 -->
	<select id="getRequestCount2" resultType="_int">
		SELECT COUNT(*) FROM PROJECT_REQUEST
		WHERE PROJECT_REQUEST_STATUS=#{status}
	</select>

	<!-- 상태별 프로젝트 의뢰 목록 조회 -->
	<select id="selectRequestList2" resultMap="manager_projectRequest_rm">
		SELECT *
		FROM PROJECT_REQUEST
		WHERE PROJECT_REQUEST_STATUS=#{status}
		AND PROJECT_REQUEST_DEL_FL = 'N'
		ORDER BY 1 DESC
	</select>

	<!-- 프로젝트 의뢰 삭제 -->	
	<update id="managerRequestDelete">
		UPDATE PROJECT_REQUEST SET PROJECT_REQUEST_DEL_FL='Y'
		WHERE PROJECT_REQUEST_NO=#{projectRequestNo}
	</update>
	
	<!-- 프로젝트 의뢰 상세보기 -->
	<select id="managerRequestDetail" resultMap="manager_projectRequest_rm">
	SELECT *
	FROM (
	   SELECT MEMBER_NO, MEMBER_NAME, MEMBER_PROFILE,
	   PROJECT_REQUEST_NO, REQUEST_FILE_PATH,(ROW_NUMBER() OVER(PARTITION BY PROJECT_REQUEST_NO ORDER BY PROJECT_REQUEST_NO, REQUEST_FILE_PATH)) RNUM
	   ,PROJECT_REQUEST_TITLE,PROJECT_REQUEST_SUMMARY,PROJECT_REQUEST_CONTENT,PROJECT_REQUEST_BUDGET,
		PROJECT_WORK_PERIOD,TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY"년" MM"월" DD"일"') REQUEST_RECRUIT_DATE,
		TO_CHAR(REQUEST_WORK_DATE, 'YYYY"년" MM"월" DD"일"') REQUEST_WORK_DATE, PROJECT_REQUEST_DEL_FL,PROJECT_REQUEST_STATUS
		FROM REQUEST_FILE
		JOIN PROJECT_REQUEST USING(PROJECT_REQUEST_NO)
		JOIN MEMBER USING (MEMBER_NO)
		WHERE PROJECT_REQUEST_NO=#{projectRequestNo}
	) 
	WHERE RNUM =1
	</select>

	<!-- 프로젝트 의뢰 승인 -->
	<update id="managerRequestApproval">
		UPDATE PROJECT_REQUEST SET PROJECT_REQUEST_STATUS=2 WHERE PROJECT_REQUEST_NO=#{projectRequestNo} 
	</update>
	
	<!-- 프로젝트 의뢰 반려 -->
	<update id="managerRequestRestore">
	UPDATE PROJECT_REQUEST SET PROJECT_REQUEST_STATUS=3 WHERE PROJECT_REQUEST_NO=#{projectRequestNo} 
	</update>
TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY"년" MM"월" DD"일"') REQUEST_RECRUIT_DATE

</mapper>


























