<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

 <resultMap type="Member" id="member_rm">
	 
 		<!-- DB에서 PK에 해당하는 필드, 컬럼을 작성하는 태그 -->
 		<id property="memberNo" column="MEMBER_NO"/>
 		
 		<!-- 나머지 일반 컬럼 -->
 		<result property="memberNo" column="MEMBER_NO"/>
 		<result property="memberEmail" column="MEMBER_EMAIL"/>
 		<result property="memberPw" column="MEMBER_PW"/>
 		<result property="memberNickname" column="MEMBER_NICKNAME"/>
 		<result property="memberTel" column="MEMBER_TEL"/>
 		<result property="memberJob" column="MEMBER_JOB"/>
 		<result property="memberDeleteFlag" column="MEMBER_DELETE_FL"/>
 		<result property="freelancerFlag" column="FREELANCER_FL"/>
 		<result property="profileImage" column="PROFILE_IMG"/>
 		<result property="authority" column="AUTHORITY"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		
 </resultMap>
 
 	<insert id="signUp" parameterType="Member" >
 		<selectKey keyProperty="memberNo" resultType="_int" order="BEFORE">
  			SELECT SEQ_MEMBER_NO.NEXTVAL FROM DUAL
  		</selectKey>
 	
 	
		INSERT INTO "MEMBER"
		VALUES(#{memberNo}, #{memberEmail}, #{memberPw}, 
		#{memberTel}, #{memberNickname} , #{memberName} , #{memberJob} , 
		DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<insert id="insertInterest" parameterType="Map" >
	
		INSERT INTO INTEREST VALUES(#{memberInterest},#{memberNo})
	
	</insert>


	
  
</mapper>
