<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectRequest">
	
		<!-- 프로젝트 의뢰 -->
		<resultMap type="myProjectFreelancerRequest" id="request_rm">												<!-- 프로젝트 의뢰하기 SEQ_PROJECT_REQUEST_NO-->
			<id property="projectRequestNo" column="PROJECT_REQUEST_NO"/>											<!-- 프로젝트 의뢰 번호 -->
			<result property="projectRequestTitle" column="PROJECT_REQUEST_TITLE"/>						<!-- 프로젝트 의뢰 제목 -->
			<result property="projectRequestSummary" column="PROJECT_REQUEST_SUMMARY"/>				<!-- 프로젝트 의뢰 요약 -->
			<result property="projectRequestContent" column="PROJECT_REQUEST_CONTENT"/>				<!-- 프로젝트 의뢰 사항 -->
			<result property="projectRequestBudget" column="PROJECT_REQUEST_BUDGET"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRequestBudgetString" column="PROJECT_REQUEST_BUDGET_STRING"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRecruitDate" column="REQUEST_RECRUIT_DATE"/>							<!-- 프로젝트 모집 마감일 -->
			<result property="projectWorkDate" column="REQUEST_WORK_DATE"/>										<!-- 프로젝트 작업 마감일 -->
			<result property="projectWorkPeriod" column="PROJECT_WORK_PERIOD "/>							<!-- 프로젝트 작업기간 -->
			<result property="projectCreateDate" column="PROJECT_REQUEST_CREATE_DATE"/>				<!-- 프로젝트 의뢰 등록일 -->
			<result property="mainCategotyNo" column="MAIN_CATEGORY_NO"/>											<!-- 카테고리1 번호(FK) -->
			<result property="mainCategotyName" column="MAIN_CATEGORY_NAME"/>											<!-- 카테고리1 번호(FK) -->
			<result property="subCategoryNo" column="SUB_CATEGORY_NO" />									<!-- 메인 2카테고리 -->
	    <result property="subCategoryName" column="SUB_CATEGORY_NAME" />
			<result property="thirdCategotyNo" column="THIRD_CATEGORY_NO"/>										<!-- 카테고리3 번호(FK) -->
			<result property="thirdCategotyName" column="THIRD_CATEGORY_NAME"/>										<!-- 카테고리3 번호(FK) -->
			<result property="projectRequestfile" column="REQUEST_FILE_PATH"/>										<!-- 이미지 경로 -->
			
			<result property="clientNo" column="MEMBER_NO"/>																					<!-- 회원 번호(FK)-의뢰인 회원번호 -->
			<result property="proposalNo" column="PROJECT_PROPOSAL_NO"/>															<!-- 프로젝트 제안 번호 SEQUENCE :SEQ_PROJECT_PROPOSAL_NO -->
			<result property="proposalAdoptStatus" column="PROPOSAL_ADOPT_STATUS"/>										<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalAdoptStatusString" column="PROPOSAL_ADOPT_STATUS_STRING"/>			<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalPrice" column="PROPOSAL_PRICE"/>																<!-- 프로젝트 제안 가격 -->
			<result property="proposalPriceString" column="PROPOSAL_PRICE_STRING"/>										<!-- 프로젝트 제안 가격 -->
			<result property="proposalEditNum" column="PROPOSAL_EDIT_NUM"/>														<!-- 프로젝트 수정 횟수 -->
			<result property="proposalCreateDate" column="PROPOSAL_CREATE_DATE"/>											<!-- 프로젝트 제안 등록일 -->
			<result property="freelancerNo" column="FREELANCER_NO"/>																	<!-- 프리랜서 번호(FK) -->
		</resultMap>
		<!-- 카태고리 들고오기 -->
		<select id="getCategotyList" resultMap="request_rm">
			SELECT * 
			FROM CATEGORY
		</select>
		<select id="getMainCategotyList" resultMap="request_rm">
			SELECT * 
			FROM MAIN_CATEGORY
		</select>
		<select id="getSubCategotyList" resultMap="request_rm">
			SELECT * 
			FROM SUB_CATEGORY
		</select>
		
		<!-- 프로젝트 의뢰 들고 오기 -->
		<select id="getProjectRequestList" resultMap="request_rm">
			SELECT p.*,TO_CHAR(PROJECT_REQUEST_BUDGET, 'FM999,999,999,999') PROJECT_REQUEST_BUDGET_STRING
			FROM (SELECT * FROM PROJECT_REQUEST p
				JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)
				JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
				JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
				WHERE PROJECT_REQUEST_STATUS = 2) p
			WHERE REQUEST_FILE_ORDER =0
			AND PROJECT_REQUEST_DEL_FL ='N'
			<if test="mainCategoryNo !='' and mainCategoryNo!=null and mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
			<if test="subCategoryNo !='' and subCategoryNo!=null and subCategoryNo != 0">
				 AND SUB_CATEGORY_NO = #{subCategoryNo}
			</if>
			<if test="thirdCategotyNo !='' and thirdCategotyNo!=null and thirdCategotyNo != 0">
				 AND THIRD_CATEGORY_NO = #{thirdCategotyNo}
			</if>
			<if test="listOrder == 1">
				 ORDER BY REQUEST_RECRUIT_DATE---------마감임박순
			</if>
			<if test="listOrder == 0">
				 ORDER BY PROJECT_REQUEST_CREATE_DATE DESC---------최신순
			</if>
		</select>
	
</mapper>
