<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectMapper">
	
  	<resultMap type="myProject" id="myProject_rm">
  		
  		<id property="projectRequestNo" column="PROJECT_REQUEST_NO"/>
  		
  		<!-- 내 프로젝트 의뢰 -->	
		<result property="projectRequestTitle" column="PROJECT_REQUEST_TITLE" />	            <!-- 프로젝트 제목 -->
		<result property="projectRequestSummary" column="PROJECT_REQUEST_SUMMARY" />	        <!-- 프로젝트 의뢰 한줄 요약 -->
		<result property="projectRequestContent" column="PROJECT_REQUEST_CONTENT" />	        <!-- 프로젝트 의뢰사항 --> 
		<result property="projectRequestBudget" column="PROJECT_REQUEST_BUDGET" />	            <!-- 프로젝트 예산 -->
		<result property="projectRecruitDate" column="REQUEST_RECRUIT_DATE" />	                <!-- 프로젝트 모집 마감일 -->
		<result property="projectWorkDate" column="REQUEST_WORK_DATE" />	                    <!-- 프로젝트 작업 마감일 -->
		<result property="projectWorkPeriod" column="PROJECT_WORK_PERIOD" />	                <!-- 프로젝트 작업 기간 -->
		<result property="projectCreateDate" column="PROJECT_REQUEST_CREATE_DATE" />	        <!-- 프로젝트 의뢰 등록일 -->
		<result property="memberNo" column="MEMBER_NO" />	                                    <!-- 회원 번호 -->
		<result property="projectRequestStatus" column="PROJECT_REQUEST_STATUS" />	            <!-- 프로젝트 의뢰 상태 -->
		
		<!-- 프로젝트 의뢰 첨부 파일 -->
		<result property="requestFileNo" column="REQUEST_FILE_NO" />	                        <!-- 프로젝트 첨부 파일 번호  -->
		<result property="requestFilePath" column="REQUEST_FILE_PATH" />	                    <!-- 프로젝트 첨부 파일 경로 -->
		<result property="requestFileOrder" column="REQUEST_FILE_ORDER" />                      <!-- 프로젝트 첨부 파일 순서 -->
		
		 <!-- 카테고리 -->
        <result property="mainCategoryNo" column="MAIN_CATEGORY_NO" />							<!-- 메인 1카테고리 -->
        <result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />						<!-- 메인 1카테고리 이름 -->
        <result property="subCategoryNo" column="SUB_CATEGORY_NO" />						    <!-- 메인 2카테고리 -->
        <result property="subCategoryName" column="SUB_CATEGORY_NAME" />					    <!-- 메인 2카테고리 이름  -->
        <result property="thirdCategoryNo" column="THIRD_CATEGORY_NO" />					    <!-- 메인 3카테고리 -->	
        <result property="thirdCategoryName" column="THIRD_CATEGORY_NAME" />					<!-- 메인 3카테고리 이름-->
		
		<!-- 프로젝트 제안 -->
		<result property="proposalNo" column="PROJECT_PROPOSAL_NO" />	                        <!-- 프로젝트 제안 번호 -->
		<result property="proposalAdoptStatus" column="PROPOSAL_ADOPT_STATUS" />	            <!-- 프로젝트 채택 상태 -->
		<result property="proposalPrice" column="PROPOSAL_PRICE" />                             <!-- 프로젝트 제안 가격 -->
		<result property="proposalEditNum" column="PROPOSAL_EDIT_NUM" />                        <!-- 프로젝트 수정 횟수 -->
		<result property="proposalCreateDate" column="PROPOSAL_CREATE_DATE" />                  <!-- 프로젝트 제안 등록일 -->
		<result property="freelancerNo" column="FREELANCER_NO" />                               <!-- 프리랜서 번호 -->
		<result property="freelancerName" column="FREELANCER_NAME" />                           <!-- 프리랜서 이름 -->
		<result property="gradeNo" column="GRADE_NO" />                                         <!-- 프리랜서 등급 -->
		<result property="gradeName" column="GRADE_NAME" />                                     <!-- 프리랜서 등급명 -->
		
  	</resultMap>
  	
  	<!-- 메인 카테고리 들고오기 -->
  	<select id="selectmaincategoryList" resultMap="myProject_rm">
    	SELECT * FROM MAIN_CATEGORY
    </select>
    
    <!-- 3번 카테고리 리스트 --> 
    <select id="selectcategoryList" resultMap="myProject_rm">
    SELECT THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME,MAIN_CATEGORY_NO 
		FROM CATEGORY 
		JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		ORDER BY 1
    </select>
    
    <!-- 나의 프로젝트 페이지 카운트 -->
  	<select id="getMyProjectListCount" resultType="_int">
    	SELECT COUNT(*) 
		FROM PROJECT_REQUEST 
		JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY PROJECT_REQUEST_CREATE_DATE DESC
    </select>

	<!-- 내 프로젝트 조회하기 --> 
	<select id="selectMyProject" parameterType="java.util.HashMap" resultMap="myProject_rm">
		SELECT PROJECT_REQUEST_NO, PROJECT_REQUEST_TITLE, PROJECT_REQUEST_SUMMARY,
       		   PROJECT_REQUEST_CONTENT, PROJECT_REQUEST_BUDGET, 
       		   TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY-MM-DD') REQUEST_RECRUIT_DATE,
       		   TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY-MM-DD')PROJECT_REQUEST_CREATE_DATE,
               REQUEST_WORK_DATE, PROJECT_WORK_PERIOD, SUB_CATEGORY_NO,SUB_CATEGORY_NAME,
               THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME, MAIN_CATEGORY_NO,MAIN_CATEGORY_NAME,  
       	   CASE WHEN PROJECT_REQUEST_STATUS = 1 THEN '승인 대기 중'
        	    WHEN PROJECT_REQUEST_STATUS = 2 THEN '모집 중'
                WHEN PROJECT_REQUEST_STATUS = 3 THEN '미승인'
                WHEN PROJECT_REQUEST_STATUS = 4 THEN '모집 마감'
            END AS PROJECT_REQUEST_STATUS,
                REQUEST_FILE_NO, REQUEST_FILE_PATH       
		FROM PROJECT_REQUEST
		JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND REQUEST_FILE_ORDER = 0
		ORDER BY PROJECT_REQUEST_NO DESC 
	</select>
	
	<!-- 내 프로젝트 등록하기 -->
	<insert id="insertMyProject" parameterType="java.util.HashMap" useGeneratedKeys="true">
		<selectKey keyProperty="projectRequestNo" resultType="_int" order="BEFORE">
			SELECT SEQ_PROJECT_REQUEST_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "PROJECT_REQUEST" 
		VALUES(#{projectRequestNo}, #{myProject.projectRequestTitle}, #{myProject.projectRequestSummary},
			 #{myProject.projectRequestContent}, #{myProject.projectRequestBudget}, 
			 #{myProject.projectRecruitDate},#{myProject.projectWorkDate},#{myProject.projectWorkPeriod}, 
			 DEFAULT, #{myProject.thirdCategoryNo}, #{loginMember}, DEFAULT ,DEFAULT) 
	</insert>
	
	<!-- 내 프로젝트 등록하기 (첨부파일) -->
	<insert id="insertFileImageList" parameterType="list">
		INSERT INTO REQUEST_FILE 
		SELECT SEQ_REQUEST_FILE_NO.NEXTVAL REQUEST_FILE_NO, A.* FROM
		<foreach collection="list" item="img" open="(" close=") A" separator="UNION ALL">
			SELECT #{img.requestFilePath} REQUEST_FILE_PATH, 
				   #{img.requestFileOrder} REQUEST_FILE_ORDER,
				   #{img.projectRequestNo} PROJECT_REQUEST_NO
			FROM DUAL
		</foreach>
	</insert>

	<!-- 받은 제안 카운트 -->
	<select id="getProposalCount" resultType="_int">
	SELECT COUNT(*)
	FROM PROJECT_PROPOSAL
	     JOIN PROJECT_REQUEST USING(PROJECT_REQUEST_NO)
	     JOIN "MEMBER" ON(PROJECT_PROPOSAL.FREELANCER_NO=MEMBER.MEMBER_NO)
	     JOIN FREELANCER USING(FREELANCER_NO)
	     JOIN GRADE USING(GRADE_NO)
	     LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
	     LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
	     LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
	WHERE MEMBER.MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 받은 제안 리스트 조회 -->
	<select id="selectProposalList" parameterType="java.util.HashMap" resultMap="myProject_rm">
	SELECT PROJECT_PROPOSAL_NO,PROJECT_REQUEST_TITLE, MEMBER_NAME AS FREELANCER_NAME,
	       GRADE_NO, GRADE_NAME, PROPOSAL_PRICE, PROPOSAL_EDIT_NUM,
	       CASE WHEN PROPOSAL_ADOPT_STATUS = 1 THEN '대기 중'
	            WHEN PROPOSAL_ADOPT_STATUS = 2 THEN '채택'
				WHEN PROPOSAL_ADOPT_STATUS = 3 THEN '모집마감'
		   END AS PROPOSAL_ADOPT_STATUS,
	       MAIN_CATEGORY_NO,MAIN_CATEGORY_NAME,SUB_CATEGORY_NO,SUB_CATEGORY_NAME,THIRD_CATEGORY_NO,
	       THIRD_CATEGORY_NAME
	FROM PROJECT_PROPOSAL
	JOIN PROJECT_REQUEST USING(PROJECT_REQUEST_NO)
	JOIN "MEMBER" ON(PROJECT_PROPOSAL.FREELANCER_NO=MEMBER.MEMBER_NO)
	JOIN FREELANCER USING(FREELANCER_NO)
	JOIN GRADE USING(GRADE_NO)
	LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
	LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
	LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
	WHERE MEMBER.MEMBER_NO = #{memberNo}
	ORDER BY PROJECT_PROPOSAL_NO DESC 
	</select>
	
	<!-- 내 프로젝트 조회 ajax 카운트 -->
  	<select id="getChangeTypeCount" parameterType="java.util.HashMap" resultType="_int">
  		SELECT COUNT(*) 
		FROM PROJECT_REQUEST 
		JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		WHERE MEMBER_NO = #{memberNo}
			<if test='optionVal eq "0"'>
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "1"'>
				AND MAIN_CATEGORY_NO = 1
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "2"'>
				AND MAIN_CATEGORY_NO = 2
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "3"'>
				AND MAIN_CATEGORY_NO = 3
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "4"'>
				AND MAIN_CATEGORY_NO = 4
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "5"'>
				AND MAIN_CATEGORY_NO = 5
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
  	</select>
  	
  	<!-- 내 프로젝트 조회 ajax 조회 -->
  	<select id="categoryTypeSelect" parameterType="java.util.HashMap" resultMap="myProject_rm">
	  	SELECT PROJECT_REQUEST_NO, PROJECT_REQUEST_TITLE, PROJECT_REQUEST_SUMMARY,
       		   PROJECT_REQUEST_CONTENT, PROJECT_REQUEST_BUDGET, 
       		   TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY-MM-DD') REQUEST_RECRUIT_DATE,
       		   TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY-MM-DD')PROJECT_REQUEST_CREATE_DATE,
               REQUEST_WORK_DATE, PROJECT_WORK_PERIOD, SUB_CATEGORY_NO,SUB_CATEGORY_NAME,
               THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME, MAIN_CATEGORY_NO,MAIN_CATEGORY_NAME,  
       	   CASE WHEN PROJECT_REQUEST_STATUS = 1 THEN '승인 대기 중'
        	    WHEN PROJECT_REQUEST_STATUS = 2 THEN '모집 중'
                WHEN PROJECT_REQUEST_STATUS = 3 THEN '미승인'
                WHEN PROJECT_REQUEST_STATUS = 4 THEN '모집 마감'
            END AS PROJECT_REQUEST_STATUS,
                REQUEST_FILE_NO, REQUEST_FILE_PATH       
		FROM PROJECT_REQUEST
		JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		WHERE MEMBER_NO = #{memberNo}
			<if test='optionVal eq "0"'>
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "1"'>
				AND MAIN_CATEGORY_NO = 1
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "2"'>
				AND MAIN_CATEGORY_NO = 2
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "3"'>
				AND MAIN_CATEGORY_NO = 3
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "4"'>
				AND MAIN_CATEGORY_NO = 4
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
			<if test='optionVal eq "5"'>
				AND MAIN_CATEGORY_NO = 5
				ORDER BY PROJECT_REQUEST_NO DESC 
			</if>
  	</select>
	
  	
</mapper>
	