<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectFreelancerSerive">
	
  	<resultMap type="myProjectFreelancerService" id="fService_rm">
    	
    		<id property="serviceNo" column="SERVICE_NO"/>													<!-- 서비스 번호 SEQUENCE: SEQ_SERVICE_NO -->	
    		   		
	      <result property="serviceTitle" column="SERVICE_TITLE" />								<!-- 서비스 제목 -->							
	      <result property="serviceSummary" column="SERVICE_SUMMARY" />						<!-- 서비스 한 줄 요약 -->
	      <result property="serviceContent" column="SERNICE_CONTENT" />						<!-- 서비스 내용 -->
	      <result property="servicePrice" column="SERVICE_PRICE"/>								<!-- 서비스 가격 -->
	      <result property="serviceEditNum" column="SERVICE_EDIT_NUM"/>						<!-- 서비스 수정 횟수 -->
	      <result property="serviceWorkPeriod" column="SERVICE_WORK_PERIOD" />		<!-- 서비스 작업 일수 -->
	      <result property="serviceStatus" column="SERVICE_STATUS" />							<!-- 1:승인 대기 중, 2:판매 중, 3:미승인, 4:판매 중지,5: 의뢰용일회성서비스 -->
	      <result property="serviceCreateDate" column="SERVICE_CREATE_DATE" />		<!-- 서비스 등록일 -->
	      
	      <!-- 서비스 첨부파일 -->
	      <result property="serviceFileNo" column="REQUEST_FILE_NO"/> 						<!-- 서비스 첨부파일 번호 SEQUENCE: SEQ_SERVICE_FILE_NO -->
	      <result property="serviceFilePath" column="REQUEST_FILE_PATH"/>					<!-- 서비스 첨부파일 경로 -->
	      
	      <!-- 거래내역 -->
	      <result property="tradeNo" column="TRADE_NO"/>													<!-- 거래 번호 SEQUENCE: SEQ_TRADE_NO -->
	      <result property="memberDoneFL" column="MEMBER_DONE_FL"/>								<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="freelancerFL" column="FREELANCER_DONE_FL"/>						<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="memberNo" column="MEMBER_NO"/>												<!-- 회원 번호-의뢰인(FK) -->
	      <result property="memberName" column="MEMBER_NAME"/>
	      <result property="memberNickName" column="MEMBER_NICKNAME"/>
	      <result property="freelancerNo" column="FREELANCER_NO"/>
	      <result property="freelancerNickName" column="FREELANCER_NICKNAME"/>
     	  
     	  <!-- 거래 작업물 발송 -->
     	  <result property="workNo" column="WORK_NO" />														<!-- 작업물 번호 SEQUENCE: SEQ_WORK_NO -->
	      <result property="workSendDate" column="WORK_SEND_DATE" />							<!-- 작업물 발송 날짜 -->
     	  
     	  <!-- 서비스 문의 내역 들고 오기 -->
     	  <result property="serviceInquiryNo" column="SERVICE_INQUIRY_NO"/>							<!-- 서비스 문의 번호 SEQUENCE: SEQ_SERVICE_INQUIRY_NO -->
	      <result property="serviceInquiryContent" column="SERVICE_INQUIRY_CONTENT"/>	  <!-- 서비스 문의 내용 -->
	      <result property="serviceInquiryDate" column="SERVICE_INQUIRY_CREATE_DATE"/>  <!-- 서비스 문의 작성 날짜 -->
     	  
     	  <!-- 카테고리 -->
	      <result property="mainCategoryNo" column="MAIN_CATEGORY_NO" />								<!-- 메인 1카테고리 -->
	      <result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />						<!-- 메인 1카테고리 이름 -->
	      <result property="subCategoryNo" column="SUB_CATEGORY_NO" />									<!-- 메인 2카테고리 -->
	      <result property="subCategoryName" column="SUB_CATEGORY_NAME" />							<!-- 메인 2카테고리 이름  -->
	      <result property="thirdCategoryNo" column="THIRD_CATEGORY_NO" />							<!-- 메인 3카테고리 -->	
	      <result property="thirdCategoryName" column="THIRD_CATEGORY_NAME" />					<!-- 메인 3카테고리 이름-->

    </resultMap>
    
    
    <select id="selectmaincategoryList" resultMap="fService_rm">
    SELECT * FROM MAIN_CATEGORY
    </select>
    
    <select id="selectcategoryList" resultMap="fService_rm">
    SELECT THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME,MAIN_CATEGORY_NO 
		FROM CATEGORY 
		JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		ORDER BY 1
    </select>
  
</mapper>
