<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectFreelancerSerive">
	
  	<resultMap type="myProjectFreelancerService" id="fService_rm">
    	<!-- SELECT SERVICE_NO,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE, SERVICE_EDIT_NUM,
		SERVICE_WORK_PERIOD,SERVICE_STATUS,SERVICE_CREATE_DATE,THIRD_CATEGORY_NO,FREELANCER_NO,REQUEST_FILE_NO,REQUEST_FILE_PATH -->
    		<id property="serviceNo" column="SERVICE_NO"/>													<!-- 서비스 번호 SEQUENCE: SEQ_SERVICE_NO -->	
    		   		
	      <result property="serviceTitle" column="SERVICE_TITLE" />								<!-- 서비스 제목 -->							
	      <result property="serviceSummary" column="SERVICE_SUMMARY" />						<!-- 서비스 한 줄 요약 -->
	      <result property="serviceContent" column="SERNICE_CONTENT" />						<!-- 서비스 내용 -->
	      <result property="servicePrice" column="SERVICE_PRICE"/>								<!-- 서비스 가격 -->
	      <result property="servicePriceString" column="SERVICE_PRICE_STRING"/>		<!-- 서비스 가격 문자 형태 1,000-->
	      <result property="serviceEditNum" column="SERVICE_EDIT_NUM"/>						<!-- 서비스 수정 횟수 -->
	      <result property="serviceWorkPeriod" column="SERVICE_WORK_PERIOD" />		<!-- 서비스 작업 일수 -->
	      <result property="serviceStatus" column="SERVICE_STATUS" />							<!-- 1:승인 대기 중, 2:판매 중, 3:미승인, 4:판매 중지,5: 의뢰용일회성서비스 -->
	      <result property="serviceStatusString" column="SERVICE_STATUS_STRING" /><!-- 1:승인 대기 중, 2:판매 중, 3:미승인, 4:판매 중지,5: 의뢰용일회성서비스 -->
	      																																				<!-- 문자형태 홈페이지에 문자 그대로 출력 예정으로 필요 -->
	      <result property="serviceCreateDate" column="SERVICE_CREATE_DATE" />		<!-- 서비스 등록일 -->
	      <result property="serviceDelFL" column="SERVICE_DEL_FL" />							<!-- 서비스 삭제여부 -->
	      
	      <!-- 서비스 첨부파일 -->
	      <result property="serviceFileNo" column="REQUEST_FILE_NO"/> 						<!-- 서비스 첨부파일 번호 SEQUENCE: SEQ_SERVICE_FILE_NO -->
	      <result property="serviceFilePath2" column="REQUEST_FILE_PATH"/>					<!-- 서비스 첨부파일 경로 -->
	      
	      <!-- 거래내역 -->
	      <result property="tradeNo" column="TRADE_NO"/>													<!-- 거래 번호 SEQUENCE: SEQ_TRADE_NO -->
	      <result property="memberDoneFL" column="MEMBER_DONE_FL"/>								<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="freelancerFL" column="FREELANCER_DONE_FL"/>						<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="freelancerFLString" column="FREELANCER_DONE_FL_STRING"/><!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="memberNo" column="MEMBER_NO"/>												<!-- 회원 번호-의뢰인(FK) -->
	      <result property="memberName" column="MEMBER_NAME"/>
	      <result property="memberNickName" column="MEMBER_NICKNAME"/>
	      <result property="freelancerNo" column="FREELANCER_NO"/>
	      <result property="freelancerNickName" column="FREELANCER_NICKNAME"/>
	      <result property="workCount" column="WORK_COUNT"/>											<!-- 발송물 발송 횟수 -->
	      
	      <result property="workStatus" column="WORK_STATUS"/>										<!-- 2:정산 완료 3:주문취소 -->
	      <result property="workStatusString" column="WORK_STATUS_STRING"/>				<!-- 2:정산 완료 3:주문취소 -->
	      
	      <result property="tradeRequestString" column="TRADE_REQUEST"/>				<!-- 2:정산 완료 3:주문취소 -->
     	  
     	  <!-- 거래신고 테이블 -->
     	  <result property="tradeReportNo" column="TRADE_REPORT_NO"/>							<!-- 거래 신고 번호 SEQUENCE: SEQ_TRADE_REPORT_NO -->
     	  <result property="reportPersonNo" column="REPORT_PERSON"/>							<!-- 거래 신고자 회원 번호 -->
     	  <result property="reportedPersonNo" column="REPORTED_PERSON"/>					<!-- 거래 피신고자 회원 번호 -->
     	  <result property="reportContent" column="TRADE_REPORT_CONTENT"/>				<!-- 거래 신고 내용 -->
     	  <result property="reportRefundFL" column="REFUND_FL"/>									<!-- 환불 여부 환불:Y 미환불:N -->
     	  <result property="reportFilePath" column="TRADE_REPORT_FILE_PATH"/>			<!-- 거래 신고 첨부파일 -->
     	  
     	  <!-- 거래 작업물 발송 -->
     	  <result property="workNo" column="WORK_NO" />														<!-- 작업물 번호 SEQUENCE: SEQ_WORK_NO -->
	      <result property="workSendDate" column="WORK_SEND_DATE" />							<!-- 작업물 발송 날짜 -->
     	  
     	  <!-- 서비스 문의 내역 들고 오기 -->
     	  <result property="serviceInquiryNo" column="SERVICE_INQUIRY_NO"/>							<!-- 서비스 문의 번호 SEQUENCE: SEQ_SERVICE_INQUIRY_NO -->
	      <result property="serviceInquiryContent" column="SERVICE_INQUIRY_CONTENT"/>	  <!-- 서비스 문의 내용 -->
	      <result property="serviceInquiryDate" column="SERVICE_INQUIRY_CREATE_DATE"/>  <!-- 서비스 문의 작성 날짜 -->
	      <result property="serviceInquiryDateString" column="SERVICE_INQUIRY_DATE_STRING"/>  <!-- 서비스 문의 작성 날짜 -->
     	  
     	  <!-- 카테고리 -->
	      <result property="mainCategoryNo" column="MAIN_CATEGORY_NO" />								<!-- 메인 1카테고리 -->
	      <result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />						<!-- 메인 1카테고리 이름 -->
	      <result property="subCategoryNo" column="SUB_CATEGORY_NO" />									<!-- 메인 2카테고리 -->
	      <result property="subCategoryName" column="SUB_CATEGORY_NAME" />							<!-- 메인 2카테고리 이름  -->
	      <result property="thirdCategoryNo" column="THIRD_CATEGORY_NO" />							<!-- 메인 3카테고리 -->	
	      <result property="thirdCategoryName" column="THIRD_CATEGORY_NAME" />					<!-- 메인 3카테고리 이름-->
				
				<!-- <collection property="inquiryList" 
      	javaType="java.util.ArrayList" ofType="myProjectServiceInquiry"
        select="selectfileList" 
        column="REQUEST_FILE_NO"/> -->
    </resultMap>
    
    <resultMap type="myProjectServiceInquiry" id="inquiry_rm">
			<id property="serviceFileNo" column="REQUEST_FILE_NO"/>
			<result property="serviceFilePath" column="REQUEST_FILE_PATH"/>
			<result property="serviceNo" column="SERVICE_NO"/>
		</resultMap>
		
		<!-- 프로젝트 의뢰 -->
		<resultMap type="myProjectFreelancerRequest" id="request_rm">												<!-- 프로젝트 의뢰하기 SEQ_PROJECT_REQUEST_NO-->
			<id property="projectRequestNo" column="PROJECT_REQUEST_NO"/>											<!-- 프로젝트 의뢰 번호 -->
			<result property="projectRequestTitle" column="PROJECT_REQUEST_TITLE"/>						<!-- 프로젝트 의뢰 제목 -->
			<result property="projectRequestSummary" column="PROJECT_REQUEST_SUMMARY"/>				<!-- 프로젝트 의뢰 요약 -->
			<result property="projectRequestContent" column="PROJECT_REQUEST_CONTENT"/>				<!-- 프로젝트 의뢰 사항 -->
			<result property="projectRequestBudget" column="PROJECT_REQUEST_BUDGET"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRequestBudgetString" column="PROJECT_REQUEST_BUDGET_STRING"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRecruitDate" column="REQUEST_RECRUIT_DATE"/>							<!-- 프로젝트 모집 마감일 -->
			<result property="projectWorkDate" column="REQUEST_WORK_DATE"/>										<!-- 프로젝트 작업 마감일 -->
			<result property="projectWorkPeriod" column="PROJECT_WORK_PERIOD "/>							<!-- 프로젝트 작업기간 -->
			<result property="projectCreateDate" column="PROJECT_REQUEST_CREATE_DATE"/>				<!-- 프로젝트 의뢰 등록일 -->
			<result property="mainCategotyNo" column="MAIN_CATEGORY_NO"/>											<!-- 카테고리1 번호(FK) -->
			<result property="mainCategotyName" column="MAIN_CATEGORY_NAME"/>											<!-- 카테고리1 번호(FK) -->
			<result property="thirdCategotyNo" column="THIRD_CATEGORY_NO"/>										<!-- 카테고리3 번호(FK) -->
			<result property="thirdCategotyName" column="THIRD_CATEGORY_NAME"/>										<!-- 카테고리3 번호(FK) -->
			<result property="projectRequestfile" column="REQUEST_FILE_PATH"/>										<!-- 이미지 경로 -->
			
			<result property="clientNo" column="MEMBER_NO"/>																					<!-- 회원 번호(FK)-의뢰인 회원번호 -->
			<result property="proposalNo" column="PROJECT_PROPOSAL_NO"/>															<!-- 프로젝트 제안 번호 SEQUENCE :SEQ_PROJECT_PROPOSAL_NO -->
			<result property="proposalAdoptStatus" column="PROPOSAL_ADOPT_STATUS"/>										<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalAdoptStatusString" column="PROPOSAL_ADOPT_STATUS_STRING"/>			<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalPrice" column="PROPOSAL_PRICE"/>																<!-- 프로젝트 제안 가격 -->
			<result property="proposalPriceString" column="PROPOSAL_PRICE_STRING"/>										<!-- 프로젝트 제안 가격 -->
			<result property="proposalEditNum" column="PROPOSAL_EDIT_NUM"/>														<!-- 프로젝트 수정 횟수 -->
			<result property="proposalCreateDate" column="PROPOSAL_CREATE_DATE"/>											<!-- 프로젝트 제안 등록일 -->
			<result property="freelancerNo" column="FREELANCER_NO"/>																	<!-- 프리랜서 번호(FK) -->
		</resultMap>
		
		<!-- 프리랜서 수익금 내역관리 -->
		<resultMap type="myProjectFreelancerProfit" id="profit_rm">								
			<id property="settlementNo" column="SETTLEMENT_NO"/>						        <!-- 거래 내역 번호 -->
			<result property="paymentType" column="PAYMENT_TYPE"/>									<!-- 거래 종류(1:입금, 2:출금, 3:환불) -->			
			<result property="userNo" column="USER_NO"/>													  <!-- 거래 회원 번호  -->
			<result property="workStatus" column="WORK_STATUS"/>										<!-- 1: 진행중, 2: 정산 완료, 3:환불 완료, 4:마감   -->
			<result property="paymentDate" column="PAYMENT_DATE"/>									<!-- 거래 날짜 -->
			<result property="paymentDateString" column="PAYMENT_DATE_STRING"/>									<!-- 거래 날짜 -->
			<result property="paymentPrice" column="PAYMENT_PRICE"/>								<!-- 거래 금액 -->
			<result property="profitType" column="PROFIT_TYPE"/>										<!-- 1. 총수익 2. 정산예정 금액 -->
			<result property="paymentPriceString" column="PAYMENT_PRICE_STRING"/>		<!-- 거래 금액 -->
			<result property="tradeNo" column="TRADE_NO"/>													<!-- 거래 번호(FK)  -->
			<result property="serviceNo" column="SERVICE_NO"/>											<!-- 서비스 번호  -->
			<result property="servicePrice" column="SERVICE_PRICE"/>								<!-- 서비스 가격  -->
			<result property="servicePriceString" column="SERVICE_PRICE_STRING"/>		<!-- 서비스 가격  -->
			<result property="freelancerNo" column="FREELANCER_NO"/>								<!-- 전문가 번호  -->
			<result property="num" column="NUM"/>																		<!-- 행 번호  -->
			
		</resultMap>
		
		<!-- 등급 -->
		<resultMap type="myProjectFreelancer" id="grade_rm">
			<id property="freelancerNo" column="FREELANCER_NO"/>	
			<result property="gradeNo" column="GRADE_NO"/>
			<result property="gradeName" column="GRADE_NAME"/>
			<result property="gradeSatisfaction" column="SATISFACTION"/>
			<result property="gradeInquityRate" column="INQUIRY_RATE"/>
			<result property="gradeCompletionRate" column="COMPLETION_RATE"/>
			<result property="gradeSaleProceeds" column="SALE_PROCEEDS"/>
			<result property="gradeSaleProceedsString" column="SALE_PROCEEDS_STRING"/>
			<result property="gradeSaleCount" column="SALE_COUNT"/>
		</resultMap>
		
		<!-- 메인 카테고리 리스트 -->   
    <select id="selectmaincategoryList" resultMap="fService_rm">
    SELECT * FROM MAIN_CATEGORY
    </select>
    
    <!-- 카테고리 리스트 --> 
    <select id="selectcategoryList" resultMap="fService_rm">
    SELECT THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME,MAIN_CATEGORY_NO 
		FROM CATEGORY 
		JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		ORDER BY 1
    </select>
    
    <!-- 서비스 등록하기 1.번-->
    <insert id="insertService" parameterType="java.util.HashMap" useGeneratedKeys="true">
    <selectKey keyProperty="serviceNo" resultType="_int" order="BEFORE">
			SELECT SEQ_SERVICE_NO.NEXTVAL FROM DUAL
		</selectKey>
    INSERT INTO "SERVICE"
		VALUES(#{serviceNo},#{freelancerVo.serviceTitle},#{freelancerVo.serviceSummary},
		#{freelancerVo.serviceContent},#{freelancerVo.servicePrice},#{freelancerVo.serviceEditNum},#{freelancerVo.serviceWorkPeriod},
		DEFAULT,DEFAULT,#{freelancerVo.thirdCategoryNo},#{loginMember},DEFAULT)
    </insert>
    
    <!-- 서비스 등록하고 서비스 이미지 등록하기 2.번-->
    <insert id="insertFileImageList" parameterType="list">
		INSERT INTO SERVICE_FILE
		SELECT SEQ_SERVICE_FILE_NO.NEXTVAL REQUEST_FILE_NO, A.* FROM
		
			<foreach collection="list" item="file" 
				open="(" close=") A" separator="UNION ALL">
				SELECT #{file.serviceFilePath} REQUEST_FILE_PATH,
					     #{file.serviceNo} SERVICE_NO
				FROM DUAL
			</foreach>
		</insert>
		
		<!-- 나의 서비스 들고 오기 전 페이징 처리 -->
		<select id="getMyServiceListCount" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM (SELECT * 
			FROM SERVICE
			LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
			LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO))
		LEFT JOIN (SELECT s.*,
		ROW_NUMBER() OVER (PARTITION BY SERVICE_NO ORDER BY REQUEST_FILE_NO) rum
		FROM SERVICE_FILE s) USING(SERVICE_NO)
		WHERE RUM = 1
		AND SERVICE_DEL_FL = 'N'
		AND SERVICE_STATUS NOT IN (5)
		AND FREELANCER_NO = #{memberNo}
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
		</select>
		
		<!-- 판매 관리 페이지 검색할때 자동완성 하기위해서 서비스 다 들고 오기 -->
		<select id="selectMyServiceInput" parameterType="java.util.HashMap" resultMap="fService_rm">
		SELECT SERVICE_NO,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE,TO_CHAR(SERVICE_PRICE, 'FM999,999,999,999') SERVICE_PRICE_STRING, 
			SERVICE_EDIT_NUM,SERVICE_WORK_PERIOD,
			SERVICE_STATUS,SERVICE_DEL_FL,
			CASE WHEN SERVICE_STATUS = 1 THEN '승인대기 중'
			     WHEN SERVICE_STATUS = 2 THEN '판매 중'
			     WHEN SERVICE_STATUS = 3 THEN '미승인'
			     WHEN SERVICE_STATUS = 4 THEN '판매 중지'
			END AS SERVICE_STATUS_STRING
			,SERVICE_CREATE_DATE,THIRD_CATEGORY_NO,FREELANCER_NO,REQUEST_FILE_NO,REQUEST_FILE_PATH,MAIN_CATEGORY_NO
		FROM (SELECT * 
			FROM SERVICE
			LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
			LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO))
		LEFT JOIN (SELECT s.*,
		ROW_NUMBER() OVER (PARTITION BY SERVICE_NO ORDER BY REQUEST_FILE_NO) rum
		FROM SERVICE_FILE s) USING(SERVICE_NO)
		WHERE RUM = 1
		AND FREELANCER_NO = #{memberNo}
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
		</select>
		
		<!-- 나의 서비스 다 들고오기 -->
		<select id="selectMyService" parameterType="java.util.HashMap" resultMap="fService_rm">
		SELECT SERVICE_NO,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE,TO_CHAR(SERVICE_PRICE, 'FM999,999,999,999') SERVICE_PRICE_STRING, 
			SERVICE_EDIT_NUM,SERVICE_WORK_PERIOD,
			SERVICE_STATUS,SERVICE_DEL_FL,
			CASE WHEN SERVICE_STATUS = 1 THEN '승인대기 중'
			     WHEN SERVICE_STATUS = 2 THEN '판매 중'
			     WHEN SERVICE_STATUS = 3 THEN '미승인'
			     WHEN SERVICE_STATUS = 4 THEN '판매 중지'
			END AS SERVICE_STATUS_STRING
			,SERVICE_CREATE_DATE,THIRD_CATEGORY_NO,FREELANCER_NO,REQUEST_FILE_NO,REQUEST_FILE_PATH,MAIN_CATEGORY_NO
		FROM (SELECT * 
			FROM SERVICE
			LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
			LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO))
		LEFT JOIN (SELECT s.*,
		ROW_NUMBER() OVER (PARTITION BY SERVICE_NO ORDER BY REQUEST_FILE_NO) rum
		FROM SERVICE_FILE s) USING(SERVICE_NO)
		WHERE RUM = 1
		AND SERVICE_DEL_FL = 'N'
		AND SERVICE_STATUS NOT IN (5)
		AND FREELANCER_NO = #{memberNo}
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
		</select>
		<!-- 나의 판매 서비스 들고오기 전 페이지 처리 -->
		<select id="getSalesListCount" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM (SELECT * FROM TRADE
			JOIN (SELECT * 
				FROM SERVICE
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)) USING(SERVICE_NO)
			LEFT JOIN (SELECT TRADE_NO, NVL(WORK_COUNT,0) WORK_COUNT
				FROM TRADE 
				LEFT JOIN (SELECT COUNT(*) WORK_COUNT,TRADE_NO 
					FROM TRADE
					JOIN "WORK" USING(TRADE_NO)
					GROUP BY TRADE_NO) USING (TRADE_NO)) USING (TRADE_NO) 
			JOIN (SELECT MEMBER_NO,MEMBER_NICKNAME,MEMBER_NAME FROM "MEMBER") USING(MEMBER_NO)
			JOIN "SETTLEMENT" USING(TRADE_NO)
			LEFT JOIN TRADE_REPORT USING(TRADE_NO) WHERE REPORT_PERSON = FREELANCER_NO OR REPORT_PERSON IS null)
		WHERE FREELANCER_NO = #{memberNo}
		AND PAYMENT_TYPE = 1
		AND (TRADE_REPORT_TYPE_NO IS NULL OR TRADE_REPORT_TYPE_NO = 1)
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		<if test="freelancerFL != 0">
				 AND FREELANCER_DONE_FL = #{freelancerFL}
		</if>
		<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
		</if>
		ORDER BY TRADE_NO
		</select>
		<!-- 나의 판매 내역 들고 오기 -->
		<select id="selectSalesList" parameterType="java.util.HashMap" resultMap="fService_rm">
		SELECT t.*,
			CASE WHEN FREELANCER_DONE_FL = 1 THEN '진행 중'
			     WHEN FREELANCER_DONE_FL = 2 THEN '작업 완료'
			     WHEN FREELANCER_DONE_FL = 3 THEN '진행 취소'
			END AS FREELANCER_DONE_FL_STRING,
			CASE WHEN WORK_STATUS = 3 THEN '진행 취소'
	     		 WHEN WORK_STATUS = 2 THEN '정산 완료'
			END AS WORK_STATUS_STRING
		FROM (SELECT * FROM TRADE
			JOIN (SELECT * 
				FROM SERVICE
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)) USING(SERVICE_NO)
			LEFT JOIN (SELECT TRADE_NO, NVL(WORK_COUNT,0) WORK_COUNT
				FROM TRADE 
				LEFT JOIN (SELECT COUNT(*) WORK_COUNT,TRADE_NO 
					FROM TRADE
					JOIN "WORK" USING(TRADE_NO)
					GROUP BY TRADE_NO) USING (TRADE_NO)) USING (TRADE_NO) 
			JOIN (SELECT MEMBER_NO,MEMBER_NICKNAME,MEMBER_NAME FROM "MEMBER") USING(MEMBER_NO)
			JOIN "SETTLEMENT" USING(TRADE_NO)
			LEFT JOIN TRADE_REPORT USING(TRADE_NO) WHERE REPORT_PERSON = FREELANCER_NO OR REPORT_PERSON IS null) t
		WHERE FREELANCER_NO = #{memberNo}
		AND PAYMENT_TYPE = 1
		AND (TRADE_REPORT_TYPE_NO IS NULL OR TRADE_REPORT_TYPE_NO = 1)
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		<if test="freelancerFL != 0">
				 AND FREELANCER_DONE_FL = #{freelancerFL}
		</if>
		<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
		</if>
		ORDER BY TRADE_NO
		</select>
		<!-- 신고하기 -->
		<insert id="insertreportSubmit" parameterType="java.util.HashMap" useGeneratedKeys="true">
    <selectKey keyProperty="tradeReportNo" resultType="_int" order="BEFORE">
			SELECT SEQ_TRADE_REPORT_NO.NEXTVAL FROM DUAL
		</selectKey>
		<if test='reportFilePath neq null'>
				 INSERT INTO "TRADE_REPORT"
				 VALUES(#{tradeReportNo},#{reportPersonNo},#{reportedPersonNo},#{reportContent},DEFAULT,#{reportFilePath},#{tradeNo},DEFAULT,1)
		</if>
		<if test='reportFilePath eq null'>
				 INSERT INTO "TRADE_REPORT" 
				(TRADE_REPORT_NO, REPORT_PERSON, REPORTED_PERSON,TRADE_REPORT_CONTENT,REFUND_FL,TRADE_NO,TRADE_REPORT_TYPE_NO) 
				VALUES 
				(#{tradeReportNo},#{reportPersonNo},#{reportedPersonNo},#{reportContent},DEFAULT,#{tradeNo},1)
		</if>
    
    </insert>
    <!-- 작업물 발송 -->
    <insert id="insertsendworkSubmit" parameterType="_int">
    	INSERT INTO "WORK"
    	VALUES(SEQ_WORK_NO.NEXTVAL,DEFAULT,#{tradeNo})
    </insert>
    <!-- 작업 완료 누르기  -->
    <update id="insertfinishSubmit" parameterType="_int">
    UPDATE TRADE
		SET FREELANCER_DONE_FL = 2
		WHERE TRADE_NO = #{tradeNo}
    </update>
    <!-- 내가 보낸 제안 들고오기 -->
    <select id="selectMyProposal" resultMap="request_rm">
    SELECT p.*,TO_CHAR(PROPOSAL_PRICE, 'FM999,999,999,999') PROPOSAL_PRICE_STRING,
				CASE WHEN PROPOSAL_ADOPT_STATUS = 1 THEN '대기중'
				     WHEN PROPOSAL_ADOPT_STATUS = 2 THEN '채택'
				     WHEN PROPOSAL_ADOPT_STATUS = 3 THEN '모집마감'
				END AS PROPOSAL_ADOPT_STATUS_STRING
		FROM (SELECT * FROM PROJECT_PROPOSAL 
		LEFT JOIN (SELECT PROJECT_REQUEST_NO,PROJECT_REQUEST_TITLE,
			PROJECT_REQUEST_SUMMARY,PROJECT_REQUEST_CONTENT,TO_CHAR(PROJECT_REQUEST_BUDGET, 'FM999,999,999,999') PROJECT_REQUEST_BUDGET_STRING,
			TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY.MM.DD') REQUEST_RECRUIT_DATE,TO_CHAR(REQUEST_WORK_DATE, 'YYYY.MM.DD') REQUEST_WORK_DATE,
			PROJECT_WORK_PERIOD,TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY.MM.DD') PROJECT_REQUEST_CREATE_DATE,
			THIRD_CATEGORY_NO,MEMBER_NO
			FROM PROJECT_REQUEST) USING (PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		LEFT JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)) p
		WHERE FREELANCER_NO = #{memberNo}
		AND REQUEST_FILE_ORDER = 0
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		ORDER BY PROJECT_REQUEST_NO
    </select>
    <!-- 내가 보낸 제안 페이지 처리  -->
     <select id="getMyProposalListCount" resultType="_int">
    SELECT COUNT(*)
		FROM (SELECT * FROM PROJECT_PROPOSAL 
		LEFT JOIN (SELECT PROJECT_REQUEST_NO,PROJECT_REQUEST_TITLE,
			PROJECT_REQUEST_SUMMARY,PROJECT_REQUEST_CONTENT,TO_CHAR(PROJECT_REQUEST_BUDGET, 'FM999,999,999,999') PROJECT_REQUEST_BUDGET_STRING,
			TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY.MM.DD') REQUEST_RECRUIT_DATE,TO_CHAR(REQUEST_WORK_DATE, 'YYYY.MM.DD') REQUEST_WORK_DATE,
			PROJECT_WORK_PERIOD,TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY.MM.DD') PROJECT_REQUEST_CREATE_DATE,
			THIRD_CATEGORY_NO,MEMBER_NO
			FROM PROJECT_REQUEST) USING (PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		LEFT JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)) p
		WHERE FREELANCER_NO = #{memberNo}
		AND REQUEST_FILE_ORDER = 0
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		ORDER BY PROJECT_REQUEST_NO
    </select>
  	
  	<!-- 나의 달별 총 수익 들고오기 -->
  	<select id="selectMonthMyProfit" parameterType="_int" resultMap="profit_rm">
  	SELECT SUM(PAYMENT_PRICE) PAYMENT_PRICE,PAYMENT_DATE_STRING 
		FROM (SELECT  p.*,TO_CHAR(PAYMENT_DATE,'YYYY-MM') PAYMENT_DATE_STRING 
			FROM (SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					WHERE FREELANCER_NO = #{memberNo}
					AND WORK_STATUS IN (3)       
					AND PAYMENT_TYPE IN (3)
					AND USER_NO = #{memberNo}          
					AND PAYMENT_DATE BETWEEN TO_DATE(to_char(add_months(sysdate,-12),'yyyy-mm'),'yyyy-mm') AND SYSDATE
					UNION 
					SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					WHERE FREELANCER_NO = #{memberNo}
					AND WORK_STATUS IN (2)     
					AND PAYMENT_TYPE IN (2)
					AND PAYMENT_DATE BETWEEN TO_DATE(to_char(add_months(sysdate,-12),'yyyy-mm'),'yyyy-mm') AND SYSDATE) p)
		GROUP BY PAYMENT_DATE_STRING
  	</select>
  	
  		<!-- 검색해오는 시검의 1년간 총 수익이랑 예상 수익 들고오기 -->
  	<select id="selectMyProfit" parameterType="_int" resultMap="profit_rm">
  	SELECT (SELECT TO_CHAR(SUM(PAYMENT_PRICE), 'FM999,999,999,999')
		FROM (SELECT  p.*,TO_CHAR(PAYMENT_DATE,'YYYY-MM') PAYMENT_DATE_STRING 
			FROM (SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					WHERE FREELANCER_NO = #{memberNo}
					AND WORK_STATUS IN (1,4)      
					AND PAYMENT_TYPE IN (1)
					AND PAYMENT_DATE BETWEEN TO_DATE(to_char(add_months(sysdate,-12),'yyyy-mm'),'yyyy-mm') AND SYSDATE) p)) PAYMENT_PRICE_STRING, '2' PROFIT_TYPE
				FROM DUAL
		UNION
		SELECT (SELECT TO_CHAR(SUM(PAYMENT_PRICE), 'FM999,999,999,999')
		FROM (SELECT  p.*,TO_CHAR(PAYMENT_DATE,'YYYY-MM') PAYMENT_DATE_STRING 
			FROM (SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					WHERE FREELANCER_NO = #{memberNo}
					AND WORK_STATUS IN (3)      
					AND PAYMENT_TYPE IN (3)
					AND USER_NO = #{memberNo}            
					AND PAYMENT_DATE BETWEEN TO_DATE(to_char(add_months(sysdate,-12),'yyyy-mm'),'yyyy-mm') AND SYSDATE
					UNION 
					SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					WHERE FREELANCER_NO = #{memberNo}
					AND WORK_STATUS IN (2)      
					AND PAYMENT_TYPE IN (2)
					AND PAYMENT_DATE BETWEEN TO_DATE(to_char(add_months(sysdate,-12),'yyyy-mm'),'yyyy-mm') AND SYSDATE) p)) PAYMENT_PRICE_STRING, '1' PROFIT_TYPE
				FROM DUAL
  	</select>
  	
  	<!-- 수익 정산 내역 리스트 -->
  	<select id="selectMyProfitEachList" parameterType="java.util.HashMap" resultMap="profit_rm">
  	SELECT t.*,ROWNUM NUM FROM (SELECT  p.*,TO_CHAR(PAYMENT_DATE,'YYYY-MM-DD hh:mm') PAYMENT_DATE_STRING,
			TO_CHAR((PAYMENT_PRICE), 'FM999,999,999,999') PAYMENT_PRICE_STRING,
			TO_CHAR((SERVICE_PRICE), 'FM999,999,999,999') SERVICE_PRICE_STRING
				FROM (SELECT * FROM SETTLEMENT
						JOIN TRADE USING(TRADE_NO)
						JOIN SERVICE USING(SERVICE_NO)
						WHERE FREELANCER_NO = #{memberNo}
						AND WORK_STATUS IN (3)      
						AND PAYMENT_TYPE IN (3)
						AND USER_NO = #{memberNo}  
						<if test="startDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
						</if>  
						<if test="endtDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
						</if>  
						<if test="startDate neq '' and endtDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
						</if>      
						UNION 
						SELECT * FROM SETTLEMENT
						JOIN TRADE USING(TRADE_NO)
						JOIN SERVICE USING(SERVICE_NO)
						WHERE FREELANCER_NO  =#{memberNo}
						AND WORK_STATUS IN (2)    
						AND PAYMENT_TYPE IN (2)
						<if test="startDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
						</if>  
						<if test="endtDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
						</if>  
						<if test="startDate neq '' and endtDate neq ''">
							 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
						</if>
						) p 
					ORDER BY PAYMENT_DATE) t
  	</select>
  	
  	<!-- 수익 정산 내역 페이지 처리 -->
  	<select id="getMyProfitEachListCount" parameterType="java.util.HashMap" resultType="_int">
  	SELECT COUNT(*) 
		FROM (SELECT * FROM SETTLEMENT
				JOIN TRADE USING(TRADE_NO)
				JOIN SERVICE USING(SERVICE_NO)
				WHERE FREELANCER_NO = #{memberNo}
				AND WORK_STATUS IN (3)       
				AND PAYMENT_TYPE IN (3)
				AND USER_NO = #{memberNo} 
				<if test="startDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
				</if>  
				<if test="endtDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
				</if>  
				<if test="startDate neq '' and endtDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
				</if>        
				UNION 
				SELECT * FROM SETTLEMENT
				JOIN TRADE USING(TRADE_NO)
				JOIN SERVICE USING(SERVICE_NO)
				WHERE FREELANCER_NO = #{memberNo}
				AND WORK_STATUS IN (2)      
				AND PAYMENT_TYPE IN (2)
				<if test="startDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
				</if>  
				<if test="endtDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
				</if>  
				<if test="startDate neq '' and endtDate neq ''">
						 AND TO_DATE(to_char(PAYMENT_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
				</if>
				) p
			</select>
			<!-- 서비스 문의 들고 오기 페이지 처리-->
			<select id="getmyServiceInquiryListCount" parameterType="java.util.HashMap" resultType="_int">
			SELECT COUNT(*) 
			FROM (SELECT * FROM SERVICE_INQUIRY
				JOIN SERVICE USING(SERVICE_NO)
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
				LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
				JOIN "MEMBER" USING(MEMBER_NO)) s
			WHERE FREELANCER_NO = #{memberNo} 
			<if test="startDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if> 
			<if test="endtDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
			</if>
			<if test="startDate neq '' and endtDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
			</if>
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
			<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
			</if>
			ORDER BY SERVICE_INQUIRY_CREATE_DATE
			</select>
			
			<!-- 서비스 문의 들고 오기 -->
			<select id="myServiceInquiryList" parameterType="java.util.HashMap" resultMap="fService_rm">
			SELECT s.* ,TO_CHAR(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD') SERVICE_INQUIRY_DATE_STRING
			FROM (SELECT * FROM SERVICE_INQUIRY
				JOIN SERVICE USING(SERVICE_NO)
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
				LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
				JOIN "MEMBER" USING(MEMBER_NO)) s
			WHERE FREELANCER_NO = #{memberNo} 
			<if test="startDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[>=]]> #{startDate}
			</if> 
			<if test="endtDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') <![CDATA[<=]]> #{endtDate}
			</if>
			<if test="startDate neq '' and endtDate neq ''">
				AND TO_DATE(to_char(SERVICE_INQUIRY_CREATE_DATE,'YYYY-MM-DD'),'YYYY-MM-DD') BETWEEN #{startDate} AND #{endtDate}
			</if>
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
			<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
			</if>
			ORDER BY SERVICE_INQUIRY_CREATE_DATE
			</select>
			
			<select  id="selectMyProjectGrade"  parameterType="java.util.HashMap" resultMap="grade_rm">
			SELECT FREELANCER_NO,GRADE_NO,GRADE_NAME,SALE_COUNT,SALE_PROCEEDS_STRING,SALE_PROCEEDS,SATISFACTION,COMPLETION_RATE,INQUIRY_RATE
FROM (SELECT FREELANCER_NO,GRADE_NAME,GRADE_NO FROM FREELANCER JOIN GRADE USING(GRADE_NO))
JOIN (SELECT FREELANCER_NO,NVL(SALE_COUNT,0) SALE_COUNT
	FROM FREELANCER
	LEFT JOIN (SELECT FREELANCER_NO,COUNT(*) SALE_COUNT
		FROM (SELECT * FROM SETTLEMENT
			JOIN TRADE USING(TRADE_NO)
			JOIN SERVICE USING(SERVICE_NO)
			WHERE  WORK_STATUS IN (3)      
			AND PAYMENT_TYPE IN (3)
			AND USER_NO = FREELANCER_NO         
			UNION
			SELECT * 
			FROM SETTLEMENT
			JOIN TRADE USING(TRADE_NO)
			JOIN SERVICE USING(SERVICE_NO)
			WHERE WORK_STATUS IN (2)   
			AND PAYMENT_TYPE IN (2))-----------------------------------------------------
		GROUP BY FREELANCER_NO) USING(FREELANCER_NO)) USING(FREELANCER_NO)
JOIN (SELECT FREELANCER_NO,NVL(PAYMENT_PRICE_STRING,0) SALE_PROCEEDS_STRING, NVL(PAYMENT_PRICE,0) SALE_PROCEEDS
	FROM FREELANCER
	LEFT JOIN (SELECT TO_CHAR(SUM(PAYMENT_PRICE), 'FM999,999,999,999') PAYMENT_PRICE_STRING,SUM(PAYMENT_PRICE) PAYMENT_PRICE,FREELANCER_NO
		FROM (SELECT * FROM SETTLEMENT
			JOIN TRADE USING(TRADE_NO)
			JOIN SERVICE USING(SERVICE_NO)
			WHERE  WORK_STATUS IN (3)      
			AND PAYMENT_TYPE IN (3)
			AND USER_NO = FREELANCER_NO         -----------------------------------------------------
			UNION 
			SELECT * FROM SETTLEMENT
			JOIN TRADE USING(TRADE_NO)
			JOIN SERVICE USING(SERVICE_NO)
			WHERE WORK_STATUS IN (2)      
			AND PAYMENT_TYPE IN (2))----------------------------------
		GROUP BY FREELANCER_NO) USING(FREELANCER_NO))  USING(FREELANCER_NO)
JOIN (SELECT FREELANCER_NO,NVL(REVIEW_POINT,0) SATISFACTION --리뷰 만족도
	FROM FREELANCER
	LEFT JOIN (SELECT FREELANCER_NO, ROUND(AVG(REVIEW_POINT),1) REVIEW_POINT
		FROM (SELECT REVIEW_POINT,FREELANCER_NO
			FROM REVIEW 	
			JOIN TRADE ON REVIEW_NO = TRADE_NO
			JOIN SERVICE USING(SERVICE_NO) WHERE REVIEW_CREATE_TIME BETWEEN FN_DT${typeVal} AND (ADD_MONTHS(FN_DT${typeVal}, 6) - (1/86400)))
		GROUP BY FREELANCER_NO) USING(FREELANCER_NO)) USING(FREELANCER_NO)
JOIN (SELECT FREELANCER_NO, NVL(WORK_RATE,0) COMPLETION_RATE--,NVL(DATE_RATE,0) DATE_RATE,NVL(TRADE_COUNT,0) DATE_RATE, NVL(WORK_RATE,0) COMPLETION_RATE --작업물 준수율
	FROM FREELANCER 
	LEFT JOIN (SELECT FREELANCER_NO,SUM(DATE_RATE) DATE_RATE,COUNT(*) TRADE_COUNT ,ROUND((SUM(DATE_RATE)/COUNT(*))*100) WORK_RATE
		FROM (SELECT t.*,
			CASE WHEN SERVICE_WORK_PERIOD <![CDATA[>=]]> END_WORK_PERIOD THEN 1
				 WHEN SERVICE_WORK_PERIOD <![CDATA[<]]> END_WORK_PERIOD THEN 0
			END AS DATE_RATE
			FROM (SELECT SERVICE_WORK_PERIOD,TRADE_NO,SERVICE_NO,FREELANCER_NO, 
				TO_DATE(WORK_SEND_DATE, 'YYYY-MM-DD') - TO_DATE(PAYMENT_DATE, 'YYYY-MM-DD') END_WORK_PERIOD
				FROM FREELANCER 
				JOIN SERVICE USING(FREELANCER_NO)
				JOIN TRADE USING(SERVICE_NO)
				JOIN SETTLEMENT USING(TRADE_NO)
				LEFT JOIN (SELECT * FROM (SELECT w.*,
					ROW_NUMBER() OVER (PARTITION BY TRADE_NO ORDER BY WORK_NO) rum
					FROM "WORK"  w) WHERE rum = 1) USING(TRADE_NO)
				WHERE WORK_STATUS = 2
				AND PAYMENT_TYPE =1
				AND PAYMENT_DATE BETWEEN FN_DT${typeVal} AND (ADD_MONTHS(FN_DT${typeVal}, 6) - (1/86400))) t)
		GROUP BY FREELANCER_NO) USING(FREELANCER_NO)) USING(FREELANCER_NO)
JOIN (SELECT FREELANCER_NO,NVL(MESSAGE_RATE,0) INQUIRY_RATE ----문의 응답률
		FROM FREELANCER
		LEFT JOIN (SELECT ROUND(AVG(MESSAGE_RATE)*100) MESSAGE_RATE,FREELANCER_NO
			FROM (SELECT SERVICE_INQUIRY_NO,FREELANCER_NO,NVL(MESSAGE_RATE,0) MESSAGE_RATE
				FROM (SELECT 
				   CASE WHEN SERVICE_INQUIRY_CREATE_DATE <![CDATA[<=]]> CHAT_SEND_TIME THEN 1
				       WHEN SERVICE_INQUIRY_CREATE_DATE <![CDATA[>]]>  CHAT_SEND_TIME THEN 0
				   END AS MESSAGE_RATE,FREELANCER_NO FREELANCER_NO_MESSAGE,SERVICE_INQUIRY_NO
				   FROM (SELECT *
				      FROM (SELECT SERVICE_NO,SERVICE_INQUIRY_NO,SERVICE_INQUIRY_CREATE_DATE,MEMBER_NO,FREELANCER_NO
				         FROM SERVICE_INQUIRY
				         JOIN SERVICE USING(SERVICE_NO))
				      LEFT JOIN (SELECT CHAT_ROOM_NO,CHAT_SEND_TIME,CHAT_OPENMEM_NO,CLIENT_NO
				         FROM (SELECT * FROM (SELECT * 
							      FROM (SELECT c.*,FREELANCER.FREELANCER_NO,
							            ROW_NUMBER() OVER (PARTITION BY CHAT_ROOM_NO ORDER BY CHAT_SEND_TIME DESC) rum
							            FROM CHAT c JOIN FREELANCER ON(SENDER_NO = FREELANCER_NO) WHERE SENDER_NO = FREELANCER_NO) WHERE rum = 1) JOIN FREELANCER USING(FREELANCER_NO))
				         JOIN CHAT_ROOM USING(CHAT_ROOM_NO)
				         WHERE (CHAT_OPENMEM_NO = FREELANCER_NO OR CLIENT_NO = FREELANCER_NO)) ON (CHAT_OPENMEM_NO = FREELANCER_NO) 
				      WHERE (CLIENT_NO=MEMBER_NO)-----------------------
				      AND SERVICE_INQUIRY_CREATE_DATE BETWEEN FN_DT${typeVal} AND (ADD_MONTHS(FN_DT${typeVal}, 6) - (1/86400))
				      UNION
				      SELECT *
				      FROM (SELECT SERVICE_NO,SERVICE_INQUIRY_NO,SERVICE_INQUIRY_CREATE_DATE,MEMBER_NO,FREELANCER_NO
				         FROM SERVICE_INQUIRY
				         JOIN SERVICE USING(SERVICE_NO))
				      JOIN (SELECT CHAT_ROOM_NO,CHAT_SEND_TIME,CHAT_OPENMEM_NO,CLIENT_NO
							FROM (SELECT * FROM (SELECT * 
							      FROM (SELECT c.*,FREELANCER.FREELANCER_NO,
							            ROW_NUMBER() OVER (PARTITION BY CHAT_ROOM_NO ORDER BY CHAT_SEND_TIME DESC) rum
							            FROM CHAT c JOIN FREELANCER ON(SENDER_NO = FREELANCER_NO) WHERE SENDER_NO = FREELANCER_NO) WHERE rum = 1) JOIN FREELANCER USING(FREELANCER_NO))
							JOIN CHAT_ROOM USING(CHAT_ROOM_NO)
							WHERE (CHAT_OPENMEM_NO = FREELANCER_NO OR CLIENT_NO = FREELANCER_NO)) ON (CHAT_OPENMEM_NO = MEMBER_NO) 
				      WHERE (CLIENT_NO=FREELANCER_NO)
				      AND SERVICE_INQUIRY_CREATE_DATE BETWEEN FN_DT${typeVal} AND (ADD_MONTHS(FN_DT${typeVal}, 6) - (1/86400))))
				      RIGHT JOIN (SELECT * FROM SERVICE_INQUIRY JOIN SERVICE USING(SERVICE_NO)) USING(SERVICE_INQUIRY_NO)) 
			GROUP BY FREELANCER_NO) USING(FREELANCER_NO)) USING(FREELANCER_NO)
					<if test="memberNo != 0 and memberNo != null">
					WHERE FREELANCER_NO = #{memberNo}
					</if>
			</select>
			
			<select  id="selectBasicGrade" resultMap="grade_rm">
			SELECT GRADE_NO,GRADE_NAME,SATISFACTION,INQUIRY_RATE,COMPLETION_RATE,SALE_PROCEEDS, 
			TO_CHAR(SALE_PROCEEDS, 'FM999,999,999,999') SALE_PROCEEDS_STRING,SALE_COUNT 
			FROM GRADE
			</select>
			
			<!-- 프리랜서 등업 상승 스케줄러 작업 -->
	   	<update id="LevelUPSchedulingUpdate">
	   	UPDATE "FREELANCER" SET
	   	GRADE_NO = #{FreelanceLeverNo}
	   	WHERE FREELANCER_NO IN 
	   	<foreach collection="inputFreelance" item="no"
	      open=" (" separator="," close=") ">
	        #{no}
	  	</foreach>
	   	</update>
   	
   		<!-- 프리랜서 등업 상승 스케줄러 작업 -->
	   	<update id="LevelDownSchedulingUpdate">
	   	UPDATE "FREELANCER" SET
	   	GRADE_NO = #{FreelanceLeverNo}
	   	WHERE FREELANCER_NO IN 
	   	<foreach collection="inputFreelance" item="no"
	      open=" (" separator="," close=") ">
	        #{no}
	  	</foreach>
	   	</update>
	   	
	   	
	   	<!-- 프리랜서 판매건수 들고 옴 -->
	   	<select  id="selectFreelancerSalesCoount" resultMap="grade_rm">
	   	SELECT FREELANCER_NO,NVL(SALE_COUNT,0) SALE_COUNT
			FROM FREELANCER
			LEFT JOIN (SELECT FREELANCER_NO,COUNT(*) SALE_COUNT
				FROM (SELECT * FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					--WHERE FREELANCER_NO = 30
					WHERE  WORK_STATUS IN (3)      
					AND PAYMENT_TYPE IN (3)
					AND USER_NO = FREELANCER_NO         
					UNION
					SELECT * 
					FROM SETTLEMENT
					JOIN TRADE USING(TRADE_NO)
					JOIN SERVICE USING(SERVICE_NO)
					--WHERE FREELANCER_NO = 30
					WHERE WORK_STATUS IN (2)   
					AND PAYMENT_TYPE IN (2))
				GROUP BY FREELANCER_NO) USING(FREELANCER_NO)
			WHERE FREELANCER_NO=#{memberNo}
	   	</select>
</mapper>
