<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myProjectFreelancerSerive">
	
  	<resultMap type="myProjectFreelancerService" id="fService_rm">
    	<!-- SELECT SERVICE_NO,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE, SERVICE_EDIT_NUM,
		SERVICE_WORK_PERIOD,SERVICE_STATUS,SERVICE_CREATE_DATE,THIRD_CATEGORY_NO,FREELANCER_NO,REQUEST_FILE_NO,REQUEST_FILE_PATH -->
    		<id property="serviceNo" column="SERVICE_NO"/>													<!-- 서비스 번호 SEQUENCE: SEQ_SERVICE_NO -->	
    		   		
	      <result property="serviceTitle" column="SERVICE_TITLE" />								<!-- 서비스 제목 -->							
	      <result property="serviceSummary" column="SERVICE_SUMMARY" />						<!-- 서비스 한 줄 요약 -->
	      <result property="serviceContent" column="SERNICE_CONTENT" />						<!-- 서비스 내용 -->
	      <result property="servicePrice" column="SERVICE_PRICE"/>								<!-- 서비스 가격 -->
	      <result property="servicePriceString" column="SERVICE_PRICE_STRING"/>		<!-- 서비스 가격 문자 형태 1,000-->
	      <result property="serviceEditNum" column="SERVICE_EDIT_NUM"/>						<!-- 서비스 수정 횟수 -->
	      <result property="serviceWorkPeriod" column="SERVICE_WORK_PERIOD" />		<!-- 서비스 작업 일수 -->
	      <result property="serviceStatus" column="SERVICE_STATUS" />							<!-- 1:승인 대기 중, 2:판매 중, 3:미승인, 4:판매 중지,5: 의뢰용일회성서비스 -->
	      <result property="serviceStatusString" column="SERVICE_STATUS_STRING" /><!-- 1:승인 대기 중, 2:판매 중, 3:미승인, 4:판매 중지,5: 의뢰용일회성서비스 -->
	      																																				<!-- 문자형태 홈페이지에 문자 그대로 출력 예정으로 필요 -->
	      <result property="serviceCreateDate" column="SERVICE_CREATE_DATE" />		<!-- 서비스 등록일 -->
	      
	      <!-- 서비스 첨부파일 -->
	      <result property="serviceFileNo" column="REQUEST_FILE_NO"/> 						<!-- 서비스 첨부파일 번호 SEQUENCE: SEQ_SERVICE_FILE_NO -->
	      <result property="serviceFilePath2" column="REQUEST_FILE_PATH"/>					<!-- 서비스 첨부파일 경로 -->
	      
	      <!-- 거래내역 -->
	      <result property="tradeNo" column="TRADE_NO"/>													<!-- 거래 번호 SEQUENCE: SEQ_TRADE_NO -->
	      <result property="memberDoneFL" column="MEMBER_DONE_FL"/>								<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="freelancerFL" column="FREELANCER_DONE_FL"/>						<!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="freelancerFLString" column="FREELANCER_DONE_FL_STRING"/><!-- 1:진행 중, 2: 작업 완료 -->
	      <result property="memberNo" column="MEMBER_NO"/>												<!-- 회원 번호-의뢰인(FK) -->
	      <result property="memberName" column="MEMBER_NAME"/>
	      <result property="memberNickName" column="MEMBER_NICKNAME"/>
	      <result property="freelancerNo" column="FREELANCER_NO"/>
	      <result property="freelancerNickName" column="FREELANCER_NICKNAME"/>
	      <result property="workCount" column="WORK_COUNT"/>											<!-- 발송물 발송 횟수 -->
     	  
     	  <!-- 거래신고 테이블 -->
     	  <result property="tradeReportNo" column="TRADE_REPORT_NO"/>							<!-- 거래 신고 번호 SEQUENCE: SEQ_TRADE_REPORT_NO -->
     	  <result property="reportPersonNo" column="REPORT_PERSON"/>							<!-- 거래 신고자 회원 번호 -->
     	  <result property="reportedPersonNo" column="REPORTED_PERSON"/>					<!-- 거래 피신고자 회원 번호 -->
     	  <result property="reportContent" column="TRADE_REPORT_CONTENT"/>				<!-- 거래 신고 내용 -->
     	  <result property="reportRefundFL" column="REFUND_FL"/>									<!-- 환불 여부 환불:Y 미환불:N -->
     	  <result property="reportFilePath" column="TRADE_REPORT_FILE_PATH"/>			<!-- 거래 신고 첨부파일 -->
     	  
     	  <!-- 거래 작업물 발송 -->
     	  <result property="workNo" column="WORK_NO" />														<!-- 작업물 번호 SEQUENCE: SEQ_WORK_NO -->
	      <result property="workSendDate" column="WORK_SEND_DATE" />							<!-- 작업물 발송 날짜 -->
     	  
     	  <!-- 서비스 문의 내역 들고 오기 -->
     	  <result property="serviceInquiryNo" column="SERVICE_INQUIRY_NO"/>							<!-- 서비스 문의 번호 SEQUENCE: SEQ_SERVICE_INQUIRY_NO -->
	      <result property="serviceInquiryContent" column="SERVICE_INQUIRY_CONTENT"/>	  <!-- 서비스 문의 내용 -->
	      <result property="serviceInquiryDate" column="SERVICE_INQUIRY_CREATE_DATE"/>  <!-- 서비스 문의 작성 날짜 -->
     	  
     	  <!-- 카테고리 -->
	      <result property="mainCategoryNo" column="MAIN_CATEGORY_NO" />								<!-- 메인 1카테고리 -->
	      <result property="mainCategoryName" column="MAIN_CATEGORY_NAME" />						<!-- 메인 1카테고리 이름 -->
	      <result property="subCategoryNo" column="SUB_CATEGORY_NO" />									<!-- 메인 2카테고리 -->
	      <result property="subCategoryName" column="SUB_CATEGORY_NAME" />							<!-- 메인 2카테고리 이름  -->
	      <result property="thirdCategoryNo" column="THIRD_CATEGORY_NO" />							<!-- 메인 3카테고리 -->	
	      <result property="thirdCategoryName" column="THIRD_CATEGORY_NAME" />					<!-- 메인 3카테고리 이름-->
				
				<!-- <collection property="inquiryList" 
      	javaType="java.util.ArrayList" ofType="myProjectServiceInquiry"
        select="selectfileList" 
        column="REQUEST_FILE_NO"/> -->
    </resultMap>
    
    <resultMap type="myProjectServiceInquiry" id="inquiry_rm">
			<id property="serviceFileNo" column="REQUEST_FILE_NO"/>
			<result property="serviceFilePath" column="REQUEST_FILE_PATH"/>
			<result property="serviceNo" column="SERVICE_NO"/>
		</resultMap>
		
		<!-- 프로젝트 의뢰 -->
		<resultMap type="myProjectFreelancerRequest" id="request_rm">												<!-- 프로젝트 의뢰하기 SEQ_PROJECT_REQUEST_NO-->
			<id property="projectRequestNo" column="PROJECT_REQUEST_NO"/>											<!-- 프로젝트 의뢰 번호 -->
			<result property="projectRequestTitle" column="PROJECT_REQUEST_TITLE"/>						<!-- 프로젝트 의뢰 제목 -->
			<result property="projectRequestSummary" column="PROJECT_REQUEST_SUMMARY"/>				<!-- 프로젝트 의뢰 요약 -->
			<result property="projectRequestContent" column="PROJECT_REQUEST_CONTENT"/>				<!-- 프로젝트 의뢰 사항 -->
			<result property="projectRequestBudget" column="PROJECT_REQUEST_BUDGET"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRequestBudgetString" column="PROJECT_REQUEST_BUDGET_STRING"/>					<!-- 프로젝트 의뢰 예산 -->
			<result property="projectRecruitDate" column="REQUEST_RECRUIT_DATE"/>							<!-- 프로젝트 모집 마감일 -->
			<result property="projectWorkDate" column="REQUEST_WORK_DATE"/>										<!-- 프로젝트 작업 마감일 -->
			<result property="projectWorkPeriod" column="PROJECT_WORK_PERIOD "/>							<!-- 프로젝트 작업기간 -->
			<result property="projectCreateDate" column="PROJECT_REQUEST_CREATE_DATE"/>				<!-- 프로젝트 의뢰 등록일 -->
			<result property="mainCategotyNo" column="MAIN_CATEGORY_NO"/>											<!-- 카테고리1 번호(FK) -->
			<result property="mainCategotyName" column="MAIN_CATEGORY_NAME"/>											<!-- 카테고리1 번호(FK) -->
			<result property="thirdCategotyNo" column="THIRD_CATEGORY_NO"/>										<!-- 카테고리3 번호(FK) -->
			<result property="thirdCategotyName" column="THIRD_CATEGORY_NAME"/>										<!-- 카테고리3 번호(FK) -->
			<result property="projectRequestfile" column="REQUEST_FILE_PATH"/>										<!-- 이미지 경로 -->
			
			<result property="clientNo" column="MEMBER_NO"/>																					<!-- 회원 번호(FK)-의뢰인 회원번호 -->
			<result property="proposalNo" column="PROJECT_PROPOSAL_NO"/>															<!-- 프로젝트 제안 번호 SEQUENCE :SEQ_PROJECT_PROPOSAL_NO -->
			<result property="proposalAdoptStatus" column="PROPOSAL_ADOPT_STATUS"/>										<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalAdoptStatusString" column="PROPOSAL_ADOPT_STATUS_STRING"/>			<!-- 프로젝트 채택 상태 1:대기중 2:채택 3: 모집마감 -->
			<result property="proposalPrice" column="PROPOSAL_PRICE"/>																<!-- 프로젝트 제안 가격 -->
			<result property="proposalPriceString" column="PROPOSAL_PRICE_STRING"/>										<!-- 프로젝트 제안 가격 -->
			<result property="proposalEditNum" column="PROPOSAL_EDIT_NUM"/>														<!-- 프로젝트 수정 횟수 -->
			<result property="proposalCreateDate" column="PROPOSAL_CREATE_DATE"/>											<!-- 프로젝트 제안 등록일 -->
			<result property="freelancerNo" column="FREELANCER_NO"/>																	<!-- 프리랜서 번호(FK) -->
		</resultMap>
		   
    <select id="selectmaincategoryList" resultMap="fService_rm">
    SELECT * FROM MAIN_CATEGORY
    </select>
    
    <select id="selectcategoryList" resultMap="fService_rm">
    SELECT THIRD_CATEGORY_NO,THIRD_CATEGORY_NAME,MAIN_CATEGORY_NO 
		FROM CATEGORY 
		JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		ORDER BY 1
    </select>
    
    <insert id="insertService" parameterType="java.util.HashMap" useGeneratedKeys="true">
    <selectKey keyProperty="serviceNo" resultType="_int" order="BEFORE">
			SELECT SEQ_SERVICE_NO.NEXTVAL FROM DUAL
		</selectKey>
    INSERT INTO "SERVICE"
		VALUES(#{serviceNo},#{freelancerVo.serviceTitle},#{freelancerVo.serviceSummary},
		#{freelancerVo.serviceContent},#{freelancerVo.servicePrice},#{freelancerVo.serviceEditNum},#{freelancerVo.serviceWorkPeriod},
		DEFAULT,DEFAULT,#{freelancerVo.thirdCategoryNo},#{loginMember})
    </insert>
    
    <insert id="insertFileImageList" parameterType="list">
		INSERT INTO SERVICE_FILE
		SELECT SEQ_SERVICE_FILE_NO.NEXTVAL REQUEST_FILE_NO, A.* FROM
		
			<foreach collection="list" item="file" 
				open="(" close=") A" separator="UNION ALL">
				SELECT #{file.serviceFilePath} REQUEST_FILE_PATH,
					     #{file.serviceNo} SERVICE_NO
				FROM DUAL
			</foreach>
		</insert>
		
		<select id="getMyServiceListCount" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM (SELECT * 
			FROM SERVICE
			LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
			LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO))
		LEFT JOIN (SELECT s.*,
		ROW_NUMBER() OVER (PARTITION BY SERVICE_NO ORDER BY REQUEST_FILE_NO) rum
		FROM SERVICE_FILE s) USING(SERVICE_NO)
		WHERE RUM = 1
		AND SERVICE_STATUS NOT IN (5)
		AND FREELANCER_NO = #{memberNo}
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
		</select>
		
		<select id="selectMyService" parameterType="java.util.HashMap" resultMap="fService_rm">
		SELECT SERVICE_NO,SERVICE_TITLE,SERVICE_SUMMARY,SERNICE_CONTENT,SERVICE_PRICE,TO_CHAR(SERVICE_PRICE, 'FM999,999,999,999') SERVICE_PRICE_STRING, 
			SERVICE_EDIT_NUM,SERVICE_WORK_PERIOD,
			SERVICE_STATUS,
			CASE WHEN SERVICE_STATUS = 1 THEN '승인대기 중'
			     WHEN SERVICE_STATUS = 2 THEN '판매 중'
			     WHEN SERVICE_STATUS = 3 THEN '미승인'
			     WHEN SERVICE_STATUS = 3 THEN '판매 중지'
			END AS SERVICE_STATUS_STRING
			,SERVICE_CREATE_DATE,THIRD_CATEGORY_NO,FREELANCER_NO,REQUEST_FILE_NO,REQUEST_FILE_PATH,MAIN_CATEGORY_NO
		FROM (SELECT * 
			FROM SERVICE
			LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
			LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO))
		LEFT JOIN (SELECT s.*,
		ROW_NUMBER() OVER (PARTITION BY SERVICE_NO ORDER BY REQUEST_FILE_NO) rum
		FROM SERVICE_FILE s) USING(SERVICE_NO)
		WHERE RUM = 1
		AND SERVICE_STATUS NOT IN (5)
		AND FREELANCER_NO = #{memberNo}
			<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
			</if>
		</select>
		<!--  -->
		<select id="getSalesListCount" parameterType="java.util.HashMap" resultType="_int">
		SELECT COUNT(*)
		FROM (SELECT * FROM TRADE
			JOIN (SELECT * 
				FROM SERVICE
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)) USING(SERVICE_NO)
			LEFT JOIN (SELECT TRADE_NO, NVL(WORK_COUNT,0) WORK_COUNT
				FROM TRADE 
				LEFT JOIN (SELECT COUNT(*) WORK_COUNT,TRADE_NO 
					FROM TRADE
					JOIN "WORK" USING(TRADE_NO)
					GROUP BY TRADE_NO) USING (TRADE_NO)) USING (TRADE_NO) 
			JOIN (SELECT MEMBER_NO,MEMBER_NICKNAME,MEMBER_NAME FROM "MEMBER") USING(MEMBER_NO)
			LEFT JOIN TRADE_REPORT USING(TRADE_NO) HAVING REPORT_PERSON = FREELANCER_NO) t
		WHERE FREELANCER_NO = #{memberNo}
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		<if test="freelancerFL != 0">
				 AND FREELANCER_DONE_FL = #{freelancerFL}
		</if>
		<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
		</if>
		ORDER BY TRADE_NO
		</select>
		
		<select id="selectSalesList" parameterType="java.util.HashMap" resultMap="fService_rm">
		SELECT t.*,
			CASE WHEN FREELANCER_DONE_FL = 1 THEN '진행 중'
			     WHEN FREELANCER_DONE_FL = 2 THEN '작업 완료'
			     WHEN FREELANCER_DONE_FL = 3 THEN '주문 취소'
			END AS FREELANCER_DONE_FL_STRING
		FROM (SELECT * FROM TRADE
			JOIN (SELECT * 
				FROM SERVICE
				LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
				LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)) USING(SERVICE_NO)
			LEFT JOIN (SELECT TRADE_NO, NVL(WORK_COUNT,0) WORK_COUNT
				FROM TRADE 
				LEFT JOIN (SELECT COUNT(*) WORK_COUNT,TRADE_NO 
					FROM TRADE
					JOIN "WORK" USING(TRADE_NO)
					GROUP BY TRADE_NO) USING (TRADE_NO)) USING (TRADE_NO) 
			JOIN (SELECT MEMBER_NO,MEMBER_NICKNAME,MEMBER_NAME FROM "MEMBER") USING(MEMBER_NO)
			LEFT JOIN TRADE_REPORT USING(TRADE_NO) HAVING REPORT_PERSON = FREELANCER_NO) t
		WHERE FREELANCER_NO = #{memberNo}
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		<if test="freelancerFL != 0">
				 AND FREELANCER_DONE_FL = #{freelancerFL}
		</if>
		<if test='searchInput neq null and searchInput neq ""'>
				 AND SERVICE_TITLE LIKE '%${searchInput}%' 
		</if>
		ORDER BY TRADE_NO
		</select>
		
		<insert id="insertreportSubmit" parameterType="java.util.HashMap" useGeneratedKeys="true">
    <selectKey keyProperty="tradeReportNo" resultType="_int" order="BEFORE">
			SELECT SEQ_TRADE_REPORT_NO.NEXTVAL FROM DUAL
		</selectKey>
		<if test='reportFilePath neq null'>
				 INSERT INTO "TRADE_REPORT"
				 VALUES(#{tradeReportNo},#{reportPersonNo},#{reportedPersonNo},#{reportContent},DEFAULT,#{reportFilePath},#{tradeNo})
		</if>
		<if test='reportFilePath eq null'>
				 INSERT INTO "TRADE_REPORT" 
				(TRADE_REPORT_NO, REPORT_PERSON, REPORTED_PERSON,TRADE_REPORT_CONTENT,REFUND_FL,TRADE_NO) 
				VALUES 
				(#{tradeReportNo},#{reportPersonNo},#{reportedPersonNo},#{reportContent},DEFAULT,#{tradeNo})
		</if>
    
    </insert>
    
    <insert id="insertsendworkSubmit" parameterType="_int">
    	INSERT INTO "WORK"
    	VALUES(SEQ_WORK_NO.NEXTVAL,DEFAULT,#{tradeNo})
    </insert>
    
    <update id="insertfinishSubmit" parameterType="_int">
    UPDATE TRADE
		SET FREELANCER_DONE_FL = 2
		WHERE TRADE_NO = #{tradeNo}
    </update>
    
    <select id="selectMyProposal" resultMap="request_rm">
    SELECT p.*,TO_CHAR(PROPOSAL_PRICE, 'FM999,999,999,999') PROPOSAL_PRICE_STRING,
				CASE WHEN PROPOSAL_ADOPT_STATUS = 1 THEN '대기중'
				     WHEN PROPOSAL_ADOPT_STATUS = 2 THEN '채택'
				     WHEN PROPOSAL_ADOPT_STATUS = 3 THEN '모집마감'
				END AS PROPOSAL_ADOPT_STATUS_STRING
		FROM (SELECT * FROM PROJECT_PROPOSAL 
		LEFT JOIN (SELECT PROJECT_REQUEST_NO,PROJECT_REQUEST_TITLE,
			PROJECT_REQUEST_SUMMARY,PROJECT_REQUEST_CONTENT,TO_CHAR(PROJECT_REQUEST_BUDGET, 'FM999,999,999,999') PROJECT_REQUEST_BUDGET_STRING,
			TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY.MM.DD') REQUEST_RECRUIT_DATE,TO_CHAR(REQUEST_WORK_DATE, 'YYYY.MM.DD') REQUEST_WORK_DATE,
			PROJECT_WORK_PERIOD,TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY.MM.DD') PROJECT_REQUEST_CREATE_DATE,
			THIRD_CATEGORY_NO,MEMBER_NO
			FROM PROJECT_REQUEST) USING (PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		LEFT JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)) p
		WHERE FREELANCER_NO = #{memberNo}
		AND REQUEST_FILE_ORDER = 1
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		ORDER BY PROJECT_REQUEST_NO
    </select>
    
     <select id="getMyProposalListCount" resultType="_int">
    SELECT COUNT(*)
		FROM (SELECT * FROM PROJECT_PROPOSAL 
		LEFT JOIN (SELECT PROJECT_REQUEST_NO,PROJECT_REQUEST_TITLE,
			PROJECT_REQUEST_SUMMARY,PROJECT_REQUEST_CONTENT,TO_CHAR(PROJECT_REQUEST_BUDGET, 'FM999,999,999,999') PROJECT_REQUEST_BUDGET_STRING,
			TO_CHAR(REQUEST_RECRUIT_DATE, 'YYYY.MM.DD') REQUEST_RECRUIT_DATE,TO_CHAR(REQUEST_WORK_DATE, 'YYYY.MM.DD') REQUEST_WORK_DATE,
			PROJECT_WORK_PERIOD,TO_CHAR(PROJECT_REQUEST_CREATE_DATE, 'YYYY.MM.DD') PROJECT_REQUEST_CREATE_DATE,
			THIRD_CATEGORY_NO,MEMBER_NO
			FROM PROJECT_REQUEST) USING (PROJECT_REQUEST_NO)
		LEFT JOIN CATEGORY USING(THIRD_CATEGORY_NO)
		LEFT JOIN SUB_CATEGORY USING(SUB_CATEGORY_NO)
		LEFT JOIN MAIN_CATEGORY USING(MAIN_CATEGORY_NO)
		LEFT JOIN REQUEST_FILE USING(PROJECT_REQUEST_NO)) p
		WHERE FREELANCER_NO = #{memberNo}
		AND REQUEST_FILE_ORDER = 1
		<if test="mainCategoryNo != 0">
				 AND MAIN_CATEGORY_NO = #{mainCategoryNo}
		</if>
		ORDER BY PROJECT_REQUEST_NO
    </select>
  
</mapper>
