<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="inquiryMapper">
  
  
	<resultMap type="com.manager.freelancer.customerCenter.model.vo.UserInquiry" id="userInquiry_rm">
	  	
	  	<id property="userInquiryNo" column="USER_INQUIRY_NO"/>
	  
	  	<result property="userInquiryTitle" column="USER_INQUIRY_TITLE" />
	  	<result property="userInquiryContent" column="USER_INQUIRY_CONTENT" />
	  	<result property="inquiryRequest" column="USER_INQUIRY_REQUEST" />
	  	<result property="userInquiryCreateDate" column="USER_INQUIRY_CREATE_DATE" />
	  	<result property="memberNo" column="MEMBER_NO" />
	  	<result property="inquiryFileNo" column="INQUIRY_FILE_NO" />
	  	<result property="inquiryFilePath" column="INQUIRY_FILE_PATH" />
	  	<result property="inquiryFileOrder" column="INQUIRY_FILE_ORDER" />
	  	<result property="inquiryTypeNo" column="INQUIRY_TYPE_NO" />
  	
  	</resultMap>
  
  	<!-- 이용문의 등록하기 -->
  	<insert id="userInquiryInsert" parameterType="com.manager.freelancer.customerCenter.model.vo.UserInquiry" useGeneratedKeys="true">
  		<selectKey keyProperty="userInquiryNo" resultType="_int" order="BEFORE">
			SELECT SEQ_USER_INQUIRY_NO.NEXTVAL.NEXTVAL FROM DUAL
		</selectKey>
  		INSERT INTO "USER_INQUIRY"
		VALUES(SEQ_USER_INQUIRY_NO.NEXTVAL, #{userInquiryTitle}, #{userInquiryContent}, NULL, DEFAULT, #{memberNo}, #{inquiryTypeNo})
  	</insert>
  	
  	<!-- 이용문의 첨부파일 등록하기-->
  	<insert id="addImage" parameterType="com.manager.freelancer.customerCenter.model.vo.UserInquiry">
  		INSERT INTO "INQUIRY_FILE"
		VALUES(SEQ_INQUIRY_FILE_NO.NEXTVAL, #{inquiryFilePath}, #{inquiryFileOrder}, #{userInquiryNo})
  	</insert>
  
</mapper>
