*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
}

.mainInBody{
  width: 1200px;
  margin:auto;
  min-height: 100vh;
  display: flex;
}
/* 사이드메뉴 */
.sideMenu{
  display: flex;
  margin: 20px 0;
  width: 300px;
  min-height: 100vh;
  align-self: flex-start;
}
.aside{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside a:hover{
  color: #538126;
}

.myProject_User_side{
  text-decoration: none;
  cursor: pointer;
  padding: 8px 20px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
/* 사이드메뉴 */

/* 메인내용 */
.mainContent{
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.container{
  position: relative;
}

.container_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
  padding-bottom: 10px;
}

.container_header_left{
  display: flex;
  align-items: flex-end;
  
}

.container_title > span {
  font-size: 25px;
  font-weight: bold;
}

.myGradeBox{
  display: flex;
  width: auto;
  flex-direction: row;  
}
.myGradeBox > span{
  font-size: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  /* font-weight: bold; */
  align-items: center;
  margin: 0px 7px;
}

.myGradeBox h1{
  margin: 0px 7px;
}

.topBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.leftBox{
  width: 31%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.leftContentTop{
  width: 100%;
  height: 49%;
  flex-direction: column;
  display: flex;
  border: 1px solid rgb(176, 168, 168);
}

.leftContentTop h2{
  margin: 10px 0px 0px 10px;
}

.leftContentTop > div{
    display: flex;
    align-items: center;
    margin: 10px 0px 0px 20px;
}

.leftContentbottom h2{
  margin: 10px 0px 0px 10px;
}

.leftContentbottom{
  width: 100%;
  height: 49%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(176, 168, 168);
}

.leftContentbottom > div{
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 20px;
}

.rightBox{
  width: 68%;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(176, 168, 168);
  margin-top: 20px;
  justify-content: center;
}

.rightBox > div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.barTitle{
  font-size: 20px;
  font-weight: bold;
  width: 23%;
}

.progress{
  width: 67%;
}
.barValue{
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.progress {
  appearance: none;
  width:400px;
}

.progress::-webkit-progress-bar{
  background:#f0f0f0;
  border-radius:10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value{
  border-radius:10px;
  background: #f9e13a;
}

.rightBox > div{
  margin-left: 10px !important;
  margin: 20px 0;
}



/* 등급 안내 */
table, th, td {
  border: 1px solid #dfdfe6;
  height: 90px; 
}

thead th {
  background-color: #d6e8fb47;
}

caption {
  text-align:start;
  font-size: 25px;
  font-weight: bold;
  padding-left: 5px;
  padding-bottom: 5px;
}

table {
  border-collapse: separate;
  margin-top: 30px;
}
table {
  border-style: none; 
  text-indent: initial;
  /* border-collapse:collapse; */ 
  width:100%;
}

.tbl_lst_type {
  width: 930px;
  font-size: 16px;
  table-layout: fixed;
}

tbody{
  border: 0px;
  vertical-align: middle;
  width:930px;
}

tbody tr{
  display: table;
  width:930px;
}
tbody th:nth-of-type(1){
  width: 150px;
}
tbody td:nth-of-type(1){
}
tbody td:nth-of-type(2){
  width: 150px;
}
tbody td:nth-of-type(3){
  width: 150px;
}
tbody td:nth-of-type(4){
  width: 150px;
}

.tc {
  text-align: center;
}


