*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
}

.mainInBody{
  width: 1200px;
  margin:auto;
  min-height: 100vh;
  display: flex;
}
/* 사이드메뉴 */
.sideMenu{
  display: flex;
  margin: 20px 0;
  width: 300px;
  min-height: 100vh;
  align-self: flex-start;
}
.aside{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aside a:hover{
  color: #538126;
}

.myProject_User_side{
  text-decoration: none;
  cursor: pointer;
  padding: 8px 20px;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
/* 사이드메뉴 */

/* 메인내용 */
.mainContent{
  width: 100%;
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.container{
  position: relative;
}

.container_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5px;
  padding-bottom: 10px;
}

.container_header_left{
  display: flex;
  align-items: flex-end;
  
}

/* 내프로젝트 */
.container_title > span{
  font-size: 25px;
  font-weight: bold;
}

.container_title{
  padding-right: 180px;
}

.box{
  width:140px;
  height:35px;
  border-radius: 3%;
  border: 1px solid #c6c6c9;
  margin-right: 10px;
}

#searchboxRelative{/* 자동완성 div 포함 */
  position: relative;
}

#searchboxInclude{/* 자동완성 div 포함 */
  position:absolute;
  z-index: 3;
  background-color: white;
}

.searchInput{
  width: 200px;
  height:35px;
  border-radius: 3%;
  border: 1px solid #c6c6c9;
  margin-right: 10px;
}

.submitButton{
  cursor: pointer;
  display:inline-block;
	text-align:center;
  width: 100px;
  height:35px;
  padding:5px 0;
  font-size: 15px;
  background-color: #538126;
  border:1px solid #538126;
  border-radius: 5px;
  color:white;
  font-weight: bold;
}
/* 내프로젝트 */


/* 데이터 출력 테이블 */

table, th, td {
  border: none; 
}

caption {
  display: none;
}
table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
table {
  border-style: none; 
  text-indent: initial;
  /* border-collapse:collapse; */ 
  width:100%;
}

.tbl_lst_type {
  width: 930px;
  font-size: 16px;
  line-height: 16px;
  table-layout: fixed;
}

tbody{
  padding-top: 10px;
  border: 0px;
  vertical-align: middle;
  width:930px;
}

thead th:nth-of-type(2) > strong{
  width: 0px;
  font-size: 0;
}

tbody tr{
  display: table;
  width:930px;
}
tbody td:nth-of-type(1){
  width: 40px;
}
tbody td:nth-of-type(2){
  width: 0px;
  font-size: 0;
}
tbody td:nth-of-type(3){
  padding-left: 15px;
}
tbody td:nth-of-type(4){
  width: 135px;
}
tbody td:nth-of-type(5){
  width: 95px;
}
tbody td:nth-of-type(6){
  width: 80px;
}
tbody td:nth-of-type(7){
  width: 80px;
  position: relative;
}
tbody td:nth-of-type(8){
  width: 180px;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.td_link > a{
  text-decoration: none;
  cursor: pointer;
}

.tbl_lst_type th strong{
  font-size: 18px;
}

table th {
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

tbody a{
  text-decoration: none;
}

.btn_type{
  display:inline-block;
	text-align:center;
  width: 50px;
  height:25px;
  padding:3px 0;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.finishBtn{
  background-color: #538126;
  border:1px solid #538126; 
  color:white;
}

.sendBtn{
  background-color: white;
  border:1px solid #538126; 
  color: #538126; 
}

.reportBtn{
  background-color: red;
  border:1px solid #538126; 
  color: rgb(48, 46, 46);
}

.oneBtn_type{
  display:inline-block;
	text-align:center;
  width: 100px;
  height:25px;
  padding:3px 0;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #538126;
  border:1px solid #538126; 
  color:white;
}

.suggestion_name_area{
  display: flex;
  position: relative;
  align-items: center;
}

.suggestionName{
  width: 100%;
  position:absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: start;
}

.client_tradeRequest{
  width: 135px;
  display: flex;
  position: relative;
  align-items: center;
}

.clientTradeRequest{
  cursor: pointer;
  width: 100%;
  position:absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: start;
}
.suggestionNameAtag{
  color: black;
  font-weight: bold;
}

/* 신고하기 모달 */
.reportModal {
  position: fixed;/* absolute; */
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
  z-index:100;
}

.reportModal.show {
  display: block;
}

.reportModal_body {
  position: fixed;/* absolute; */
  top: 50%;
  left: 50%;

  padding: 40px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  
  z-index:100;
}

.reportModal_body>span{
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
}

/* 화살표 */

.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 9px;
  padding: 0;
}

.pagination li{
  width: 20px;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.pagination a{
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #666;
}

.current{
  font-weight: bold;
  border:1px solid #73358C;
  border-radius: 10%;
  color: #73358C !important;
  letter-spacing: 0 !important;
}


/* 모달 */
.clientTradeRequestModal {
  position: fixed;/* absolute; */
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
  z-index:100;
}

.clientTradeRequestModal.show {
  display: block;
}

.clientTradeRequestModal_body {
  position: fixed;/* absolute; */
  top: 50%;
  left: 50%;

  padding: 40px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
  
  z-index:100;
}

.clientTradeRequestModal_body>span{
	position:absolute;
	right:20px;
	top:20px;
	cursor:pointer;
}

/* 추천 검색어 div */
#searchboxInclude{
  font-size: 15px;
  border: 1px solid #53812657;
  border-top: none;
  width: 200px;
}

#searchboxInclude > div{
  border: 1px solid #5481262f;
  padding: 2px 0 2px 0;
}
.chattingTD{
  position: relative;
}
#chattingDiv{
  display: block;
  width: 115px;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  left: 5%;
  width: 100px;
  margin: 0;
  border: 1px solid rgb(157 154 154 / 24%);
  border-radius: 5%;
  margin-top: 3px;
  padding-bottom: 2px;
}

._chattingDefault{
  display: block;
  width: 100%;
  height: 25px;
  background-color: #fff;
  color: #4c4c4c;
}

._chattingDefault > span{
  display: block;
  padding: 7px 0 0 8px;
  cursor: pointer;
}

._chattingDefaultShow{
  display: block !important;
}