*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .mainInBody{
    width: 1200px;
    margin:auto;
    min-height: 100vh;
    display: flex;
  
  }
  /* -----------------사이드메뉴----------------- */
  .sideMenu{
    display: flex;
    margin: 20px 0;
    width: 300px;
    min-height: 100vh;
    align-self: flex-start;
  }
  .aside{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .aside a:hover{
    color: #538126;
  }
  
  .myProject_User_side{
    text-decoration: none;
    cursor: pointer;
    padding: 8px 20px;
    font-weight: bold;
    color: black;
    font-size: 20px;
  }
  /* -----------------사이드메뉴----------------- */
  
  /* 메인내용 */
  .mainContent{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
  }
  .container{
    position: relative;
  }
  
  .container_header{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    padding-bottom: 10px;
  }
  
  .container_header_left{
    display: flex;
    align-items: flex-end;
  }
  
  /* 수익관리 제목 */
  .container_title > span{
    font-size: 25px;
    font-weight: bold;
  }
  
  .container_title{
    padding-right: 20px;
  }
  
  
  /* ---------------------------------------- */
  
  #topBox{
    width: 900px;
    height: 73px;
    display: flex;
    border: 1px solid black;
    margin-top: 50px;
  }
  #topBox div{
    width: 450px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;
    font-size: 20px;
  }
  
  #middleBox{
    width: 900px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  #myChart{
    width: 850px !important;
    height: 380px;
  }
  #selectBox{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  #selectBox select{
    margin-left: 30px;
    width: 130px;
    text-align: center;
    height: 25px;
    font-weight: bold;
  }