#requestModalMain{
	position: relative;
    width: 450px;
    height: 450px;
}


#userSection{
    position: relative;
    background-color: #D9D9D9;
    margin:10px 0;
    border-radius: 5px;
}

#userSection>div{

    display: inline-block;
}

/* 사진 */
#userPhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: pink;
}



#userContent{
    position: absolute;
    top:0;
}

#userContent>span:first-child{
    padding-left: 10px;
    font-size: 20px;
}
#userContent>span:last-child{
    display: block;
    margin:10px;
    font-size: 16px;
}

#serviceCost{
    position: absolute;
    right:0;
    bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color:#538126;
}

#requestModalMain textarea{
    width: 450px;
}
#requestModalMain span{
    font-size: 18px;
    font-weight: bold;
}

#requestModalMain button{
    width: 450px;
    padding:10px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid #538126;
    border-radius: 5px;
    color:white;
    font-weight: bold;

}

/* 요청사항 부분 */
#requestModalMain>form>textarea{
    width: 450px;
 
    border:none;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin:20px 0;
}
