.main{
    width: 1200px;
    margin:auto;
    min-height: 100vh;
  
    display: flex;
  }

/* �궗�씠�뱶硫붾돱 */
.sideMenu{
display: flex;
margin: 20px 0;
width: 300px;
min-height: 100vh;
align-self: flex-start;
}
.aside{
display: flex;
flex-direction: column;
width: 100%;
}

.aside a:hover{
color: #538126;
}
.myProject_User_side{
text-decoration: none;
cursor: pointer;
padding: 8px 20px;
font-weight: bold;
color: black;
font-size: 20px;
}

.mainMenu{
    width: 900px;
}


#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:30px 0;
    display: block;
}


#title + div{
	margin-left: 10px;
}

.itemTitle{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 18px;
}
.item {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

input{
    height: 25px;
}
/* �닔�젙�븯湲� */
#updateArea{
    display: flex;
    justify-content: right;
}
#update{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
}




/* �옄湲� �냼媛� */
textarea{
    border: none;
    font-size: 15px;
    padding: 5px 20px 20px 5px;
    position: relative;
    top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top:-3px;
    resize:none;
}
textarea:focus{
    border: none;
    outline: none;
}


/* 吏��뿭 */
#area{
    width: 150px;
    height: 30px;
    position: relative;
    top: -3px;
}

/* �쟾臾� 遺꾩빞 */
input[type="checkbox"]{
    position: relative;
    top: -6px;
}
.checkbox{
    position: relative;
    top: -12px;
    margin-right: 20px;
}

/* 湲곌컙 */
.number{
    width: 70px;
}

/* ���뻾 */
#bankName{
    width: 150px;
    height: 30px;
    position: relative;
    top: 0px;
}
#account{
    width: 400px;
    margin-bottom: 100px;
}

/* �룷�듃�뤃由ъ삤 */
#addArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#add{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
}
.service{
    display: inline-block;
    width: 200px;
    height: 270px;
    background-color: blue;
    margin-right: 20px;
    margin-bottom: 40px;
}
