.main{
    width: 1200px;
    margin:auto;
    min-height: 100vh;
  
    display: flex;
  }

/* �궗�씠�뱶硫붾돱 */
.sideMenu{
display: flex;
margin: 20px 0;
width: 300px;
min-height: 100vh;
align-self: flex-start;
}
.aside{
display: flex;
flex-direction: column;
width: 100%;
}

.aside a:hover{
color: #538126;
}
.myProject_User_side{
text-decoration: none;
cursor: pointer;
padding: 8px 20px;
font-weight: bold;
color: black;
font-size: 20px;
}

.mainMenu{
    width: 900px;
}


#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:30px 0;
    display: block;
}


#title + div{
	margin-left: 10px;
}

.itemTitle{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 18px;
}
.item {
    width: 200px;
    height: 50px;
    font-size: 18px;
    color: gray;
    font-weight: bold;
}

input{
    height: 25px;
    width: 50px;
    border: 1px solid #538126;
    /* border-radius: 10px; */
    text-align: center;
}


/* �닔�젙�븯湲� */
#updateArea{
    display: flex;
    justify-content: right;
}
#update{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
}




/* �옄湲� �냼媛� */
textarea{
    width: 100%;
    /* border: none; */
    font-size: 15px;
    padding: 5px 20px 20px 5px;
    position: relative;
    top: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top:-3px;
    resize:none;
}
textarea:focus{
    /* border: none; */
    outline: none;
}

#career{
    width: 200px;
    margin-top: 5px;
}

#license{
    width: 200px;
    margin-top: 5px;
}



/* 吏��뿭 */
#area, #bankName{
    width: 150px;
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    position: relative;
    top: -1px;
}
#area:focus, #bankName:focus{
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px solid #538126;
}

/* �쟾臾� 遺꾩빞 */
input[type="checkbox"]{
    position: relative;
    top: -6px;
    left: -20px;
    margin-right: -10px;
}


.checkbox{
    position: relative;
    top: -12px;
    left: -20px;
    margin-right: 15px;
}

/* 湲곌컙 */
.number{
    width: 70px;
}

/* ���뻾 */
#bankName{
    width: 150px;
    height: 30px;
    position: relative;
    top: 0px;
}
#account{
    width: 200px;
    margin-bottom: 100px;
}

/* �룷�듃�뤃由ъ삤 */
#addArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ---------------------------------------------------------------------------------------- */
#addPortfolioPopupBtn{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: right;
}
.service{
    display: inline-block;
    width: 200px;
    height: 270px;
    /* background-color: darkseagreen; */
    margin-right: 20px;
    margin-bottom: 40px;
}

.portfolio-title-area{
    display: inline-block;
    width: 200px;
    font-weight: bold;
    /* text-overflow: ellipsis;
    overflow: hidden; */
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
}

.portfolio-content-area{
    display: inline-block;
    width: 200px;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
    

}

.modal_body{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

   /*  text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    
    z-index:100;
}


.modal_addPortfolio{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal_portfolioDetail{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.hidden{
	display:none;
}

.modal_close2{
    width: 100px;
}