.main{
    width: 900px;
    margin: auto;
}

.main *{
    box-sizing: border-box;
}


#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:60px 0;
    display: block;
}
/* 1228 폼 가운데정렬... */
#registerFrm{
    /* margin-left: 300px; */
}

#registerFrm>div:first-child{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 20px;
}

.item {
    width: 200px;
    height: 50px;
    color: gray;
    font-weight: bold;
}

.item + div{
    position: relative;
    top: -7px;
}


input[type="text"]{
    border: 1px solid #538126;
    box-sizing: border-box;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: -3px;
}

input[type="text"]:focus{
    border: 1px solid #538126;
    outline: 1px solid #538126;
}

/* 吏��뿭 */ /* 변경전 : #bankName */
#area, #bankCode{
    width: 150px;
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    position: relative;
    top: -1px;
}
#area:focus, #bankCode:focus{
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px solid #538126;
}

/* �쟾臾� 遺꾩빞 */
input[type="checkbox"]{
    position: relative;
    top: -6px;
}
.checkbox{
    font-size: 20px;
    position: relative;
    top: -4px;
    margin-right: 20px;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    position: relative;
    top: 6px;
}
input[type="checkbox"]+label span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #538126;
    position: relative;
    top: 0px;
}
input[type="checkbox"]:checked + label span::after {
    content: "✔";
    color: #538126;
    position: relative;
    top: -5px;
    left: 1px
}
/* .input1{
    width: 400px;
    height: 30px;
    color:#538126;
    border:2px solid #538126;
    border-radius: 5px;
} */

/* 湲곌컙 */
.number{
    width: 70px;
}

/* ���뻾 */
/* 1228변경전 */
/* #bankName{
    position: relative;
    top: -3px;
} */

/* 1228변경휴 */
#bankCode{
    position: relative;
    top: -3px;
}
/* 1228변경전 */
/* #account{
    width: 430px;
} */

/* 1228변경휴 */
#bankAccountNumber{
    width: 430px;
}

/* 모달창 뜨는 부분 */
/* .input1, .input2, .input3{
	width: 587px;
} */
.modal{
	width: 587px;
}


textarea{
    border: 1px solid #538126;
    font-size: 15px;
    padding: 20px 20px;
    position: relative;
    top: 5px;
    border-radius: 5px;
}
textarea:focus{
    border: 1px solid #538126;
    outline: 1px solid #538126;
}




#btnArea{
    display: flex;
    justify-content: center;
}

#signUpBtn{
    width: 300px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    
    /* 1228 버튼 위치 이동 */
    margin-right : 300px
    
}





.modal_major {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal_career {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
/* .modal_license {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:4;
  } */
  .modal_license{
	position:absolute;
	top:0;
    left:0;

	width:100%;
	height:100%;
	
	display:none;

	background:rgba(0,0,0,0.4);
    z-index: 2;
}

  .modal_license.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

  /*   width: 400px;
    height: 600px; */

    padding: 40px;

   /*  text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    
    z-index:100;
  }
  
  
  
.modal_body>span{
position:absolute;
right:20px;
top:20px;
cursor:pointer;
}


select{
    border: 1px solid #538126;
    box-sizing: border-box;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: -3px;
}

#sendContent1, #sendContent2, #sendContent3{
    width: 150px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    /* 1228 모달창 button 가운데로 옮김. */
    margin-left: 50px;

}