.main{
    width: 900px;
    margin:auto;
}

.main *{
    box-sizing: border-box;
}


#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:60px 0;
    display: block;
}

#registerFrm>div:first-child{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 20px;
}

.item {
    width: 200px;
    height: 50px;
    color: gray;
    font-weight: bold;
}

.item + div{
    position: relative;
    top: -7px;
}


input[type="text"]{
    border: 1px solid #538126;
    box-sizing: border-box;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: -3px;
}

input[type="text"]:focus{
    border: 1px solid #538126;
    outline: 1px solid #538126;
}

/* 吏��뿭 */
#area, #bankName{
    width: 150px;
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    position: relative;
    top: -1px;
}
#area:focus, #bankName:focus{
    border: 1px solid #538126;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 1px solid #538126;
}

/* �쟾臾� 遺꾩빞 */
input[type="checkbox"]{
    position: relative;
    top: -6px;
}
.checkbox{
    font-size: 20px;
    position: relative;
    top: -4px;
    margin-right: 20px;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    position: relative;
    top: 6px;
}
input[type="checkbox"]+label span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #538126;
    position: relative;
    top: 0px;
}
input[type="checkbox"]:checked + label span::after {
    content: "✔";
    color: #538126;
    position: relative;
    top: -5px;
    left: 1px
}

/* 湲곌컙 */
.number{
    width: 70px;
}

/* ���뻾 */
#bankName{
    position: relative;
    top: -3px;
}
#account{
    width: 430px;
}

/* 모달창 뜨는 부분 */
.modal{
	width: 587px;
}


textarea{
    border: 1px solid #538126;
    font-size: 15px;
    padding: 20px 20px;
    position: relative;
    top: 5px;
    border-radius: 5px;
}
textarea:focus{
    border: 1px solid #538126;
    outline: 1px solid #538126;
}




#btnArea{
    display: flex;
    justify-content: center;
}

#signUpBtn{
    width: 300px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    
}

/* .modal_license{
	position:absolute;
	width:100%;
	height:100%;
	
	background:rgba(0,0,0,0.8);
	top:0;left:0;
	display:none;
	
} */



.modal_major {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:2;
}
.modal_career {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:3;
}
.modal_license {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:4;
  }

  .modal_license.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

  /*   width: 400px;
    height: 600px; */

    padding: 40px;

   /*  text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    
    z-index:100;
  }
  
  
  
.modal_body>span{
position:absolute;
right:20px;
top:20px;
cursor:pointer;
}
