.main{
    width: 1200px;
    margin:auto;
    min-height: 100vh;
  
    display: flex;
  }

/* 사이드메뉴 */
.sideMenu{
display: flex;
margin: 20px 0;
width: 300px;
min-height: 100vh;
align-self: flex-start;
}
.aside{
display: flex;
flex-direction: column;
width: 100%;
}

.aside a:hover{
color: #538126;
}
.myProject_User_side{
text-decoration: none;
cursor: pointer;
padding: 8px 20px;
font-weight: bold;
color: black;
font-size: 20px;
}

.mainMenu{
    width: 900px;
}


#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:30px 0;
    display: block;
}

.itemTitle{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    font-size: 18px;
    align-items:center;
}
.item {
    width: 200px;
    font-size: 18px;
    color: gray;
}

input{
    height: 25px;
}






/* 자기 소개 */
textarea{
    margin-bottom: 30px;
}


/* 지역 */
#area{
    width: 150px;
    height: 30px;
    position: relative;
    top: -3px;
}

/* 전문 분야 */
input[type="checkbox"]{
    position: relative;
    top: -6px;
}
.checkbox{
    position: relative;
    top: -12px;
    margin-right: 20px;
}

/* 기간 */
.number{
    width: 70px;
}

/* 은행 */
#bankName{
    width: 150px;
    height: 30px;
    position: relative;
    top: 0px;
}
#account{
    width: 400px;
    margin-bottom: 100px;
}





/* 버튼 */
#btnArea{
    display: flex;
    justify-content: center;
}

#updateBtn{
    width: 150px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}


/* 모달창 관련 css */
.modal_career {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
/* .modal_license {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:4;
  } */
  .modal_license{
	position:absolute;
	top:0;
    left:0;

	width:100%;
	height:100%;
	
	display:none;

	background:rgba(0,0,0,0.4);
    z-index: 2;
}

  .modal_license.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

  /*   width: 400px;
    height: 600px; */

    padding: 40px;

   /*  text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    
    z-index:100;
  }
  
  
  
.modal_body>span{
position:absolute;
right:20px;
top:20px;
cursor:pointer;
}



.addContent{
	margin:3px;
	background-color:lightgray;
	
    width: 250px;
    font-size: 16px;
    padding: 3px;
    border-radius: 5px;
    border: none;
}

.newOne{
	/* display: inline-block; */
	display:inline-box;
	position:relative;
	width:250px;
}

.xbtn{
	position:absolute;
	right:8px;
	top:4px;
}


select{
    border: 1px solid #538126;
    box-sizing: border-box;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    padding: 10px 20px;
    position: relative;
    top: -3px;
}

#sendContent1, #sendContent2, #sendContent3{
    width: 150px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    /* 1228 모달창 button 가운데로 옮김. */
    margin-left: 50px;

}



.addContent{
	margin:3px;
	background-color:lightgray;
	
    width: 250px;
    font-size: 16px;
    padding: 3px;
    border-radius: 5px;
    border: none;
}

.newOne{
	display:inline-box;
	position:relative;
	width:250px;
}

.xbtn{
	position:absolute;
	right:8px;
	top:4px;
}



#sendContent1, #sendContent2, #sendContent3{
    width: 150px;
    padding:8px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    /* 1228 모달창 button 가운데로 옮김. */
    margin-left: 50px;

}


.majorPopup{
	color:red;
	background-color:lightgray;
}

.modal_major {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal_career {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
/* .modal_license {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index:4;
  } */
  .modal_license{
	position:fixed;
	top:0;
    left:0;

	width:100%;
	height:100%;
	
	display:none;

	background:rgba(0,0,0,0.4);
    z-index: 2;
}

  .modal_license.show {
    display: block;
  }

  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

  /*   width: 400px;
    height: 600px; */

    padding: 40px;

   /*  text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
    
    z-index:100;
  }
  
  
  
.modal_body>span{
position:absolute;
right:20px;
top:20px;
cursor:pointer;
}


.modal_item {
    width: 200px;
    color: gray;
    font-weight: bold;
    margin:20px 0;
}

.modal_item + div{
    position: relative;
    top: -7px;
}

