body{
            margin:0;
        }

        #logo{
            width: 250px;
            height: 200px;  

           
            position: absolute;

            left: 60px;
            top:40px;

            /* border:1px solid black; */
        }

        #logo>img{
            width: 100%;
        }

      

        #header1{
            width: 1200px;
            height: 160px;
            margin:auto;
            
            position: relative;

            
        }

       

        .header-top{
            position: absolute;

            right: 20px;
            top:20px;
        }
        
        .header-top>a{
            margin:0 20px;

            cursor: pointer;
            color:black;
            text-decoration: none;
        }
        #nav{
            height: 35px;
            border-bottom: 2px solid black;
        }

        #nav>ul{
            width: 1200px;
            margin:auto;
        }

        #nav>ul>li{
            list-style: none;
            float: left;
            color:black;
        }
         #nav>ul>li>a{
            box-sizing: border-box;
            display: block;
         	text-decoration:none;
         	color:black;
            width: 145px;
            height: 35px;
            text-align: center;
            line-height: 35px;
         }
         #nav>ul>li>a:hover{
            background-color:  rgb(187, 185, 185);
            color: white;
            font-weight: bold;
            border-radius: 3px;
         }
