/* body 부분은 건들지 말것! */
body{
    margin:0;
}


/* 로고 */
#logo{
    width: 300px;
    height: 100px;  

    position: absolute;

    left: 0;
    top:20px;

}

#logo>img{
    width: 100%;
}


/* 헤더부분 */

#header1{
    width: 1200px;
    height: 160px;
    margin:auto;
    
    position: relative;

    
}


/* 검색창 */
#search{
    width: 500px;
   
    position: absolute;

    left: 380px;
    top:70px;

}

#search-input{
    padding:10px;
    width: 100%;
    border:none;
    border-bottom:2px solid #538126;
}

#search>span{

    position: absolute;

    right: 0;
    top:10px;

    color:#538126;

}

/* 헤더 오른쪽 위 부분 */

.header-top{
    position: absolute;

    right:0;
    top:20px;
}

.header-top>span{
    margin:0 20px;

    cursor: pointer;
    color:#538126;
}

/* nav */
#nav{
    height: 50px;
   /* border-top: 2px solid #538126; */
   border-bottom: 2px solid #538126;
   /* width: 1200px;
   margin:auto; */

   background-color: rgba(255, 255, 255, 0.677);

   position: sticky;
   top:0px;
   z-index: 1;
}

#nav>ul{
	padding-inline-start: 0;
	list-style:none;
    position: relative;
    width: 1200px;
    margin:auto;

    /* border-top: 2px solid #538126; */
}

#nav>ul>li{
    list-style: none;
    float: left;
    margin:15px 60px 15px 0;
}

#nav a{
    text-decoration: none;
    color:black;
}

.nav-project{

    position: absolute;

    top:12px;
    right:30px;
}




/* main부분 표시용으로 넣어놓음 */


.main{
    width: 1200px;
    margin:auto;
    /* background-color: #54812688; */
}

/* 사이드바 */
/* 
.side-part{
    width: 250px;
    height: 100%;
    background-color: #538126;
}

.side-part ul{
    padding:20px;
}

.side-part li{
    list-style: none;
    margin:20px 0;
} */



/* 메뉴 on/off 체크박스 */
#header-menu-toggle{
    display: none;
}


/* label 태그 중 for 속성 값이 header-menu-top */
label[for='header-menu-toggle']{
    cursor:pointer;
}

label[for='header-menu-toggle']:hover{
    text-decoration: underline;
}

/* 체크박스 다음 div */
#header-menu-toggle + div{ display:none; }

/* 체크박스가 체크된 경우 다음 div */
#header-menu-toggle:checked  + div{ display:block; }

/* 닉네임 클릭시 보이는 메뉴 */
#header-menu{
    position:absolute;

    z-index: 500;
    width: 100px;
    height: 80px;
    margin-top:5px;
    right:0;
    border: 1px solid black;
}


#header-menu>a{
    display:flex;
    height:50%;
    justify-content: center;
    align-items: center;
}

#header-menu>a:first-child{
    border-bottom:1px solid #ccc;
}

#header-menu>a:hover{
    background-color: #455ba890;
}

