
/* 헤더, 풋터를 제외한 각 페이지 영역 */
/* .content{
    width: 1400px;
    height: auto;
    display: flex;
    justify-content: center;
}
 */
/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: auto;
    display: flex;
	margin:auto;
}

/* 메인 영역 */
.mainContent{
    width: 1200px;
    height: auto;
}

#imageContent{
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* ///////////////////////////////////////// */
.mainContent img{
    margin-top: 70px;
    width: 220px;
    height: 220px;
}
#image{
    margin-right: 19.2px;
}
#image:nth-child(5n){
    margin-right: 0px;
}


#imageContent span{
    font-size: 13px;
    color: grey;
}


