
/* 헤더, 풋터를 제외한 각 페이지 영역 */
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: 1000px;
    display: flex;
}

/* 왼쪽 list */
.list{
    width: 300px;
    height: 1000px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}   

.chatting-list{
	width: 100%;
    margin: 0;
    padding: 0;
	list-style: none;
}

.chat{
    width: 600px;
    height: 1000px;
    background-color: #fff;
}

.chattingList{
    margin: 10px;
    width: 280px;
    background-color: #FFF;
    border: 1px solid green;
    display: inline-flex;
    flex-direction: column;
}

.chatting-item.select{/* 선택하면 색깔 */
	background-color: #ddd;
}

.chatting-item{/* 선택하면 커서 */
	cursor: pointer;
}

.chatting-item * {
	pointer-events: none;
}

.item-header{
    display: flex;
    flex-direction: row;
}
.chatting-item{
    list-style: none;
}

.item-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-message{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: start;
  width: 240px;
}

.chattingList img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 15px 10px;
}
#info{
    width: 150px;
    height: 100px;
    border: 1px solid green;
    margin: 10px;
}


/* chat(가운데) */
#chatBox{
    width: 600px;
    height: 830px;
    background-color:  antiquewhite;
    overflow: auto;/* 스크롤 추가 */
}
/* 채팅창 채팅 메세지 */
#chattingMessage{
    display: flex;
}
#chattingMessage img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
#message{
    width: 510px;
    height: auto;
    margin-top: 15px;
    background-color: white;
}

/* 채팅창 채팅 답변 */
#chattingReMessage{
    display: flex;
    flex-direction: row-reverse;
}
#chattingReMessage img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
}
#reMessage{
    width: 500px;
    height: auto;
    margin-top: 15px;
    background-color: rgb(183, 231, 183);
}



/* 메세지 입력창  */
#messageInput{
    width: 600px;
    height: 100px;
    display: flex;
}
#messageInput textarea{
    width: 550px;
    height: 60px;
    margin: 20px;
}
#messageButton{
    width: 600px;
    height: 70px;
    display: flex;
    border-bottom: 1px solid gray;

}
#addFile{
    width: 480px;
    height: 50px;
    background-color: white;
    margin: 0 20px;
}

#addFile input{
    
}

#insert{
    width: 60px;
    height: 50px;
    margin: 0px 0px;
}
#insert button{
    width: 60px;
    height: 50px;
    background-color: rgb(161, 159, 159);
    color: black;
    border: none;
    cursor: pointer;
}

/* 오른쪽 */

.expert{
    width: 300px;
    height: 1000px;
    background-color: rgb(204, 204, 204);
}   

.expert img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}   

.expert div:nth-child(1){
    width: 220px;
    height: 220px;
    margin: 30px 40px;
}   
.expert div:nth-child(2){
    width: 220px;
    height: 50px;
    margin: 0px 40px;
    font-weight: bold;
}   
.expert span{
    margin: 10px 15px 0 0 ;
}
.expert div:nth-child(3){
    width: 220px;
    height: 50px;
    margin: 10px 20px;
    position: relative;
}  
.expert a{
    position: absolute;
    right: 0;
}


.expert div:nth-child(4){
    width: 220px;
    height: 100px;
    margin: 50px 20px;
}  
.expert button{
    width: 260px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: green;
    border-radius: 5%;
    border: none;
    margin-top: 490px;
}

.outbtn.show {
    display: block;
}
.outbtn {
    display: none;
}



