
/* 헤더, 풋터를 제외한 각 페이지 영역 */
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: 700px;
    display: flex;
}

/* 왼쪽 list */
.list{
    width: 300px;
    height: 700px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}   

.chatting-list{
	width: 100%;
    margin: 0;
    padding: 0;
	list-style: none;
}

.chat{
    width: 630px;
    height: 700px;
    background-color: #fff;
}


.chat {
	display: inline-block;
	border-radius: 5px;
	text-align: left;
	word-break: break-all;
	padding:7px 10px; 
	margin:7px 0;
}

.chattingList{
  /*   margin: 10px; */
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid green;
    display: inline-flex;
    flex-direction: column;
}

.chatting-item.select{/* 선택하면 색깔 */
	background-color: #ddd;
}

.chatting-item{/* 선택하면 커서 */
	cursor: pointer;
}

.chatting-item * {
	pointer-events: none;
}

.item-header{
    display: flex;
    flex-direction: row;
    height:80px;
}
.chatting-item{
    list-style: none;
}

.item-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-message{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: start;
  width: 225px;
  margin-left:10px;
}

.chattingList img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px 10px;
}
#info{
    width: 150px;
    height: 68px;
    /* border: 1px solid green; */
    margin: 10px;
    padding:10px 0;
    text-align:left;
}

.item-content{
	position:relative;
}

.not-read-count{
	
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: -20px;
    border-radius: 10px;
    color: white;
	
}


/* chat(가운데) */
#chatBox{
    width: 630px;
    height: 585px;
    background-color: #F8F4EA;
    overflow-x: hidden;
    overflow-y: auto;

}

.display-chatting {
	width: 100%;
	list-style: none;
    padding: 0%;
}


/* 채팅창 채팅 메세지 */

.my-chat{
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right:10px;
}

.Daylist{
    display: flex;
    width: 100px;
    height: 20px;
    border-radius: 4%;
    background-color: rgb(85 139 50);
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom:10px;
}

.my-chat .chat{
    width: 430px;
    height: auto;
    background-color: white;
}

.chatDate{
    display: inline-flex;
    align-items: flex-end;
   	margin:5px 7px;
}

.imgContent{
    width: 300px;
   /*  height: 300px; */
    margin: 6px 0;
}

.aContent{
	display: inline-block;
	border-radius: 5px;
	text-align: left;
	word-break: break-all;
}

.my-chat .aContent{
   /*  width: 430px; */
    height: auto;
    background-color: white;
    padding:7px 10px;
    margin: 7px 0;
}

/* 채팅창 채팅 답변 */
.target-chat{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    align-items: center;
}
.target-chat>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:0 5px;
}
.target-chat .chat{
    width: 400px;
    height: auto;
    margin: 0;
    background-color: #538126;
    margin:7px 0;
}

.target-chat .aContent{
     /*  width: 430px; */
    height: auto;
    background-color:  #538126;
    padding:7px 10px;
    margin: 7px 0;
}

.target-dateBox{
    display: flex;
}

/* 메세지 입력창  */
#messageInput{
    width: 630px;
    height: 115px;
    display: flex;
   /*  align-items: center; */
}
#messageInput textarea{
    width: 474px;
    height: 73px;
    padding: 20px;
    resize: none;
   /*  border:none; */
}
#messageButton{
    width: 630px;
    height: 70px;
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;

}
#addFile{
    width: 114px;
    height: 40px;
   /*  margin: 0 20px; */
}

    
#addFile > label{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #558b32;
    color:#FFF;
    cursor: pointer;
   /*  position: relative; */
}

#addFile input{
    display: none;
}

#insert{
    width: 60px;
    height: 50px;
    margin: 0px 0px;
}
#insert button{
    width: 114px;
    height: 75px;
    background-color: rgb(161, 159, 159);
    color: black;
    border: none;
    cursor: pointer;
}

/* 오른쪽 */
.expert > a > img{
    width: 20px;
    height: 20px;
}

.expert > a{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
}

.expert{
    width: 290px;
    height: 700px;
    background-color: rgb(204, 204, 204);
}   

.expert >div img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
   /*  border:5px solid lightgray;
    border-box:box-sizing; */
}   

.expert div:nth-of-type(1){
    width: 220px;
    height: 220px;
    margin: 10px 40px 30px 40px;
}   
.expert div:nth-of-type(2){
    width: fit-content;
    height: 50px;
    margin:auto;
    font-weight: bold;
}   
.expert span{
    margin: 10px 15px 0 0 ;
}
.expert div:nth-of-type(3){
    width: 220px;
    height: 50px;
    margin: auto;
    position: relative;
}  
.expert > div a{
    position: absolute;
    right: 0;
}


/* .expert div:nth-child(4){
    width: 220px;
    height: 100px;
    margin: 50px 20px;
}  */ 
.expert button{
    display: flex;
    width: 260px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #558b32;
    border-radius: 5%;
    border: none;
    margin: 235px auto 1px;
    justify-content: center;
    align-items: center;
}

.outbtn.show {
    display: block;
}
.outbtn {
    display: none;
}

/* #my_modal{
    display: flex;
    flex-direction: column;
    
	justify-content: 'center';
    align-items: 'center';
} */
#chat_iframe{
    width: 550px;
    height: 550px;
    border: none;
    margin-top: 20px;
    margin-left: 40px;
}




