
/* 헤더, 풋터를 제외한 각 페이지 영역 */
.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: 1000px;
    display: flex;
}

/* 왼쪽 list */
.list{
    width: 300px;
    height: 1000px;
    background-color: rgb(204, 204, 204);
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}   

.chatting-list{
	width: 100%;
    margin: 0;
    padding: 0;
	list-style: none;
}

.chat{
    width: 600px;
    height: 1000px;
    background-color: #fff;
}

.chattingList{
    margin: 10px;
    width: 280px;
    background-color: #FFF;
    border: 1px solid green;
    display: inline-flex;
    flex-direction: column;
}

.chatting-item.select{/* 선택하면 색깔 */
	background-color: #ddd;
}

.chatting-item{/* 선택하면 커서 */
	cursor: pointer;
}

.chatting-item * {
	pointer-events: none;
}

.item-header{
    display: flex;
    flex-direction: row;
}
.chatting-item{
    list-style: none;
}

.item-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-message{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: start;
  width: 240px;
}

.chattingList img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 15px 10px;
}
#info{
    width: 150px;
    height: 100px;
    border: 1px solid green;
    margin: 10px;
}


/* chat(가운데) */
#chatBox{
    width: 600px;
    height: 830px;
    background-color:  antiquewhite;
    overflow-x: hidden;
    overflow-y: auto;

}

.display-chatting {
	width: 100%;
	list-style: none;
    padding: 0%;
}

.chat {
	display: inline-block;
	border-radius: 5px;
	text-align: left;
	word-break: break-all;
}

/* 채팅창 채팅 메세지 */

.my-chat{
    display: flex;
    margin-bottom: 3px;
    justify-content: flex-end;
    align-items: center;
}

.Daylist{
    display: flex;
    width: 100px;
    height: 20px;
    border-radius: 4%;
    background-color: rgb(85 139 50);
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.my-chat .chat{
    width: 430px;
    height: auto;
    background-color: white;
}

.chatDate{
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 1px;
}

.imgContent{
    width: 100px;
    height: 100px;
    margin: 6px 0;
}

.aContent{
	display: inline-block;
	border-radius: 5px;
	text-align: left;
	word-break: break-all;
}

.my-chat .aContent{
    width: 430px;
    height: auto;
    background-color: white;
    margin: 16px 0;
}

/* 채팅창 채팅 답변 */
.target-chat{
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    align-items: center;
}
.target-chat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2px;
}
.target-chat .chat{
    width: 400px;
    height: auto;
    margin: 0;
    background-color: rgb(183, 231, 183);
}

.target-chat .aContent{
    width: 400px;
    height: auto;
    margin: 0;
    background-color: rgb(183, 231, 183);
    margin: 16px 0;
}



/* 메세지 입력창  */
#messageInput{
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
}
#messageInput textarea{
    width: 475px;
    height: 60px;
    margin: 20px;
}
#messageButton{
    width: 600px;
    height: 70px;
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;

}
#addFile{
    width: 550px;
    height: 50px;
    margin: 0 20px;
}

    
#addFile > label{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #558b32;
    color:#FFF;
    cursor: pointer;
    position: relative;
}

#addFile input{
    display: none;
}

#insert{
    width: 60px;
    height: 50px;
    margin: 0px 0px;
}
#insert button{
    width: 60px;
    height: 50px;
    background-color: rgb(161, 159, 159);
    color: black;
    border: none;
    cursor: pointer;
}

/* 오른쪽 */

.expert{
    width: 300px;
    height: 1000px;
    background-color: rgb(204, 204, 204);
}   

.expert img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
}   

.expert div:nth-child(1){
    width: 220px;
    height: 220px;
    margin: 30px 40px;
}   
.expert div:nth-child(2){
    width: 220px;
    height: 50px;
    margin: 0px 40px;
    font-weight: bold;
}   
.expert span{
    margin: 10px 15px 0 0 ;
}
.expert div:nth-child(3){
    width: 220px;
    height: 50px;
    margin: 10px 20px;
    position: relative;
}  
.expert a{
    position: absolute;
    right: 0;
}


.expert div:nth-child(4){
    width: 220px;
    height: 100px;
    margin: 50px 20px;
}  
.expert button{
    width: 260px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: green;
    border-radius: 5%;
    border: none;
    margin-top: 490px;
}

.outbtn.show {
    display: block;
}
.outbtn {
    display: none;
}



