.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}

#question-list-title-area{
    display: inline-block;
    margin: 20px 0;
    width: 1100px;
    height: 150px;;
}

#question-list-title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 30px;
    width: 1040px;
}

.select-area{
    width: 300px;
    height: 40px;
    margin: 0 50px;
}
.select-area-input{
    width: 150px;
    height: 25px;
    margin-left: 15px;
    border-radius: 5px;
}




/* ================================ */
/* 중간 가로 줄 */
.question-list-table-column{
    border-bottom: 1px solid black;
}
/* ================================ */

/* ================================ */
/* 컬럼명들 */
.question-num{
    width: 100px;
}
.question-type{
    width: 150px;
}

.question-title{
    width: 450px;
}
.question-date{
    width: 200px;
}

.question-status{
    width: 200px;
    text-align: center;
}
/* ================================ */

/* ================================ */
/* 테이블 값 부분 */
#question-list-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.question-list-table-content{
    padding: 10px 0;
    height: 15px;
}
/* ================================ */



/* ================================ */
/* 상태 표시 - 답변 완료 */
.question-answer{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 15px;
    background-color: rgb(33, 138, 33);
}

/* 상태 표시 - 대기중  */
.question-wating{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 15px;
    background-color: rgb(165, 173, 165);

}
/* ================================ */