.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
    /* background-color: #54812688; */
}

.table-title{
    
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.question-table-title{
    margin: 20px 0;
}

.question-table-title > span{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.question-table-title > span:nth-child(1){
    width: 100px;
    /* background-color: red; */
    text-align: center;
}
.question-table-title > span:nth-child(2){
    width: 780px;
    /* background-color: orange; */
}
.question-table-title > span:nth-child(3){
    width: 100px;
    /* background-color: yellow; */
    text-align: center;

}
.question-table-title > span:nth-child(4){
    width: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    border-radius: 30%;
    background-color: green; 
    color: white;

}

.question-table{
    width: 1100px;
    border-top: 1px solid black;
}

.question-table  td{
    font-size: 25px;
}

.question-content > input{
    width: 1000px;
    height: 300px;

}
.column-title{
    vertical-align: top;
}

.file-area-title{
    display: inline-block;
    margin-right: 20px;
}

.file-area{
    display: inline-block;
    border: 1px solid black;
    margin-right: 20px;
}

.icon-area{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: green;
    border-radius: 50%;
    margin: 10px;
    
}




.content-area1{
    display: inline-block;
    width: 300px;
    height: 100px;
    margin-top: 10px;
}
    .content-area1 > input{
        width: 900px;
        height: 100px;
    }
.content-area2{
    width: 300px;
    height: 100px;
    margin-top: 10px;
}
    .content-area2 > input{
        width: 850px;
        height: 100px;
    }

.button-area{
    display: inline-block;
    width: 100px;
    height: 100px;
} 

.button-area > div{
    width: 130px;   
    height: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    border-radius: 15%;
    background-color: green;
    margin: 0 10px 0 20px;

    color: white;
}

.interval{
    margin-bottom:  20px;
}