.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}

#member-manage-title-area{
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px; 
}

#member-manage-title {

    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;
}

/* input태그, select태그 */
.search-area{
    width: 150px;
    height: 30px;
    vertical-align: middle;
    
}
.member-select-input{
    width: 150px;
    height: 30px;
    position: absolute;
    right: 160px;
    top: 20px;
}

.member-text-input{
    width: 150px;
    height: 25px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 20px;
}
/* --------------------------------- */



/* 테이블 컬럼 / 데이터값 */
#member-manage-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
}


.member-manage-table-column{
    border-bottom: 1px solid black;
}

/* 컬럼명들 */
.member-num{
    width: 100px;
}
.member-name{
    width: 350px;
}


.member-division{
    width: 300px;
}
.member-grade{
    width: 300px;
}

.member-delete{
    width: 100px;
    text-align: center;
}

/* 테이블 값 부분 */
.member-manage-table-content{
    padding: 10px 0;
    height: 15px;
}

.member-delete > span{
    display: inline-block;
    width: 90px;
    text-align: center;
    color: white;
    background-color: rgb(33, 138, 33);
    border-radius: 15px;

}