.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}

#member-manage-title-area{
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px; 
}

#member-manage-title {

    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;
}

/* input태그, select태그 */
.search-area{
    width: 150px;
    height: 30px;
    vertical-align: middle;
    
}
.member-select-input{
    width: 150px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.member-text-input{
    width: 150px;
    height: 25px;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 20px;
}
/* --------------------------------- */



/* 테이블 컬럼 / 데이터값 */
#member-manage-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
}


.member-manage-table-column{
    border-bottom: 1px solid black;
}

/* 컬럼명들 */
.member-num{
    width: 100px;
}
.member-name{
    width: 350px;
}


.member-division{
    width: 300px;
}
.member-grade{
    width: 200px;
}
.member-enrollDate{
		width: 400px;
}

/* 테이블 값 부분 */
.member-manage-table-content{
    padding: 10px 0;
    height: 15px;
}



/* 검색 */
#memberSearch{
    text-align: center;
    width: 500px;
    height: 30px;
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
}


#memberSearch * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#memberSearch select{
    width: 150px;
    height: 30px;
}

#memberSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
    height: 30px;
}  

#memberSearch button{
    width: 100px;
		font-size:15px;
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}


