.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
    /* background-color: #54812688; */
}

#review-manage-title-area{
    margin-top: 20px;
    margin-bottom: 20px; 
}

#review-manage-title {

    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;

}


/* 테이블 컬럼 / 데이터값 */

#review-manage-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    
}



.review-manage-table-column{
    border-bottom: 1px solid black;
}


/* 컬럼명들 */
.review-num{
    width: 100px;
}
.review-content{
    width: 650px;
}


.review-writer{
    width: 130px;
}


.review-delete{
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

/* 테이블 값 부분 */
.review-manage-table-content{
   /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    padding: 20px 0;
    height: 15px;
}

.review-delete > span{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
}
.deleteBtn{
    background-color: black;
}
.holdBtn{
    background-color: gray;
}