.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}



#service-list-title-area {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
#service-list-title {

    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;

}


.select-area{
    width: 150px;
    height: 30px;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    right: 0;
}

.select-area-input{
    width: 150px;
    height: 35px;    
}

.search-area > select{
    width: 150px;
    height: 35px;
    vertical-align: middle;
}





/* 테이블 컬럼 / 데이터값 */

#service-list-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
        padding-left: 20px;

}
.service-list-table-column{
    border-bottom: 1px solid black;
    /* justify-content: center; */


}

/* 컬럼명들 */
.service-num{
    width: 100px;
}
.service-title{
    width: 700px;
}
.service-status{
    width: 250px;
}
.service-button{
    width: 100px;
    text-align: center;
}

/* 테이블 값 부분 */
.service-list-table-content{
    padding: 10px 0;
    height: 15px;
}

.service-button-value{
    display: inline-block;
    width: 90px;
    border-radius: 15px;
    text-align: center;
    color: white;
    background-color: rgb(33, 138, 33);
}
