.main{
    width: 1100px;
    height: 1200px;
    margin: 0 auto;
}

#manager-buy-title-area{
    position: relative;

    margin-top: 20px;
    margin-bottom: 20px; }

#manager-buy-title {

    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 20px;
}
.search-area{
    position: absolute;
    right: 0;
    top: 20px;
}

.buy-search-input{
    width: 150px;
    height: 30px;

}


/* 컬럼명들 */
.manager-buy-table-column{
    border-bottom: 1px solid black;
}
#manager-buy-table > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.manager-num{
    width: 100px;
}
.manager-trade-num{
    width: 100px;
}

.manager-service-name{
    width: 450px;
    
}

.manager-expert{
    width: 100px;
}

.manager-customer{
    width: 100px;
}

.manager-work-status{
    width: 100px;
}

.manager-division{
    width: 100px;
}

.manager-option{
    width: 250px;
    text-align: center;
}

.manager-option > span{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    background-color: rgb(33, 138, 33);
    border-radius: 15px;
}


/* 테이블 값 부분 */
.manager-buy-table-content{
  /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    padding: 10px 0;
    height: 15px;
}