/* -------------헤더 풋터------------ */
.header{
    width: 1400px;
    height: 200px;
    background-color: green;
}
.footer{
    width: 1400px;
    height: 200px;
    background-color: green;
}
/* ------------------------------------ */


/* 헤더, 풋터를 제외한 각 페이지 영역 */
.content{
    width: 1400px;
    height: 800px;
    display: flex;
    justify-content: center;
}

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1100px;
    height: 800px;
    border-right: 1px solid black; 
    border-left: 1px solid black; 
    display: flex;
}

/* 사이드 메뉴 영역*/
.sideMenu{
    width: 200px;
    height: 800px;
    background-color: #bbbbbb;
}


/* 메인 영역 */
.mainContent{
    width: 900px;
    margin-left: 20px;
}

#thead{ 
    width: 150px;
    height: 50px;
}
#theadContent{
    height: 300px;
}
/* ---------테이블 테두리------------ */
table{
    border:1px solid #bbbbbb;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
table th, table td{
    border:1px solid #bbbbbb;
}
table th{
    border-left: none;
}
table td{
    border-right: none;
}
/* -------------------------------------- */
td{
    padding-left: 20px;
    width: 800px;
}

/* 구분 */
#division{
    width: 100px;
}
/* 제목 */
#title{
    width: 600px;
}

#inquirySubmit{
    padding: 50px;
}

/*  --------------사이드 메뉴  --------------*/
#inquiry,#inquiryList{
    margin: 30px 50px;
}



/* --------------등록버튼 --------------*/
.button{
    text-align: center;
}
#inquiryInsert{
    width: 80px;
    height: 30px;
}