

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1200px;
    height: auto;
    display: flex;
    margin:auto;
}

/* 사이드 메뉴 영역*/
.sideMenu{
    width: 300px;
    height: 800px;
}


/* 메인 영역 */
.mainContent{
    width: 900px;
    /* margin-left: 20px; */
}





/* 서비스 이미지 영역 */
#imageContent{
    display: flex;
    flex-wrap: wrap;
}
/* ///////////////////////////////////////// */
.mainContent img{
    width: 225px;
    height: 225px;
}
#image{
    height: 320px;
}
#image:nth-child(4n){
    margin-right: 0;
}




/* 셀렉박스 폼태그 */
#inquirySubmit{
    position:relative;
}
#budget{
    margin-right: 40px;
    margin-left: 10px;
    width: 150px;
    height: 25px;
}
#grade{
    margin-right: 380px;
    margin-left: 10px;
    width: 150px;
    height: 25px;
}

#index{
    height: 25px;
}

#listOrder{
    position: relative;
    left: 645px;
}

#imageContent span{
    display: block;
    width: 225px;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: grey;
}

#imageContent a{
    text-decoration: none;
    color: grey;
    margin-right: 25px;
    margin-top: 50px;
}


#inquirySubmit select:hover{
    border: 1px solid #538126;
} 

ul{
	list-style:none;    padding-inline-start: 0;
}

li{
	list-style:none;
}


