#signInMain{
    width: 500px;
    height: 800px;
    margin:auto;
    position: relative;
}

#signInMain *{
    box-sizing: border-box;
}

#signInLogo{
    margin-top: 100px;
    width: 400px;
}

#signInMain input:not(:last-child){
    width: 500px;
    color:#538126;
    border:2px solid #538126;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    margin:5px 0;
}

#signInMain input::placeholder{
    color:#538126;
    font-weight: bold;
}


  
  input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    position: relative;
    top: 6px;
}
input[type="checkbox"]+label>span:first-child{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #538126;
    position: relative;
    top: -3px;
}
input[type="checkbox"]:checked + label>span:first-child::after {
    content: "✔";
    color: #538126;
    position: relative;
    left: 4px
}

.checkboxText{
	color:black;
}



  #signInMain>form>a{
    
    position: absolute;
    right:0;
    text-decoration: none;
    color:black;
}




/* 로그인 버튼 */
#signInBtn{
    width: 500px;
    padding:10px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid #538126;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin:8px 0;
}
/* 회원가입 버튼 */
#signUpBtn{
	display:block;
	text-decoration:none;
	text-align:center;
    box-sizing: border-box;
    width: 500px;
    padding:10px 0;
    font-size: 16px;
    border:1px solid #538126;
    border-radius: 5px;
    background-color: white;
    color:#538126;
    font-weight: bold;
}
