.signUp{
    width: 500px;
    margin:auto;
}

.signUp *{
    box-sizing: border-box;
}



/* 회원가입 글자 */


#textSignUp{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:30px 0;
    display: block;
}



/* 회원가입 input */

.signUp input{
    padding:10px;
    font-size: 16px;
    margin:5px 0;
}

.signUp input::placeholder{
    color:#538126;
    font-weight: bold;
}

.signUp input:not(.exception,.checkbox), #job{
    width: 500px;
    color:#538126;
    border:2px solid #538126;
    border-radius: 5px;
   
    
}

#job{
    padding:10px;
    font-size: 16px;
    font-weight: bold;
    margin:5px 0;
}

.exception{
    width: 370px;
    border:2px solid #538126;
    border-radius: 5px;
}


#sendAuthKeyBtn,#checkAuthKeyBtn{ 
    width: 130px;
    padding:12px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}

.checkbox{
    display: inline-block;
    color: lightgray;
}

/* 회원가입 버튼 */
#signUpBtn{
    width: 500px;
    padding:13px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid white;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin:20px 0;
}


/* 관심분야 */
#signUpInterest{
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin:10px 0;
    padding:20px 0;
   
}


#textSignUpInterest{
    display: block;
    margin-bottom:8px;
    color:#538126;
    font-weight: bolder;
    font-size: 18px;
}



  #signUpInterest span,.agreeText{
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    padding:6px;
  }
  
  
  
/*   input[type="checkbox"]{
    position: relative;
    margin-top:10px;
}
.checkbox{
    font-size: 20px;
    position: relative;
    top: -4px;
    margin-right: 20px;
    cursor: pointer;
} */
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    position: relative;
    top: 6px;
}
input[type="checkbox"]+label>span:first-child{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 1px solid #538126;
    position: relative;
    top: 0px;
}
input[type="checkbox"]:checked + label>span:first-child::after {
    content: "✔";
    color: #538126;
    position: relative;
    top: -5px;
    left: 1px
}

.checkboxText{
	color:black;
}


/* 메시지 색상 지정 */
.confirm{color:green;}
.error{color:red;}

#text{
	color:black;
}