.main{
    width: 800px;
    margin: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: blanchedalmond
}

#title{
    color:#538126;
    font-weight: bolder;
    font-size: 30px;
    margin:30px 0 40px 0;
    display: block;
}

/* 프로필 */
.profile-image-area {
    width: 150px;
    height: 150px;
    border: 3px solid #538126ad;
    background-color: #548126ad;
    border-radius: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 이미지 넘치는 거 안보이게 하는데 x도 안 보임 */
    margin-left: 20px;
}

#profile-image {
    height: 100%;
}

form[name='myPage-frm'] {
    position: relative;
    display: flex;
    flex-direction: row;
}
/* 삭제버튼 */
#delete-image {
    position: absolute;
    top: -20px;
    right: 10px;
    cursor: pointer;
    color: black; /* 글씨가 안 보여어 */
    font-size: 30px;
    visibility: visible;
}

/* 이미지 버튼 영역 */
.profile-btn-area {
    width: 230px;
    margin: 20px 0;

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.profile-btn-area>* {
    width: 140px;
    height: 33px;
    padding: 5px 10px;
    margin-left: 20px;
    border: 1px solid #538126;
    background-color: #538126;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    border-radius: 5px;
}
.profile-btn-area>*:hover{
    transition: all 0.2s;
    border: 1px solid #497021;
    background-color: #497021;
}

#image-input {
    display: none;
}





/* input */
#inputArea >*{
    margin-bottom: 20px;
}
.item{
    font-size: 20px;
    color: #538126;
    font-weight: bold;
}
.input{
    width: 400px;
    height: 30px;
    color:#538126;
    border:2px solid #538126;
    border-radius: 10px;
}

input:focus{
    outline:1px solid #538126;
}


#checkbox{
    margin-top: 10px;
}
.checkbox{
    font-size: 20px;
    position: relative;
    top: -4px;
    margin-right: 70px;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 2px solid #538126;
}
input[type="checkbox"]:checked + label span::after {
    content: "✔";
    color: #538126;
    position: relative;
    top: -3px;
    left: 3px
}





/* 버튼 */
button{
    width: 200px;
    padding:8px 0;
    font-size: 20px;
    background-color: #538126;
    border:3px solid #538126;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    transition: all 0.2s;
    border: 3px solid #497021;
    background-color: #497021;
}
#cancleBtn{
    width: 400px;
    display: flex;
    justify-content: center;
}




/* 자기소개 */
#info input{
    width: 700px;
    height: 100px;
    margin: 10px 0;
}

/* 지역 */
#area{
    display: flex;
    margin: 20px 0;
}
#area div:nth-child(1){
    width: 150px;
}

/* 전문분야 */
#field{
    display: flex;
    margin: 20px 0;
}
#field label{
    margin-right: 13px;
}


#field div:nth-child(1){
    width: 150px;
}
#field div:nth-child(2){
    display: flex;
}

.checkBox{
    font-size: 20px;
    position: relative;
    top: -4px;
    margin-right: 60px;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label span{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
	border-radius: 5px;
    cursor: pointer;
    border: 2px solid #538126;
}
input[type="checkbox"]:checked + label span::after {
    content: "✔";
    color: #538126;
    position: relative;
    top: -3px;
    left: 3px
}


/* 기간 */
#period{
    display: flex;
    margin: 20px 0;
}
#period div:nth-child(1){
    width: 150px;
}
/* 경력사항 */
#career{
    display: flex;
    margin: 20px 0;
}
#career div:nth-child(1){
    width: 150px;
}
/* 자격증 */
#license{
    display: flex;
    margin: 20px 0;
}
#license div:nth-child(1){
    width: 150px;
}
/* 연락 가능 시간 */
#tellTime{
    display: flex;
    margin: 20px 0;
}
#tellTime div:nth-child(1){
    width: 150px;
}
/* 은행계좌 */
#bank{
    display: flex;
    margin: 20px 0;
}
#bank div:nth-child(1){
    width: 150px;
}
#bank div:nth-child(2){
    width: 100px;
}
#bank div:nth-child(3){
    text-align: center;
    width: 150px;
    background-color: gray;
}



/* 서비스 이미지 영역 */
#portFolio{
    display: flex;
    flex-wrap: wrap;
}
#image img{
    margin-top: 10px;
    width: 162px;
    height: 162px;
}
#image{
    margin-right: 20px;
}
#image:nth-child(4n){
    margin-right: 0;
}
#portFolio span{
    font-size: 11px;
    color: grey;
}







section{
    margin: 0 50px;
}