


/* 헤더, 풋터를 제외한 각 페이지 영역 */
.content{
    width: 1400px;
    height: 800px;
    display: flex;
    justify-content: center;
}

/* mainArea /sideMenu영역  */
.mainArea{
    width: 1100px;
    height: auto;
    border-right: 1px solid #538126; 
    border-left: 1px solid #538126; 
}

/* 메인 영역 */
.mainContent{
    width: 1200px;
    height: auto;
   /*  margin-left: 20px; */
   margin:auto;

}

#inquirySubmit{
    margin-top: 20px;
    height: 340px;
    display: flex;
}

/* 상단 페이지 리스트 */
#pageList{
    margin-top: 50px;
}
#pageList a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

/* 서비스 사진 영역 */
#serviceImage{
    width: 300px;
    height: 300px;
}
#serviceImage img{
    width: 300px;
    height: 300px;
}

/* 서비스명 */
#serviceText{
    margin-left: 20px;
    padding-left: 20px;
    border: 1px solid #538126; 
    height: 300px;
    width: 715px;
    
}
/* 예산 */
#budget{
    margin-right: 200px;
}

/* 제안하기 버튼 */
#proposal{
    width: 693px;
    height: 50px;
    border: none;
    background-color: #538126; 
    font-size: 20px;
    cursor: pointer;
}




/* 서비스 하단 설명 부분 */
#serviceInfo{
    width: 1055px;
    height: 300px;
    display: flex;
}
#serviceInfo div{
    width: 263px;
    height: 50px;
    font-size: 18px;
    color: black;
}
#serviceInfo button{
    width: 263px;
    height: 50px;
    border: 1px solid rgba(185, 181, 181, 0.926);
    background-color: rgb(225, 220, 220);
}
#serviceInfo button:hover{
    background-color: white;
    /* border: 1px solid rgba(185, 181, 181, 0.926); */
    border: 1px solid #538126; 
    border-bottom: none;
}

