#signInMain{
    width: 500px;
    height: 800px;
    margin:auto;
    position: relative;
}

#signInMain *{
    box-sizing: border-box;
}

#signInLogo{
    margin-top: 100px;
    width: 400px;
}

#signInMain input:not(:last-child){
    width: 500px;
    color:#538126;
    border:2px solid #538126;
    border-radius: 5px;
    padding:15px;
    font-size: 16px;
    margin:5px 0;
}

#signInMain input::placeholder{
    color:#538126;
    font-weight: bold;
}

input[id="saveId"]{
    display: none;
}

input[id="saveId"]+label{
    display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
    position: relative;
}

input[id="saveId"]:checked + label::after{
    color:#538126;
    content:'✔';
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: -5px;
    top:-8px;
  }

  .saveIdText{
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    padding:6px;
  }



  #signInMain>form>a{
    
    position: absolute;
    right:0;
    text-decoration: none;
    color:black;
}




/* 로그인 버튼 */
#signInBtn{
    width: 500px;
    padding:10px 0;
    font-size: 16px;
    background-color: #538126;
    border:1px solid #538126;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    margin:8px 0;
}
/* 회원가입 버튼 */
#signUpBtn{
    box-sizing: border-box;
    width: 500px;
    padding:10px 0;
    font-size: 16px;
    border:1px solid #538126;
    border-radius: 5px;
    background-color: white;
    color:#538126;
    font-weight: bold;
}