
.head{
  width: 800px;
  height: 90px;
}

/*----------------- 바디 -----------------*/
.body{
  width: 800px;
  height: 279px;
  border-bottom: 2px solid #9ea0ac44;
  background-color: rgb(255, 255, 255);
}
#title{
  width: 730px;
  height: 69px;
  padding-left: 60px;
  padding-top: 30px;
  font-size: 25px;
}
h3{
  margin: 0;
}

#content{
  width: 800px;
  height: 200px;
  display: flex;
}
/*----------------- 바디 -----------------*/

#content1{
  width: 220px;
  height: 170px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 20px;
}

#content2{
  width: 180px;
  height: 170px;
  padding-top: 30px;
  font-size: 18px;
}

#content3{
  width: 400px;
  height: 170px;
  padding-top: 30px;
  font-size: 18px;
}

.text{
  width: 220px;
  height: 40px;
}
#text1{
  width: 350px;
  height: 40px;
}
#text2{
  width: 350px;
  height: 40px;
}
#text3{
  width: 350px;
  height: 40px;
}
#text4{
  width: 350px;
  height: 40px;
}
/* ===============삭제 버튼=============== */
#box{
  width: 800px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
}
.deleteBox{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #538126;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 15px;
}
/* 삭제 버튼 */
.delete-image {
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -12px;
    right: 2px;
    color: white;
}
/* ===============삭제 버튼=============== */

.foot{
  width: 800px;
  height: 99px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

#payButton{
  width: 150px;
  height: 50px;
  border: 3px solid #538126;
  border-radius: 20px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  color : rgba(0, 0, 0, 0.87);
  margin-right: 20px;
  cursor: pointer;
}